@font-face {
	font-family: 'AA';
	src: url('../fonts/9080.ttf');
}

@font-face {
	font-family: 'HB';
	src: url('../fonts/HeliosBold_0.otf');
}

@font-face {
	font-family: 'HI';
	src: url('../fonts/HeliosItalic.otf');
}

@font-face {
	font-family: 'CB';
	src: url('../fonts/courbd.ttf');
}

@font-face {
	font-family: 'FR';
	src: url('../fonts/FranklinGothicMediumRegular.ttf');
}

@font-face {
	font-family: 'HLI';
	src: url('../fonts/HeliosLight-Italic_22356.ttf');
}

@font-face {
	font-family: 'HR';
	src: url('../fonts/file_0.otf');
}

@font-face {
	font-family: 'HBl';
	src: url('../fonts/HeliosBlack_0.otf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open Sans.eot');
	src: url('../fonts/Open Sans.eot?#iefix') format('embedded-opentype'), url('../fonts/Open Sans.woff') format('woff'), url('../fonts/Open Sans.ttf') format('truetype'), url('../fonts/Open Sans.svg#Open Sans') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}