
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	order: 1;	
    -webkit-order: 1;	
}
.header{
	position: absolute;
	width: 100%;
	z-index: 10;
	.wrapper{
		background: url(../img/line.png) center bottom no-repeat;
		background-size: 100%;
		padding: 1% 1% 1.4%;
		position: relative;
		width: 60.9375%;
	}
	&__nav{
		width: 60.1%;
		ul{
			list-style: none;
			li{
				a{
					font: 1.1458333333333333VW RL;
					color: #2c2a2b;
    				/*padding: 23% 0;*/
    				position: relative;
    				/*text-transform: uppercase;*/
    				&::after{
    					content: "";
    					position: absolute;
					    bottom: -107%;
					    left: 0;
					    width: 100%;
					    height: 2px;
					    background: #dc1837;
					    transition: 0.4s ease-in-out;
					    -webkit-transform: scale(0.4, 1);
					    -ms-transform: scale(0.4, 1);
					    transform: scale(0.4, 1);
					    opacity: 0;
    				}
    				&:hover{
    					color: #dc1837;
    					&::after{
    						-webkit-transform: scale(1, 1);
						    -ms-transform: scale(1, 1);
						    transform: scale(1, 1);
						    opacity: 1;
    					}
    				}
				}
			}
		}
	}
}
.logo{
	width: 14.6%;
	img{
		width: 100%;
	}
}
.phone{
	i{
		width: 10px;
		height: 10px;
		background: url(../img/bphone.png) center center no-repeat;
		display: inline-block;
    	margin-bottom: 1px;
	}
	a{
		font: 1.09375VW GR;
		letter-spacing: 0.02em;
		color: #262626;
	}
}
.langs{
	position: absolute;
	right: 8px;
	top: 5px;
	right: 0.8%;
	&__item{
		padding: 0 12px;
		opacity: 0.5;
		cursor: pointer;
		img{
			margin-right: 6px;
		}
		span{
			color: #262626;
			font: 14px RL;
			letter-spacing: 0.02em;
			text-transform: uppercase;
		}
		&:first-child{
			border-right: 1px solid #a39daa;
		}
		&_active{
			opacity: 1;
			span{
				border-bottom: 1px dashed #262626;
			}
		}
	}
}
.toggle{
	display: none;
}

@media screen and (min-width: 1201px) and (max-width: 1600px){
	.langs{
		&__item{
			span{
				font: 11px RL;
			}
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.header{
		.wrapper{
			max-width: 970px;
			/*padding: 20px;*/
		}
		&__nav{
			/*width: 500px;*/
			ul{
				li{
					a{
						/*font-size: 16px;*/
					}
				}
			}
		}
	}
	/*.logo{
		img{
			width: 140px;
		}
	}
	.phone{
		a{
			font-size: 19px;
		}
	}*/
	.langs{
		display: none;
	    top: 2px;
	    &__item{
	    	img{
	    		width: 13px;
	    	}
	    	span{
	    		font: 8px RL;
	    	}
	    }
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.header{
		.wrapper{
			max-width: 760px;
			/*padding: 20px;*/
		}
		&__nav{
			/*width: 370px;*/
			ul{
				li{
					a{
						/*font-size: 15px;*/
					}
				}
			}
		}
	}
	.logo{
		img{
			/*width: 120px;*/
		}
	}
	.phone{
		a{
			/*font-size: 17px;*/
		}
	}
	.langs{
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.header{
		.wrapper{
			background: none;
			padding: 20px 20px 28px;
			width: 100%;
		}
		&__nav{
			width: 100%;
			ul{
				li{
					margin: 0;
					padding: 3px 0;
					width: 50%;
					a{
						font-size: 22px;
					}
				}
			}
		}
	}
	.logo{
		margin-bottom: 10px;
		width: 130px;
		img{
		    width: 130px;
		}
	}
	.phone{
		padding-top: 6px;
    	width: 100%;
		a{
			font-size: 21px;
		}
	}
	.langs{
		top: 25px;
	}
	.toggle{
		display: block;
		position: absolute;
		top: 75px;
		right: 16px;
		span{
			width: 30px;
			display: block;
			height: 3px;
			background: #2c2a2b;
			margin-bottom: 6px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
