@media screen and (max-width: 768px) {
  header {
    height: auto;
    text-align: center;
    padding-bottom: 0; }
    header .header_cont .logo {
      float: none; }
    header .header_cont .header-main {
      float: none; }
      header .header_cont .header-main .h-phone {
        text-align: center; }
      header .header_cont .header-main .nav-menu {
        text-align: center; }
        header .header_cont .header-main .nav-menu .nav-toggle {
          display: block; }
        header .header_cont .header-main .nav-menu nav {
          display: none; }
          header .header_cont .header-main .nav-menu nav ul li {
            display: block;
            line-height: 31px; }
            header .header_cont .header-main .nav-menu nav ul li a {
              line-height: 25px; }
            header .header_cont .header-main .nav-menu nav ul li:last-child {
              margin-right: 25px; }

  .banner {
    min-height: auto; }
    .banner .banner_cont {
      width: 100%;
      min-height: auto;
      padding-top: 15%;
      padding-bottom: 19%;
      background-size: 320px 250px;
      background-position-y: center;
      background-position-x: center; }
      .banner .banner_cont h1 {
        font-size: 33px;
        line-height: 32px; }
        .banner .banner_cont h1 span {
          font-size: 26px; }
      .banner .banner_cont p {
        font-size: 22px;
        line-height: 28px; }
        .banner .banner_cont p .span2 {
          font-size: 19px; }

  .block1 {
    height: auto; }
    .block1 .block1_cont {
      height: auto;
      padding: 50px 0 25px 0;
      background: url(images/home.png) center 5% no-repeat;
      box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.9) inset;
      background-size: 325px; }
      .block1 .block1_cont img {
        display: none; }
      .block1 .block1_cont .text_left {
        margin-left: 0;
        text-align: center;
        float: none;
        padding-top: 0;
        margin-bottom: 25px; }
      .block1 .block1_cont .form-1 {
        float: none;
        width: 300px;
        height: 375px;
        margin: 0 auto; }
        .block1 .block1_cont .form-1 h2 {
          font-size: 25px;
          margin-top: 0;
          padding-top: 20px; }
        .block1 .block1_cont .form-1 p {
          font-size: 14px; }
        .block1 .block1_cont .form-1 .input {
          width: 100%; }
          .block1 .block1_cont .form-1 .input input, .block1 .block1_cont .form-1 .input label {
            margin: 0 auto;
            width: 76%; }
        .block1 .block1_cont .form-1 button {
          width: 86%; }

  .block2 {
    height: auto; }
    .block2 .block2_cont {
      padding: 40px 0; }
      .block2 .block2_cont h2 {
        font-size: 24px; }
      .block2 .block2_cont .services_cont {
        margin-top: 30px; }
        .block2 .block2_cont .services_cont .serv_blocks {
          width: 100%;
          margin: 5% 0; }

  .block3 .block3_cont {
    padding: 25px 0; }
    .block3 .block3_cont h2 {
      margin-bottom: 30px; }
    .block3 .block3_cont .b3_boxes {
      width: 90%;
      float: none;
      margin: 35px auto;
      text-align: center;
      max-width: 400px; }
      .block3 .block3_cont .b3_boxes:nth-child(2n) {
        margin-left: auto; }
      .block3 .block3_cont .b3_boxes p {
        font-size: 15px; }

  .block4 .block4_1 {
    width: 100%;
    height: 50%;
    background-size: cover; }
  .block4 .block4_2 {
    width: 60%;
    height: 25%;
    background-size: cover; }
  .block4 .block4_3 {
    background-size: cover;
    width: 40%;
    height: 25%;
    background-position-x: 40%; }
  .block4 .block4_4 {
    background-size: cover;
    width: 40%;
    height: 25%;
    background-position-x: 17%; }
  .block4 .block4_5 {
    background-size: cover;
    height: 25%;
    width: 60%; }

  .block5 .block5_cont {
    padding: 40px 0; }
    .block5 .block5_cont h2 {
      font-size: 26px; }

  .block6 {
    height: auto; }
    .block6 .block6_cont {
      padding: 30px 0; }
      .block6 .block6_cont .b6_left {
        float: none;
        text-align: center; }
        .block6 .block6_cont .b6_left p {
          font-size: 30px; }
          .block6 .block6_cont .b6_left p span {
            font-size: 20px; }
        .block6 .block6_cont .b6_left .apply {
          width: 205px;
          height: 40px;
          margin: 15px auto 0 auto; }
          .block6 .block6_cont .b6_left .apply p {
            font-size: 22px; }
        .block6 .block6_cont .b6_left ul {
          padding-left: 0; }
          .block6 .block6_cont .b6_left ul li {
            font-size: 17px; }
      .block6 .block6_cont .b6_right {
        float: none;
        width: 300px;
        height: 375px;
        margin: 0 auto; }
        .block6 .block6_cont .b6_right h2 {
          font-size: 25px;
          margin-top: 0;
          padding-top: 20px; }
        .block6 .block6_cont .b6_right p {
          font-size: 14px; }
        .block6 .block6_cont .b6_right .input {
          width: 100%; }
          .block6 .block6_cont .b6_right .input input, .block6 .block6_cont .b6_right .input label {
            margin: 0 auto;
            width: 76%; }
        .block6 .block6_cont .b6_right button {
          width: 86%; }

  .block7 .block7_cont {
    padding-top: 40px;
    padding-bottom: 0; }
    .block7 .block7_cont h2 {
      font-size: 29px; }
    .block7 .block7_cont table {
      width: 100%;
      margin-right: 0; }
      .block7 .block7_cont table tr td:first-child {
        width: 66%; }

  .block8 h2 {
    font-size: 29px;
    margin-bottom: 30px; }
  .block8 .block8_1 {
    width: 100%;
    height: 32%;
    background-size: cover; }
  .block8 .block8_2 {
    width: 60%;
    height: 25%;
    background-size: cover; }
  .block8 .block8_3 {
    background-size: cover;
    width: 40%;
    height: 25%;
    background-position-x: 40%; }
  .block8 .block8_4 {
    background-size: cover;
    width: 40%;
    height: 25%;
    background-position-x: 17%; }
  .block8 .block8_5 {
    background-size: cover;
    height: 25%;
    width: 60%; }

  .block9 .block9_cont {
    padding: 40px 0 90px 0; }
    .block9 .block9_cont h2 {
      font-size: 30px; }
    .block9 .block9_cont p {
      font-size: 18px; }
    .block9 .block9_cont .b9_blocks_cont .b9_blocks {
      margin-bottom: 15px; }

  .block10 .block10_cont {
    padding: 0 0 40px 0; }
    .block10 .block10_cont p {
      font-size: 15px;
      margin-left: 10px;
      margin-right: 10px; }

  .block11 {
    height: auto; }
    .block11 .block11_cont .map {
      width: 100%;
      height: 300px;
      float: none;
      background-size: 218%;
      background-position: 25% 70%; }
    .block11 .block11_cont .cont-form {
      height: auto;
      width: 100%;
      float: none;
      padding-top: 40px;
      padding-bottom: 40px; }
      .block11 .block11_cont .cont-form form {
        width: 300px;
        height: 375px;
        margin: 0 auto; }
        .block11 .block11_cont .cont-form form h2 {
          font-size: 25px;
          margin-top: 0;
          padding-top: 20px; }
        .block11 .block11_cont .cont-form form p {
          font-size: 14px; }
        .block11 .block11_cont .cont-form form .input {
          width: 100%; }
          .block11 .block11_cont .cont-form form .input input, .block11 .block11_cont .cont-form form .input label {
            margin: 0 auto;
            width: 76%; }
        .block11 .block11_cont .cont-form form button {
          width: 86%; }

  footer {
    height: auto; }
    footer .footer_cont .f_blocks {
      padding: 30px 0; }
      footer .footer_cont .f_blocks .f_block {
        display: block;
        margin: 40px auto; }
      footer .footer_cont .f_blocks .f_block_3 {
        text-align: center; }

  .fixed-cf {
    width: 275px;
    height: 38px;
    right: -119px; }
    .fixed-cf a {
      font-size: 15px;
      line-height: 37px; } }
@media screen and (min-width: 450px) and (max-width: 768px) {
  .block11 .block11_cont .map {
    background-position: 25% 21%; } }
@media screen and (min-width: 769px) and (max-width: 997px) {
  header {
    height: auto; }
    header .header_cont {
      padding-bottom: 20px; }
      header .header_cont .logo {
        float: none;
        text-align: center; }
      header .header_cont .header-main {
        float: none; }
        header .header_cont .header-main .h-phone {
          text-align: center; }
        header .header_cont .header-main .nav-menu {
          text-align: center; }

  .block1 .block1_cont img {
    top: 6%;
    width: 29%; }

  .block2 {
    height: auto; }
    .block2 .block2_cont .services_cont .serv_blocks {
      vertical-align: top; }

  .block4 {
    height: 500px; }
    .block4 .block4_1 {
      height: 500px;
      background-size: cover; }
    .block4 .block4_2 {
      height: 250px;
      background-size: cover; }
    .block4 .block4_3 {
      height: 250px;
      background-size: cover; }
    .block4 .block4_4 {
      height: 250px;
      background-size: cover; }
    .block4 .block4_5 {
      height: 250px;
      background-size: cover; }

  .block6 {
    height: auto; }
    .block6 .block6_cont {
      padding: 30px 0; }
      .block6 .block6_cont .b6_left {
        float: none;
        text-align: center; }
        .block6 .block6_cont .b6_left p {
          font-size: 30px; }
          .block6 .block6_cont .b6_left p span {
            font-size: 20px; }
        .block6 .block6_cont .b6_left .apply {
          width: 205px;
          height: 40px;
          margin: 15px auto 0 auto; }
          .block6 .block6_cont .b6_left .apply p {
            font-size: 22px; }
        .block6 .block6_cont .b6_left ul {
          padding-left: 0; }
          .block6 .block6_cont .b6_left ul li {
            font-size: 17px; }
      .block6 .block6_cont .b6_right {
        float: none;
        width: 300px;
        height: 375px;
        margin: 0 auto; }
        .block6 .block6_cont .b6_right h2 {
          font-size: 25px;
          margin-top: 0;
          padding-top: 20px; }
        .block6 .block6_cont .b6_right p {
          font-size: 14px; }
        .block6 .block6_cont .b6_right .input {
          width: 100%; }
          .block6 .block6_cont .b6_right .input input, .block6 .block6_cont .b6_right .input label {
            margin: 0 auto;
            width: 76%; }
        .block6 .block6_cont .b6_right button {
          width: 86%; }

  .block7 .block7_cont table {
    max-width: 552px;
    width: 49%;
    margin-right: 2%; }

  .block8 {
    height: 620px; }
    .block8 .block8_1 {
      height: 500px;
      background-size: cover; }
    .block8 .block8_2 {
      height: 250px;
      background-size: cover; }
    .block8 .block8_3 {
      height: 250px;
      background-size: cover; }
    .block8 .block8_4 {
      height: 250px;
      background-size: cover; }
    .block8 .block8_5 {
      height: 250px;
      background-size: cover; }

  .block10 .block10_cont p {
    width: 90%;
    margin: 0 auto 40px auto; }

  .block11 {
    height: auto; }
    .block11 .block11_cont .map {
      width: 100%;
      height: 300px;
      float: none;
      background-size: 142%;
      background-position: 7% 37%; }
    .block11 .block11_cont .cont-form {
      height: auto;
      width: 100%;
      float: none;
      padding-top: 40px;
      padding-bottom: 40px; }
      .block11 .block11_cont .cont-form form {
        width: 300px;
        height: 375px;
        margin: 0 auto; }
        .block11 .block11_cont .cont-form form h2 {
          font-size: 25px;
          margin-top: 0;
          padding-top: 20px; }
        .block11 .block11_cont .cont-form form p {
          font-size: 14px; }
        .block11 .block11_cont .cont-form form .input {
          width: 100%; }
          .block11 .block11_cont .cont-form form .input input, .block11 .block11_cont .cont-form form .input label {
            margin: 0 auto;
            width: 76%; }
        .block11 .block11_cont .cont-form form button {
          width: 86%; }

  footer {
    height: auto; }
    footer .footer_cont .f_blocks {
      padding: 30px 0; }
      footer .footer_cont .f_blocks .f_block {
        display: block;
        margin: 40px auto; }
      footer .footer_cont .f_blocks .f_block_3 {
        text-align: center; } }
@media screen and (min-width: 998px) and (max-width: 1368px) {
  header .header_cont .logo img {
    padding-left: 20px; }

  .block2 .block2_cont .services_cont .serv_blocks {
    vertical-align: top; }

  .block4 {
    height: 500px; }
    .block4 .block4_1 {
      height: 500px;
      background-size: cover; }
    .block4 .block4_2 {
      height: 250px;
      background-size: cover; }
    .block4 .block4_3 {
      height: 250px;
      background-size: cover; }
    .block4 .block4_4 {
      height: 250px;
      background-size: cover; }
    .block4 .block4_5 {
      height: 250px;
      background-size: cover; }

  .block6 .block6_cont .b6_left {
    width: 60%;
    padding-left: 2%; }
  .block6 .block6_cont .b6_right {
    margin-right: 2%; }

  .block7 .block7_cont table {
    max-width: 552px;
    width: 49%;
    margin-right: 2%; }

  .block8 {
    height: 620px; }
    .block8 .block8_1 {
      height: 500px;
      background-size: cover; }
    .block8 .block8_2 {
      height: 250px;
      background-size: cover; }
    .block8 .block8_3 {
      height: 250px;
      background-size: cover; }
    .block8 .block8_4 {
      height: 250px;
      background-size: cover; }
    .block8 .block8_5 {
      height: 250px;
      background-size: cover; }

  .block10 .block10_cont p {
    width: 90%;
    margin: 0 auto 40px auto; }

  .block11 .block11_cont .map {
    background-size: 270%;
    background-position: 25% 26%; }
  .block11 .block11_cont .cont-form form {
    margin: 85px auto 0 auto; }

  footer .footer_cont .f_blocks .f_block {
    margin: 0 50px; } }

/*# sourceMappingURL=responsive.css.map */
