body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

header {
  background: #ffffff;
  height: 100px;
  width: 100%; }
  header .header_cont {
    max-width: 1140px;
    margin: 0 auto; }
    header .header_cont .logo {
      float: left;
      padding-top: 15px; }
    header .header_cont .header-main {
      float: right; }
      header .header_cont .header-main .h-phone {
        text-align: right;
        padding-top: 15px; }
        header .header_cont .header-main .h-phone img {
          margin-bottom: -4px; }
        header .header_cont .header-main .h-phone p {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #444444;
          display: inline-block; }
          header .header_cont .header-main .h-phone p:last-child {
            margin-left: 15px; }
          header .header_cont .header-main .h-phone p span {
            color: #e0182a; }
      header .header_cont .header-main .nav-menu {
        text-align: right;
        padding-top: 20px; }
        header .header_cont .header-main .nav-menu .nav-toggle {
          display: none;
          background: #e0182a;
          height: 30px; }
          header .header_cont .header-main .nav-menu .nav-toggle .nt_cont {
            width: 360px;
            margin: 0 auto;
            text-align: left;
            max-width: 300px;
            cursor: pointer; }
          header .header_cont .header-main .nav-menu .nav-toggle a {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            text-decoration: none;
            line-height: 30px; }
          header .header_cont .header-main .nav-menu .nav-toggle .h-icon {
            border-top: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            width: 25px;
            height: 12px;
            cursor: pointer;
            position: relative;
            margin: 7px auto;
            float: right; }
            header .header_cont .header-main .nav-menu .nav-toggle .h-icon:before {
              content: '';
              display: inline-block;
              position: absolute;
              top: 50%;
              left: 0px;
              width: 100%;
              border-top: 2px #ffffff solid;
              margin-top: -1px; }
        header .header_cont .header-main .nav-menu nav ul li {
          display: inline-block;
          margin: 0 25px; }
          header .header_cont .header-main .nav-menu nav ul li:last-child {
            margin-right: 0; }
          header .header_cont .header-main .nav-menu nav ul li a {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #444444;
            text-decoration: none; }
            header .header_cont .header-main .nav-menu nav ul li a:hover {
              color: #e0182a; }

.banner {
  background: url(images/banner.jpg);
  background-size: cover;
  background-position-y: 14%;
  min-height: 700px; }
  .banner .banner_cont {
    width: 650px;
    text-align: center;
    margin: 0 auto;
    padding-top: 231px;
    padding-bottom: 180px;
    background: url(images/garanty.png) no-repeat;
    background-size: 100%;
    background-position-y: 170px; }
    .banner .banner_cont h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 64px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 50px; }
      .banner .banner_cont h1 span {
        font-size: 36px;
        text-transform: lowercase; }
    .banner .banner_cont .banner-border {
      height: 2px;
      width: 150px;
      margin: 10px auto;
      background-color: #cccccc; }
    .banner .banner_cont p {
      color: #ffb533;
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 34px; }
      .banner .banner_cont p .span2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        font-weight: 400;
        color: #ffffff; }

.block1 {
  background: #ffffff;
  height: 625px; }
  .block1 .block1_cont {
    max-width: 950px;
    margin: 0 auto;
    padding: 100px 0;
    height: 425px;
    background: url(images/home.png) 63% 67% no-repeat;
    position: relative; }
    .block1 .block1_cont img {
      position: absolute;
      left: 0;
      top: 20px; }
    .block1 .block1_cont .text_left {
      margin-left: 50px;
      padding-top: 20px;
      float: left; }
      .block1 .block1_cont .text_left p {
        font-family: "Open Sans", sans-serif;
        font-size: 23px;
        font-weight: 300;
        color: #463c31; }
        .block1 .block1_cont .text_left p:first-child {
          margin-bottom: 20px; }
        .block1 .block1_cont .text_left p:last-child {
          font-size: 18px;
          margin-top: 20px; }
        .block1 .block1_cont .text_left p span {
          color: #444444;
          font-family: 'Lobster', cursive;
          font-size: 33px;
          font-weight: 400;
          letter-spacing: 0.02em;
          line-height: 23px;
          margin-top: 20px; }
          .block1 .block1_cont .text_left p span span {
            font-size: 24px; }
        .block1 .block1_cont .text_left p .red {
          color: #f83030;
          font-size: 59px;
          line-height: 52px;
          margin-top: 0; }
    .block1 .block1_cont .form-1 {
      height: 425px;
      float: right;
      width: 360px;
      background: #eee3d3;
      border-radius: 9px;
      text-align: center; }
      .block1 .block1_cont .form-1 h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #655043;
        margin-bottom: 20px;
        margin-top: 35px; }
      .block1 .block1_cont .form-1 p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #655043;
        margin-bottom: 35px; }
      .block1 .block1_cont .form-1 .input {
        height: 40px;
        width: 360px;
        position: relative;
        margin-bottom: 15px; }
        .block1 .block1_cont .form-1 .input input {
          height: 40px;
          width: 290px;
          border: 0;
          border-radius: 3px;
          padding: 0 15px; }
        .block1 .block1_cont .form-1 .input input, .block1 .block1_cont .form-1 .input label {
          position: absolute;
          top: 0;
          left: 20px; }
        .block1 .block1_cont .form-1 .input label {
          top: 10px;
          left: 35px;
          cursor: text; }
      .block1 .block1_cont .form-1 button {
        border-radius: 3px;
        width: 320px;
        height: 50px;
        background: #ffad1e;
        font-family: 'Lobster', cursive;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 0.02em;
        border: 0; }

.block2 {
  background: url(images/bg2.png);
  background-size: cover;
  height: 500px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5) inset; }
  .block2 .block2_cont {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0; }
    .block2 .block2_cont h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: 400;
      color: #ffffff; }
    .block2 .block2_cont .services_cont {
      margin-top: 60px; }
      .block2 .block2_cont .services_cont .serv_blocks {
        display: inline-block;
        width: 28%;
        margin: 0 2%; }
        .block2 .block2_cont .services_cont .serv_blocks p {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: 600;
          color: #ffffff;
          line-height: 30px;
          margin-top: 12px; }
          .block2 .block2_cont .services_cont .serv_blocks p span {
            font-size: 16px;
            font-weight: 400; }

.block3 .block3_cont {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 90px 0; }
  .block3 .block3_cont h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000;
    margin-bottom: 50px; }
    .block3 .block3_cont h2 img {
      margin-bottom: -4px; }
  .block3 .block3_cont .b3_boxes {
    width: 49%;
    float: left;
    text-align: left;
    margin-bottom: 35px; }
    .block3 .block3_cont .b3_boxes:nth-child(2n) {
      margin-left: 2%; }
    .block3 .block3_cont .b3_boxes p {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #000;
      margin-bottom: 15px; }
      .block3 .block3_cont .b3_boxes p img {
        margin-bottom: -7px;
        margin-right: 15px; }
      .block3 .block3_cont .b3_boxes p:first-child {
        height: 40px; }
      .block3 .block3_cont .b3_boxes p span {
        font-size: 16px;
        font-weight: 400;
        color: #444444; }

.block4 {
  height: 700px; }
  .block4 .block4_1 {
    width: 40%;
    height: 700px;
    float: left;
    background: url(images/4-1.jpg); }
  .block4 .block4_2 {
    float: left;
    width: 25%;
    height: 350px;
    background: url(images/4-2.jpg); }
  .block4 .block4_3 {
    float: left;
    width: 35%;
    height: 350px;
    background: url(images/4-3.jpg);
    background-position-y: 98%; }
  .block4 .block4_4 {
    float: left;
    width: 40%;
    height: 350px;
    background: url(images/4-4.jpg); }
  .block4 .block4_5 {
    float: left;
    height: 350px;
    width: 20%;
    background: url(images/4-5.jpg); }

.block5 .block5_cont {
  text-align: center;
  padding: 100px 0 90px 0; }
  .block5 .block5_cont h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000;
    margin-bottom: 40px; }
    .block5 .block5_cont h2 span {
      color: #e0182a; }
  .block5 .block5_cont .b5_blocks_cont {
    max-width: 1140px;
    margin: 0 auto; }
    .block5 .block5_cont .b5_blocks_cont .b5_block {
      width: 260px;
      text-align: center;
      display: inline-block;
      margin-bottom: 5px; }
      .block5 .block5_cont .b5_blocks_cont .b5_block .b5-img {
        height: 200px;
        position: relative;
        overflow: hidden; }
        .block5 .block5_cont .b5_blocks_cont .b5_block .b5-img .b5-text {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 40px 20px 0 20px; }
          .block5 .block5_cont .b5_blocks_cont .b5_block .b5-img .b5-text p {
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            font-size: 18px;
            color: #666666;
            line-height: 17px; }
            .block5 .block5_cont .b5_blocks_cont .b5_block .b5-img .b5-text p:first-child {
              margin-bottom: 15px; }
            .block5 .block5_cont .b5_blocks_cont .b5_block .b5-img .b5-text p span {
              font-size: 12px; }
      .block5 .block5_cont .b5_blocks_cont .b5_block .b5-price {
        height: 80px;
        border-top: 0;
        padding-top: 20px;
        position: relative; }
        .block5 .block5_cont .b5_blocks_cont .b5_block .b5-price .triangle {
          display: none;
          transform: scaleX(2);
          color: white;
          position: absolute;
          top: -4px;
          text-shadow: 0 1px 0px #dbdbdb; }
        .block5 .block5_cont .b5_blocks_cont .b5_block .b5-price p {
          color: #222222;
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px; }
          .block5 .block5_cont .b5_blocks_cont .b5_block .b5-price p span {
            color: #e0182a; }
      .block5 .block5_cont .b5_blocks_cont .b5_block:hover .triangle {
        display: inline-block; }
      .block5 .block5_cont .b5_blocks_cont .b5_block:hover .b5-text {
        display: block; }
      .block5 .block5_cont .b5_blocks_cont .b5_block:hover img {
        filter: grayscale(100%);
        opacity: 0.3; }
      .block5 .block5_cont .b5_blocks_cont .b5_block:hover .b5-img {
        box-shadow: 0 0 1px #bcbcbc; }
      .block5 .block5_cont .b5_blocks_cont .b5_block:hover .b5-price {
        box-shadow: 0 0 1px #bcbcbc;
        background: #fbfbfb; }
    .block5 .block5_cont .b5_blocks_cont .b5_block_1 .b5-img img {
      margin-left: -24px;
      margin-top: -45px; }
    .block5 .block5_cont .b5_blocks_cont .b5_block_2 .b5-img img {
      margin-left: -15px;
      margin-top: -37px; }
    .block5 .block5_cont .b5_blocks_cont .b5_block_5 .b5-img img {
      margin-top: -30px; }
    .block5 .block5_cont .b5_blocks_cont .b5_block_7 .b5-img img {
      padding-top: 24px; }
    .block5 .block5_cont .b5_blocks_cont .b5_block_8 .b5-img img {
      padding-top: 40px; }

.block6 {
  background: url(images/bg3.jpg);
  background-size: cover;
  height: 700px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5) inset; }
  .block6 .block6_cont {
    max-width: 1140px;
    margin: 0 auto;
    padding: 140px 0 130px; }
    .block6 .block6_cont .b6_left {
      float: left;
      padding-top: 15px; }
      .block6 .block6_cont .b6_left p {
        font-family: "Open Sans", sans-serif;
        font-size: 46px;
        font-weight: 600;
        color: #ffffff; }
        .block6 .block6_cont .b6_left p span {
          font-family: "Open Sans", sans-serif;
          font-size: 26px;
          font-weight: 600;
          color: #ffffff;
          vertical-align: text-top;
          padding-left: 10px; }
      .block6 .block6_cont .b6_left .apply {
        background: #f83030;
        width: 235px;
        height: 45px;
        margin-top: 40px; }
        .block6 .block6_cont .b6_left .apply p {
          font-family: "Open Sans", sans-serif;
          font-size: 26px;
          font-weight: 600;
          color: #ffffff;
          padding: 3px 14px; }
      .block6 .block6_cont .b6_left ul {
        margin-top: 15px;
        padding-left: 10px; }
        .block6 .block6_cont .b6_left ul li {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: 600;
          color: #ffffff;
          line-height: 40px;
          list-style: none; }
          .block6 .block6_cont .b6_left ul li:before {
            content: url(images/check.png);
            margin-right: 15px; }
    .block6 .block6_cont .b6_right {
      height: 425px;
      float: right;
      width: 360px;
      background: #ffffff;
      border-radius: 9px;
      text-align: center; }
      .block6 .block6_cont .b6_right h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #655043;
        margin-bottom: 20px;
        margin-top: 35px; }
      .block6 .block6_cont .b6_right p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #655043;
        margin-bottom: 35px; }
      .block6 .block6_cont .b6_right .input {
        height: 40px;
        width: 360px;
        position: relative;
        margin-bottom: 15px; }
        .block6 .block6_cont .b6_right .input input, .block6 .block6_cont .b6_right .input label {
          position: absolute;
          top: 0;
          left: 20px; }
        .block6 .block6_cont .b6_right .input input {
          height: 38px;
          width: 288px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          padding: 0 15px; }
          .block6 .block6_cont .b6_right .input input:focus label {
            display: none; }
        .block6 .block6_cont .b6_right .input label {
          top: 10px;
          left: 35px;
          cursor: text; }
      .block6 .block6_cont .b6_right button {
        border-radius: 3px;
        width: 320px;
        height: 50px;
        background: #ffad1e;
        font-family: 'Lobster', cursive;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 0.02em;
        border: 0; }

.block7 {
  background: url(images/bg4.png) center center no-repeat;
  background-position-y: 62%;
  background-size: 74%; }
  .block7 .block7_cont {
    text-align: center;
    padding: 90px 0 40px 0;
    max-width: 1140px;
    margin: 0 auto; }
    .block7 .block7_cont h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      color: #000;
      font-weight: 400;
      margin-bottom: 17px; }
      .block7 .block7_cont h2 span {
        color: #e0182a; }
    .block7 .block7_cont p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      color: #444444;
      font-weight: 400; }
      .block7 .block7_cont p span {
        color: #e0182a; }
    .block7 .block7_cont table {
      width: 552px;
      text-align: left;
      float: left;
      border-collapse: collapse;
      margin-right: 30px;
      margin-top: 40px; }
      .block7 .block7_cont table:last-child {
        margin-right: 0; }
      .block7 .block7_cont table tr {
        border: 1px solid #d6d6d6;
        height: 65px;
        background: #ffffff; }
        .block7 .block7_cont table tr:nth-child(even) {
          background: #f5f5f5; }
        .block7 .block7_cont table tr td {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: #444444;
          border: 1px solid #d6d6d6; }
          .block7 .block7_cont table tr td:first-child {
            width: 353px;
            padding-left: 10px; }
          .block7 .block7_cont table tr td:last-child {
            text-align: center; }

.block8 {
  height: 820px;
  text-align: center;
  padding-top: 50px; }
  .block8 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 70px; }
    .block8 h2 span {
      color: #e0182a; }
  .block8 .block8_1 {
    width: 40%;
    height: 700px;
    float: left;
    background: url(images/8-1.jpg);
    background-position-x: 37%; }
  .block8 .block8_2 {
    float: left;
    width: 25%;
    height: 350px;
    background: url(images/8-2.jpg); }
  .block8 .block8_3 {
    float: left;
    width: 35%;
    height: 350px;
    background: url(images/8-3.jpg);
    background-position-y: 98%; }
  .block8 .block8_4 {
    float: left;
    width: 40%;
    height: 350px;
    background: url(images/8-4.jpg); }
  .block8 .block8_5 {
    float: left;
    height: 350px;
    width: 20%;
    background: url(images/8-5.jpg); }

.block9 .block9_cont {
  text-align: center;
  padding: 90px 0 115px 0;
  background: url(images/bg5.png);
  background-size: cover; }
  .block9 .block9_cont h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 20px; }
    .block9 .block9_cont h2 span {
      color: #e0182a; }
  .block9 .block9_cont p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #222222; }
  .block9 .block9_cont .b9_blocks_cont {
    margin-top: 50px; }
    .block9 .block9_cont .b9_blocks_cont .b9_blocks {
      width: 167px;
      height: 167px;
      border: 2px solid gray;
      margin: 15px 63px;
      display: inline-block;
      border-radius: 100%;
      vertical-align: middle;
      position: relative; }
      .block9 .block9_cont .b9_blocks_cont .b9_blocks img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .block9 .block9_cont .b9_blocks_cont .b9_block_1 {
      border-color: #ff4743; }
    .block9 .block9_cont .b9_blocks_cont .b9_block_3 {
      border-color: #2e33ec; }
    .block9 .block9_cont .b9_blocks_cont .b9_block_4 {
      border-color: #ff7800; }

.block10 .block10_cont {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 70px 0; }
  .block10 .block10_cont h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 30px; }
  .block10 .block10_cont p {
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 50px;
    position: relative; }
    .block10 .block10_cont p:before {
      content: "";
      display: block;
      height: 115px;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 96%); }
  .block10 .block10_cont a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #444444; }
  .block10 .block10_cont span {
    padding-left: 5px; }

.block11 {
  height: 600px; }
  .block11 .block11_cont .map {
    width: 60%;
    height: 600px;
    float: left;
    background: url(images/map.jpg);
    background-size: 174%;
    background-position: 6% 25%; }
  .block11 .block11_cont .cont-form {
    width: 40%;
    height: 600px;
    float: right;
    background: url(images/bg6.jpg); }
    .block11 .block11_cont .cont-form form {
      height: 425px;
      width: 360px;
      background: #ffffff;
      border-radius: 9px;
      text-align: center;
      margin-left: 95px;
      margin-top: 85px; }
      .block11 .block11_cont .cont-form form h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #655043;
        margin-bottom: 20px;
        padding-top: 35px; }
      .block11 .block11_cont .cont-form form p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #655043;
        margin-bottom: 35px; }
      .block11 .block11_cont .cont-form form .input {
        height: 40px;
        width: 360px;
        position: relative;
        margin-bottom: 15px; }
        .block11 .block11_cont .cont-form form .input input, .block11 .block11_cont .cont-form form .input label {
          position: absolute;
          top: 0;
          left: 20px; }
        .block11 .block11_cont .cont-form form .input input {
          height: 40px;
          width: 290px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          padding: 0 15px; }
          .block11 .block11_cont .cont-form form .input input:focus label {
            display: none; }
        .block11 .block11_cont .cont-form form .input label {
          top: 10px;
          left: 35px;
          cursor: text; }
      .block11 .block11_cont .cont-form form button {
        border-radius: 3px;
        width: 320px;
        height: 50px;
        background: #ffad1e;
        font-family: 'Lobster', cursive;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 0.02em;
        border: 0; }

footer {
  height: 195px;
  background: #222222; }
  footer .footer_cont .f_blocks {
    padding-top: 50px;
    text-align: center; }
    footer .footer_cont .f_blocks .f_block {
      display: inline-block;
      margin: 0 80px; }
  footer .footer_cont .f_block_1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #bdbdbd;
    width: 315px; }
    footer .footer_cont .f_block_1 p {
      margin-bottom: 10px; }
    footer .footer_cont .f_block_1 span {
      padding: 7px 5px; }
  footer .footer_cont .f_block_3 {
    text-align: left; }
    footer .footer_cont .f_block_3 p {
      font: 14px Helvetica;
      color: #bebebe;
      line-height: 24px; }

.up-arr {
  position: fixed;
  bottom: 8%;
  right: 5%;
  cursor: pointer;
  display: none; }

.fixed-cf {
  width: 330px;
  height: 50px;
  transform: rotate(270deg);
  position: fixed;
  top: 50%;
  margin-top: -25px;
  right: -140px;
  background: #363636;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .fixed-cf a {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    padding-top: 15px;
    line-height: 48px; }

/*# sourceMappingURL=style.css.map */
