
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	order: 1;	
    -webkit-order: 1;	
}
.headertop{
	background: #363636;
	padding: 9.5px 0;
	.wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav{
		ul{
			li{
				display: inline-block;
				margin: 0 15px;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				a{
					color: #f1f1f1;
					font: 12px GPB;
					line-height: 21px;
					text-transform: uppercase;
					&:hover{
						color: #23abd0;
					}
				}
			}
		}
	}
	&__location{
		li{
			display: inline-block;
			margin: 0 6px;
			&:last-child{
				margin-right: 0;
			}
			i{
				content: "";
				background: url(../img/map.png) no-repeat;
				width: 10px;
				height: 14px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 3px;
			}
			a{
				display: inline-block;
				vertical-align: middle;
				text-decoration: underline;
				color: #969594;
				font: 12px GPR;
			}
		}
	}
}
.toggle{
	display: none !important;
}
.headerfixed{
	background: #fff;
	padding: 20px 0;
	box-shadow: 0px 2px 2px 0px rgba(214,214,215,1);
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: none;
    height: 80px;
	nav{
		ul{
			li{
				line-height: 40px;
				padding: 0 20px;
				margin: 0;
				&:hover{
					background: #363636;
					border-radius: 30px;
					a{
						color: #fff;
					}
				}
				a{
					color: #363636;
				}
			}
		}
	}
}
.headerbott{
	background: #fff;
	padding: 30px 0;
	padding-top: 26px;
	.wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		img{
			max-width: 133px;
			margin-right: 15px;
		}
		span{
			font: 12px GPR;
			color: #8f8f8f;
			line-height: 15px;
			padding: 3px 13px;
			border-left: 1px solid #e6e6e6;
		}
	}
}
.phone{
	display: flex;
	align-items: center;
	&__butt{
		border-radius: 20px;
		background: #23abd0;
		font: 12px GPB;
		color: #fff;
		text-transform: uppercase;
		border: 0;
		padding: 14.5px 25.5px;
		padding-bottom: 12.5px;
		&_footer{
			border: 2px solid #23abd0;
			background: transparent;
			min-width: 228px;
			border-radius: 30px;
			margin-top: 18px;
			margin-bottom: 25px;
			&:hover{
				background: #23abd0;
			}
		}
	}
	i{
		width: 40px;
		height: 40px;
		margin: 0 13px;
		border-radius: 100%;
		background-color: #f1f1f1;
		display: inline-block;
		background-image: url(../img/phone.png);
		background-position: center;
		background-repeat: no-repeat;
	}
	&__number{
		a{
			color: #363636;
			font: 18px GPB;
			margin-bottom: 4px;
    		display: inline-block;
			span{
				color: #23abd0;
			}
		}
		p{
			color: #969594;
			font: 12px GPR;
		}
		&_white{
			display: inline-block;
			a{
				color: #fff;
			}
		}
	}
	&__soc{
		width: 40px;
		height: 40px;
		border-radius: 100%;
		margin-right: 3px !important;
		&_1{
			background-image: url(../img/soc1.png) !important;
			&:hover{
				background-image: url(../img/soh1.png) !important;
			}
		}
		&_2{
			background-image: url(../img/soc2.png) !important;
			&:hover{
				background-image: url(../img/soh2.png) !important;
			}
		}
		&_3{
			background-image: url(../img/soc3.png) !important;
			&:hover{
				background-image: url(../img/soh3.png) !important;
			}
		}
		&_4{
			background-image: url(../img/soc4.png) !important;
			&:hover{
				background-image: url(../img/soh4.png) !important;
			}
		}
		&_5{
			background-image: url(../img/soc5.png) !important;
			&:hover{
				background-image: url(../img/soh5.png) !important;
			}
		}
	}
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.headertop {
		.wrapper{
			flex-direction: column;
		}
		&__location{
			display: none;
		}
	}
	.headerfixed{
		height: 110px;
		padding: 10px 0;
	}
	.headerbott{
		max-width: 750px;
    	margin: 0 auto;
    	&__logo{
    		span{
    			display: none;
    		}
    	}
	}
}

@media screen and (max-width: 767px) {
	.headertop{
		.wrapper{
			display: block;
		}
		nav{
		    ul{
		    	list-style: none;
		    	li{
		    		display: none;
    				margin: 0;
    				text-align: center;
    				border-bottom: 1px solid #565656;
		    	}
		    }
		}
		&__location{
			display: none;
		}
	}
	.toggle{
		display: block !important;
		border-bottom: 0 !important;
		a{
			display: inline-block;
			vertical-align: middle;
		}
		img{
			display: inline-block;
			vertical-align: middle;
			max-width: 17px;
    		margin-left: 70%;
		}
	}
	.headerfixed{
		display: none !important;
	}
	.headerbott {
		.wrapper{
			flex-direction: column;
		}
		&__logo{
			margin-bottom: 15px;
			align-items: center;
			img{
				max-width: 100px;
			}
		}
	}
	.phone{
		display: inline-block;
		&__butt{
			display: block;
    		margin-left: auto;
    		margin-right: auto;
    		margin-bottom: 15px;
		}
		i{
			display: inline-block;
			vertical-align: middle;
			margin-left: 0;
		}
		&__number{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
