@font-face {
    font-family: Framd; /* Имя шрифта */
    src: url(fonts/framd.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Iris; /* Имя шрифта */
    src: url(fonts/Iris_Normal.otf); /* Путь к файлу со шрифтом */
}
    