
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	order: 3;	
    -webkit-order: 3;	
}
.footer{
	background-color: #000;
    background-image: url(../img/bg-5.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .wrapper{
    	/*&.flex{
    		align-items: flex-start;
    	}*/
    }
    &__top{
    	padding: 27px 0;
    }
    &__bott{
    	box-shadow: 0 0 0 9999px rgba(0,0,0,0.5) inset;
    	padding: 20px 0;
    }
    &__left{
    	a{
    		i{
    			background-position: -10px -178px; 
    			width: 61px; 
    			height: 79px;
    		}
    	}
    }
    &__aside{
    	text-align: center;
    	margin-left: 12px;
    	&.flex{
    		flex-direction: column;
    		align-items: center;
    		justify-content: center;
    	}
    	span{
    		font: 400 8.72px/8.72px $font;
    		color: #fff;
    		margin-bottom: 5px;
    	}
    	a{
    		i{
    			background-position: -10px -141px; 
    			width: 86px; 
    			height: 27px;
    		}
    	}
    }
    &__center{
    	&.flex{
    		flex-direction: column;
    		align-items: center;
    	}
    }
    &__soc{
    	margin-bottom: 15px;
		i{
			margin: 0 5px;
			/*transition: 0.2s ease-in-out;*/
		}
    }
    &__vk{
    	background-position: -51px -471px !important; 
    	width: 32px; 
    	height: 32px;
    	&:hover{
			background-position: -52px -387px !important;
    	}
    }
    &__fb{
    	background-position: -10px -429px !important; 
    	width: 32px; 
    	height: 32px;
    	&:hover{
			background-position: -10px -387px !important;
    	}
    }
    &__inst{
    	background-position: -10px -470px !important;
    	width: 32px; 
    	height: 32px;
    	&:hover{
			background-position: -51px -429px !important;
    	}
    }
    &__polit{
    	font: 400 14px/16.8px $font;
    	color: #fff;
    	&:hover{
    		color: #bf3636;
    	}
    }
    &__right{
    	text-align: right;
    	&.flex{
    		flex-direction: column;
    		align-items: flex-end;
    	}
    }
    &__phone{
    	i{
    		background-position: -70px -301px; 
    		width: 14px; 
    		height: 17px;
    	}
    	a{
    		font: 600 18px/18px $font;
    		color: #fff;
    	}
    }
    &__mail{
    	margin-bottom: 10px;
    	i{
    		background-position: -81px -207px; 
    		width: 17px; 
    		height: 11px;
    		margin-right: 5px;
    	}
    	a{
    		font: 400 18px/18px $font;
    		color: #fff;
    	}
    	&:hover{
    		i{
    			animation: 0.7s ease-in-out mail;
    		}
    	}
    }
    &__text{
    	font: 200 14px/16.2px $font;
    	color: #fff;
    	a{
    		color: #fff;
    		border-bottom: 1px solid #fff;
    		&:hover{
    			color: #bf3636;
    			border-color: #bf3636;;
    		}
    	}
    }
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
	
}
@media screen and (min-width: 768px) and (max-width: 991px){

}
@media screen and (max-width: 767px){
	.footer{
		&__top{
			.wrapper{
				&.flex{
					flex-direction: column;
					justify-content: center;
				}
			}
		}
		&__left{
			margin-bottom: 15px;
		}
		&__center{
			margin-bottom: 15px;
		}
		&__right{
			align-items: center;
    		text-align: center;
    		.call{
    			margin-left: 0;
    		}
		}
		&__bott{
			.wrapper{
				text-align: center;
				&.flex{
					justify-content: center;
				}
			}
		}
	}
}