$font : 'Fira Sans', sans-serif;
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	order: 1;	
    -webkit-order: 1;	
}
.header__logo i,
.header__phone i,
.banner__logo i,
.nextblock,
.prev,
.next,
.footer__left i,
.footer__aside i,
.footer__soc i,
.footer__mail i,
.map__item i,
.totop,
.modal-close{
	display: inline-block; 
	background: url('../img/sprite.png') no-repeat; 
	overflow: hidden; 
	text-indent: -9999px; 
	text-align: left;
}
.adva__item i{
	display: inline-block; 
	background: url('../img/adva.png') no-repeat; 
	overflow: hidden; 
	text-indent: -9999px; 
	text-align: left;
}
.header{
	background: #f8f8f8;
	padding: 13.5px 0;
	width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    z-index: 9995;
    transition: .7s;
    &_load{
    	top: 0;
    }
    &_active{
    	position: fixed;
    	top: 0;
    }
	&__logo{
		&.flex{
			justify-content: flex-start;
		}
		i{
			background-position: -10px -141px; 
			width: 86px; 
			height: 27px;
		}
		span{
			font: 400 12px $font;
			color: #bf3636;
			text-transform: uppercase;
			margin-left: 15px;
		}
	}
	&__nav{
		padding-left: 100px;
		ul{ 
			list-style: none;
			li{
				margin: 0 10px;
				a{
					font: 400 14px/14px $font;
					color: #363c43;
					&:hover{
						color: #bf3636;
					}
				}
			}	
		}
	}
	&__phone{
		i{
			background-position: -81px -228px; 
			width: 16px; 
			height: 18px;
			margin-right: 5px;
		}
		a{
			font: 600 22px/22px $font;
			color: #363c43;
			pointer-events: none;
		}
		&:hover{
			i{
				animation: 0.7s ease-in-out phones;
			}
		}
	}
	&__right{
		&.flex{
			justify-content: flex-end;
		}
	}
	&__humb{
		position: absolute;
		right: 0;
		top: -4px;
		border: 1px solid #000;
		border-radius: 5px;
		padding: 10px 10px;
		display: none;
		cursor: pointer;
		span{
			width: 25px;
			height: 2px;
			display: block;
			margin-bottom: 4px;
			background: #000;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&.active{
			border: 1px solid #bf3636;
			span{
				background: #bf3636;
			}
		}
	}
}
@keyframes phones{
	0%, 50%{
		transform: rotate(-10deg);
	}
	25%, 100%{
		transform: rotate(10deg);
	}
}
@keyframes mail{
	0%, 50%{
		transform: translateX(-5px);
	}
	25%, 100%{
		transform: translateX(5px);
	}
}
.call{
	font: 600 10.33px/10.33px $font;
	text-transform: uppercase;
	color: #ffffff;
	width: 125px;
	height: 33px;
	background: url(../img/btn.png) center center no-repeat;
	background-size: 100% 100%;
	border: 0;
	transition: 0.2s ease-in-out;
	margin-left: 25px;
	&:hover{
		background: url(../img/btn-h.png) center center no-repeat;
		background-size: 100% 100%;
	}
	&_2{
		width: 175px;
	}
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
	
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.header{
		&__logo{
			&.flex{
				flex-direction: column;
    			align-items: flex-start;
			}
			span{
				margin-left: 0;
    			margin-top: 5px;
			}
		}
		&__nav{
		    padding-left: 53px;
		}
		&__right{
			&.flex{
				flex-direction: column;
    			align-items: flex-end;
			}
		}
		&__phone{
			margin-bottom: 5px;
		}
	}
}
@media screen and (max-width: 767px){
	.header{
		&__humb{
			display: block;
		}
		&__nav{
			order: 1;
    		width: 100%;
    		display: none;
    		padding: 0;
    		margin-top: 30px;
    		ul{
    			&.flex{
    				/*flex-direction: column;*/
    			}
    			li{
    				/*width: 100%;*/
    				border: 0;
    				margin: 0;
    				/*border-bottom: 1px solid #000;*/
    				&:last-child{
    					border-bottom: 0;
    				}
    			}
    		}
		}
		&__right{
    		order: 2;
    		margin-top: 10px;
			&.flex{
				width: 100%;
    			justify-content: space-between;
			}
		}
		&__phone{
			a{
				font: 600 18px/22px "Fira Sans",sans-serif;
				pointer-events: auto;
			}
		}
		.call{
			margin-left: 0;
		}
	}
}
