
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: 300px;
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	&_2{
		max-width: 750px;
	}
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	order: 2;
    -webkit-order: 2;
    position: relative;
    /*background: #f8f8f8;*/
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.section{
	&__1{
		background: #f8f8f8;
		padding: 51px 0 65px;
	}
	&__2{
		background: #fff;
		padding: 52px 0 85px;
	}
	&__3{
		background: #f8f8f8;
		padding: 56px 0 85px;
	}
	&__4{
		background: #fff;
		padding: 45px 0 75px;
	}
	&__5{
		background: #f8f8f8;
		/*padding: 26px 0;*/
		&_w{
			background: #fff;
		}
	}
}
.banner{
	margin-bottom: 54px;
	&__slide{
		&.flex{
			display: flex !important;
			align-items: stretch;
		}
	}
	&__left{
		width: 390px;
		border: 1px solid #f8b30e;
		padding: 45px 69px;
		&_2{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
		}
	}
	&__right{
		overflow: hidden;
		img{
			height: 100%;
		}
	}
	&__title{
		font: 400 20px/30px 'Roboto';
		color: #f8b30e;
		letter-spacing: 0.05em;
		margin-bottom: 23px;
	}
	&__text{
		font: 400 12px/20px 'Roboto';
		color: #59514c;
		letter-spacing: 0.05em;
		margin-bottom: 38px;
	}
	.slick-dots{
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 120px;
		position: absolute;
		bottom: 61px;
		left: 234px;
		li{
			margin: 0 8.5px;
			width: 8px;
			height: 8px;
			padding: 0;
		}
		button{
			text-indent: 9999px;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			padding: 0;
			border: 0;
			background: #e8e8e8;
		}
		.slick-active{
			button{
				background: #f8b30e;
			}
		}
	}
	&__date{
		font: 500 10px 'Roboto';
		letter-spacing: 0.05em;
		color: #acacac;
		margin-bottom: 20px;
		display: inline-block;
	}
}
.breadcrumbs{
	margin-bottom: 25px;
	span{
		font: 500 10px 'Roboto';
		letter-spacing: 0.05em;
		color: #acacac;
	}
}
.btn{
	width: 127px;
	height: 40px;
	background: transparent;
	border: 1px solid #f8b30e;
	font: 600 10px 'Roboto';
	color: #59514c;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-radius: 20px;
	transition: 0.3s ease-in-out;
	&:hover{
		background: #f8b30e;
		color: #fff;
	}
	&_comments{
		width: 154px;
		display: block;
		margin: 0 auto;
	}
	&_news{
		width: 154px;
	}
	&_white{
		color: #fff;
	}
}
.adva{
	background: #fff;
	box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
	padding: 33px 0;
	&__item{
		border-right: 1px solid #f8b30e;
		padding: 20px 40px;
		&:last-child{
			border-right: 0;
		}
		img{
			margin-right: 35px;
		}
	}
	&__text{
		font: 400 11px/20px 'Roboto';
		letter-spacing: 0.05em;
		color: #59514c;
	}
}
.title{
	margin-bottom: 25px;
	font: 500 20px/30px 'Roboto';
	letter-spacing: 0.05em;
	color: #59514c;
	text-align: center;
	width: 100%;
	&_left{
		text-align: left;
		width: auto;
		margin-bottom: 0;
	}
	&_page{
		background: #fff;
		padding: 35px 0;
		margin-bottom: 0;
		h2{
			color: #59514c;
			font: 500 20px/30px 'Roboto';
			letter-spacing: 0.05em;
		}
	}
	&_page2{
		background: transparent;
		padding: 55px 0;
		h2{
			color: #fff;
		}
	}
	&_back{
		a{
			color: #aaaaaa;
			font: 300 11px/26px 'Roboto';
			position: relative;
			&::before{
				content: url(../img/arrow_back.png);
				margin-right: 10px;
			}
		}
	}
}
.comments{
	margin: 0 auto;
    margin-top: 91px;
    width: 1035px;
	margin-bottom: 80px;
	&__item{
		width: 345px;
		padding: 0 40px;
		position: relative;
		&::after{
			content: "";
			border-right: 1px solid #f8b30e;
			height: 154px;
			position: absolute;
			right: 0;
			top: 20px;
		}
		&:last-child{
			&::after{
				content: none;
			}
		}
	}
	&__text{
		font: 400 10px/20px 'Roboto';
		color: #59514c;
		letter-spacing: 0.05em;
		margin-bottom: 15px;
	}
}
.raiting{
	margin-bottom: 15px;
	&.flex{
		justify-content: flex-start;
	}
	img{
		margin-right: 4px;
	}
}
.user{
	&.flex{
		justify-content: flex-start;
	}
	&__img{
		width: 75px;
		height: 75px;
		border-radius: 100%;
		margin-right: 20px;
	}
	&__info{

	}
	&__name{
		font: 500 20px/30px 'Roboto';
		color: #59514c;
		letter-spacing: 0.05em;
	}
	&__location{
		font: 300 14px/30px 'Roboto';
		color: #f8b30e;
		letter-spacing: 0.05em;
	}
}
.newgoods{
	width: 870px;
	margin: 0 auto;
	.slick-list{
		padding: 35px 0;
		margin: 0 -15px;
		/*overflow: visible !important;*/
	}
	.slick-prev, .slick-next{
		position: absolute;
		top: 43%;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: #e8e8e8;
		border: 0;
		transition: 0.2s ease-in-out;
		&.flex{
			justify-content: center;
		}
		&:hover{
			background: #f8b30e;
		}
	}
	.slick-prev{
		left: -82px;
	}
	.slick-next{
		right: -82px;
	}
	/*.slick-slide{
		opacity: 0;
		&.slick-active{
			opacity: 1;
			transition: opacity 0.5s;
		}
	}*/
}
.good{
	width: 195px;
	height: 320px !important;
	background: #fff;
	box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
	margin: 0 15px;
	&__img{
		height: 170px;
		width: 100%;
		&.flex{
			justify-content: center;
		}
	}
	&__info{
		padding: 0 10px 0 24px;
	}
	&__category{
		font: 300 10px/18px 'Roboto';
		color: #aaaaaa;
		letter-spacing: 0.05em;
		margin-bottom: 11px;
	}
	&__title{
		font: 500 12px/18px 'Roboto';
		color: #59514c;
		letter-spacing: 0.05em;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		&:hover{
			color: #f8b30e;
		}
	}
	&__code{
		font: 400 10px/25px 'Roboto';
		color: #59514c;
		letter-spacing: 0.05em;
		margin-bottom: 10px;
	}
	&__price{
		font: 400 17px/30px 'Roboto';
		color: #e67420;
		letter-spacing: 0.05em;
	}
	&__basket{
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: #f8b30e;
		cursor: pointer;
		margin-right: 10px;
		img{
			width: 16px;
		}
		&.flex{
			justify-content: center;
		}
	}
}
.recentnews{
	&__cont{
		margin-bottom: 50px;
	}
	&__item{
		width: 360px;
		min-height: 390px;
		box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
		cursor: pointer;
		&:hover{
			.recentnews__img{
				&::before{
					animation: recentnews 0.5s;
					opacity: 1;
				}
				button{
					/*animation-play-state: running;*/
					animation: recentimg 0.5s;
					opacity: 1;
				}
			}
		}
	}
	&__img{
		width: 100%;
		height: 220px;
		position: relative;
		overflow: hidden;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			box-shadow: 0 0 0 9999px rgba(89,81,76,0.8) inset;
			opacity: 0;
			transition: opacity 0.5s;
		}
		button{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -63.5px;
			margin-top: -20px;
			opacity: 0;
			/*animation-play-state: paused;*/
		}
	}
	&__info{
		padding: 15px 20px;
	}
	&__date{
		font: 400 9px/18px 'Roboto';
		color: #aaaaaa;
		letter-spacing: 0.05em;
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
	&__title{
		font: 500 12px/18px 'Roboto';
		color: #59514c;
		letter-spacing: 0.05em;
		margin-bottom: 18px;
		display: block;
	}
	&__text{
		font: 400 10px/20px 'Roboto';
		color: #aaaaaa;
		letter-spacing: 0.05em;
	}
}
.brand{
	&__slider{
		width: 950px;
		margin: 0 auto;
		.slick-slide{
			/*margin: 0 40px;*/
		}
		.slick-list{
			padding: 26px 0;
		}
		.slick-prev, .slick-next{
			position: absolute;
			top: 40%;
			width: 25px;
			height: 25px;
			border-radius: 100%;
			background: #e8e8e8;
			border: 0;
			transition: 0.2s ease-in-out;
			img{
				width: 6px;
			}
			&.flex{
				justify-content: center;
			}
			&:hover{
				background: #f8b30e;
			}
		}
		.slick-prev{
			left: -50px;
		}
		.slick-next{
			right: -50px;
		}
	}
	&__slide{
		height: 67px !important;
		filter: brightness(0) invert(92%) grayscale(100%);
		cursor: pointer;
		img{
			transition: transform 0.2s;
		}
		&:hover{
			filter: none;
			img{
				transform: translateY(-10px);
			}
		}
		&.flex{
			display: flex !important;
			justify-content: center;
			align-items: center;
		}
		&_2{
			/*width: 205.4px !important;*/
			filter: brightness(0) invert(75%) grayscale(100%);
		}
		/*&_1{
			width: 139.4px !important;
		}
		
		&_3{
			width: 213.4px !important;
		}
		&_4{
			width: 147.4px !important;
		}
		&_5{
			width: 244.4px !important;
		}*/
	}
}

@keyframes recentnews{
	0%{
		box-shadow: 0 0 0 9999px rgba(89,81,76,0) inset;
	}
	100%{
		box-shadow: 0 0 0 9999px rgba(89,81,76,0.8) inset;
	}
}
@keyframes recentimg{
	0%{
		transform: translateY(-130px);
	}
	100%{
		transform: translateY(0px);
	}
}

/*Brands page*/
.pagecont{
	background: #f8f8f8;
	padding: 60px 0 185px;
	&_nb{
		background: transparent;
		padding: 0;
	}
}
.brands{
	&__item{
		width: 360px;
		background: #fff;
		margin-bottom: 30px;
		border-bottom: 1px solid transparent;
		box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
		&.flex{
			flex-direction: column;
			align-items: center;
		}
	}
	&__img{
		height: 145px;
		&.flex{
			justify-content: center;
		}
	}
	&__text{
		margin: 0 35px;
		margin-bottom: 45px;
		max-height: 200px;
		overflow-y: scroll;
		p{
			color: #aaaaaa;
			font: 400 10px/20px "Roboto";
			letter-spacing: 0.05em;
			padding-right: 5px;
		}
	}
}
::-webkit-scrollbar {
    width: 4px;
    background: #f8f8f8;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
	height: 22px;
	background: #a8a29d;
	border-radius: 2px;
}

/*Info pages*/
.pagebg{
	height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 0 0 9999px rgba(248,248,248,1);
	&_1{
		background: url(../img/banner1.jpg) center center no-repeat;
		background-size: cover;
		z-index: -1;
	}
	&_2{
		background: url(../img/banner2.jpg) center center no-repeat;
		background-size: cover;
		z-index: -1;
	}
	&_3{
		background: url(../img/banner3.jpg) center center no-repeat;
		background-size: cover;
		z-index: -1;
	}
}
.about{
	padding-bottom: 106px;
	&.flex{
		align-items: stretch;
	}
	&_2{
		&.flex{
			align-items: flex-start;
		}
	}
	&__text{
		width: 750px;
		background: #fff;
		padding: 55px 35px;
		box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
		p{
			color: #aaaaaa;
			font: 400 12px/25px "Roboto";
			span{
				color: #221e1b;
				font-weight: 700;
			}
		}
		h2{
			color: #221e1b;
			font: 700 12px/25px "Roboto";
			text-align: uppercase;
			margin-bottom: 25px;
		}
		h3{
			color: #59514c;
			font: 700 14px/25px "Roboto";
			margin-bottom: 5px;
		}
		&_3{
			width: 555px;
			padding: 35px;
			p{
				margin-bottom: 25px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__tabs{
		width: 360px;
		padding: 0 25px 0 35px;
		background: #fff;
		box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
		.adva__item{
			padding: 28px 0;
			border-bottom: 1px solid #f8b30e;
			border-right: 0;
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}
/*News*/
.news{
	background: #f8f8f8;
	padding: 60px 0;
	&__banner{
		margin-bottom: 60px;
	}
	&__desc{
		padding: 0 70px;
		margin-bottom: 60px;
		p{
			font: 400 12px/22px 'Roboto';
			color: #aaaaaa;
			letter-spacing: 0.05em;
		}
	}
	&__img{
		img{
			max-width: 100%;
		}
		&_center{
			text-align: center;
		}
		&_mb{
			margin-bottom: 70px;
		}
	}
	&__cont{
		margin-bottom: 70px;
		&.flex{
			align-items: flex-start;
		}
	}
	&__image{
		margin-right: 90px;
	}
	&__text{
		width: 490px;
		padding-right: 70px;
		p{
			font: 400 12px/22px 'Roboto';
    		color: #aaaaaa;
    		letter-spacing: 0.05em;
		}
	}
	&__item{
		margin-bottom: 30px;
	}
	&__box{
		justify-content: space-around;
	}
}
.similar{
	padding-top: 50px;
	border-top: 1px solid #f8b30e;
	&__item{
		width: 360px;
		box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
	}
	&__img{
		width: 165px;
		height: 102px;
		overflow: hidden;
	}
	&__text{
		width: 195px;
		background: #fff;
		padding: 15px 30px;
		a{
			color: #59514c;
			font: 500 12px/18px 'Roboto';
			&:hover{
				color: #f8b30e;
			}
		}
	}
}

/*Modal*/
.modal-form{
	display: none;
	width: 280px;
	height: 355px;
	padding: 30px 45px 20px;
	position: fixed;
	margin-left: -140px;
	top: 0%;
	left: 50%;
	background-color: #fff;
	z-index: 9999;
	box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
	.modal-close{
		cursor: pointer;
	}
	h2{
		color: #59514c;
		font: 300 14px/21px 'Roboto';
		letter-spacing: 0.05em;
		text-align: center;
		margin-bottom: 30px;
	}
	form{
		margin-bottom: 35px;
	}
	p{
		text-align: center;
		color: #aaaaaa;
		font: 300 10px/14px 'Roboto';
	}
}
.modal{
	&__input{
		width: 190px;
		margin-bottom: 22px;
		text-align: center;
		input[type="text"]{
			width: 100%;
			height: 28px;
			border: 0;
			border-bottom: 1px solid #aaaaaa;
			background: transparent;
			font: 300 12px 'Roboto';
			color: #aaaaaa;
			text-align: center;
			&::placeholder{
				text-align: center;
				font: 300 12px 'Roboto';
				color: #aaaaaa;
			}
		}
		input[type="submit"]{
			font: 500 10px 'Roboto';
			height: 40px;
			width: 155px;
			border-radius: 22px;
			border: 1px solid #f8b514;
			text-transform: uppercase;
		}
		&_2{
			margin-bottom: 40px;
			input[type="text"]{
				border-bottom: 1px solid #f8b30e;
				color: #f8b30e;
				font-size: 16px;
				height: 35px;
				&::placeholder{
					color: #f8b30e;
					font-size: 16px;
				}
			}
		}
	}
	&__cont{
		height: 100%;
		&.flex{
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		h3{
			color: #fff;
			font: 500 18px/21px 'Roboto';
			letter-spacing: 0.05em;
			text-align: center;
			margin-bottom: 25px;
		}
		p{
			color: #fff;
			font: 400 12px/16px 'Roboto';
			letter-spacing: 0.05em;
			text-align: center;
		}
	}
	&__icon{
		width: 31px;
		height: 31px;
		border-radius: 100%;
		background: #fff;
		margin-bottom: 25px;
		&.flex{
			justify-content: center;
		}
	}
}
.modal-success{
	background: #f8b30e;
	padding: 0;
}
.overlay{
	position: fixed;
	display: none;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5) inset;
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper{
		max-width: 950px;
	}
	.banner{
		margin-bottom: 45px;
		&__left{
			padding: 30px 40px;
			width: 340px;
		}
		&__right{
			width: 610px;
		}
		.slick-dots{
			bottom: 75px;
    		left: 215px;
		}
	}
	.adva{
		&__item{
			padding: 20px 20px;
			img{
				margin-right: 15px;
			}
		}
	}
	.comments{
		margin-top: 70px;
    	width: 100%;
    	margin-bottom: 65px;
    	&__item{
    		width: 300px;
    		padding: 0 17px;
    	}
	}
	.newgoods{
		.slick-prev{
			left: -58px;
		}
		.slick-next{
			right: -58px;
		}
	}
	.recentnews{
		&.flex{
			align-items: stretch;
		}
		&__item{
			width: 300px;
		}
	}
	/*Brands*/
	.brands{
		&.flex{
			justify-content: space-around;
		}
	}
	/*Info page*/
	.pagebg{
		height: 280px;
	}
	.about{
		&.flex{
			align-items: flex-start;
		}
		&__text{
			width: 575px;
    		padding: 30px 35px;
    		&_2{
    			width: 100%;
    		}
    		&_3{
    			width: 460px;
    		}
		}
	}
	/*News*/
	.news{
		&__image{
			margin-right: 60px;
			width: 400px;
			img{
				width: 100%;
			}
		}
		&__text{
			width: 490px;
    		padding-right: 50px;
		}
	}
	.similar{
		&__item{
			width: 300px;
		}
		&__img{
			width: 150px;
		}
		&__text{
			width: 150px;
    		padding: 15px 10px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper{
		max-width: 750px;
	}
	.title{
		&_back{
			padding: 20px 0;
		}
	}
	.banner{
		&__left{
			padding: 20px 25px;
			width: 300px;
		}
		&__right{
			width: 450px;
    		height: 335px;
		}
		.slick-dots{
			bottom: 50px;
    		left: 190px;
		}
	}
	.adva{
		&__item{
			justify-content: center;
			padding: 20px 20px;
    		width: 250px;
    		img{
    			margin-right: 0;
    			margin-bottom: 15px;
    		}
		}
	}
	.comments{
		width: 100%;
		margin-bottom: 50px;
		margin-top: 60px;
		&__item{
			width: 245px;
    		padding: 0 5px;
		}
	}
	.newgoods{
		width: 750px;
	}
	.section{
		&__3{
		    padding: 56px 0 55px;
		}
	}
	.recentnews{
		&.flex{
			align-items: stretch;
		}
		&__item{
			width: 240px;
		}
		&__img{
			height: 180px;
			img{
				height: 100%;
			}
		}
	}
	.brand{
		&__slider{
			width: 750px;
		}
	}
	/*Info page*/
	.about{
		&_2{
			justify-content: space-around;
		}
		&__text{
			margin-bottom: 30px;
		}
		&__tabs{
			display: flex;
    		justify-content: space-between;
    		width: 100%;
    		padding: 33px 0 33px 0;
    		.adva{
    			&__item{
    				padding: 28px 0;
    				border-bottom: 0;
    				border-right: 1px solid #f8b30e;
    				&:last-child{
    					border-right: 0;
    				}
    			}
    		}
		}
	}
	/*News*/
	.news{
		padding: 40px 0;
		&__banner{
			margin-bottom: 50px;
		}
		&__img{
			&_mb{
				margin-bottom: 50px;
			}
		}
		&__desc{
			padding: 0 50px;
    		margin-bottom: 50px;
		}
		&__image{
			margin-right: 30px;
    		width: 300px;
    		img{
    			width: 100%;
    		}
		}
		&__cont{
			margin-bottom: 50px;
		}
		&__text{
			width: 410px;
    		padding-right: 30px;
		}
	}
	.similar{
		&__item{
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
	.wrapper{
		max-width: 95%;
	}
	.banner{
		&__left{
			width: 100%;
			padding: 20px 30px;
		}
		&__right{
			width: 100%;
    		height: auto;
    		img{
    			width: 100%;
    		}
		}
		.slick-dots{
			bottom: auto;
    		top: 278px;
    		left: 155px;
		}
	}
	.adva{
		padding: 0;
		&.flex{
			justify-content: space-around;
		}
		&__item{
			border-right: 0;
    		border-bottom: 1px solid #f8b30e;
    		padding: 20px 40px;
    		&:last-child{
    			border-bottom: 0;
    		}
		}
	}
	.section{
		&__2{
			padding: 32px 0 65px;
		}
		&__3{
			padding: 35px 0 50px;
		}
		&__4{
			padding: 40px 0;
		}
	}
	.comments{
		margin-top: 30px;
    	width: 100%;
    	margin-bottom: 50px;
    	&.flex{
    		justify-content: space-around;
    	}
    	&__item{
    		width: 100%;
    		max-width: 345px;
    		margin-bottom: 40px;
    		&:last-child{
    			margin-bottom: 0;
    		}
    		&::after{
    			content: none;
    		}
    	}
	}
	.newgoods{
		width: 400px;
	}
	.recentnews{
		&__cont{
			margin-bottom: 30px;
			&.flex{
				justify-content: space-around;
			}
		}
		&__item{
			max-width: 360px;
    		margin-bottom: 30px;
    		width: 100%;
		}
	}
	.btn{
		&_news{
			margin: 10px 0;
		}
	}
	.brand{
		&__slider{
			width: 100%;
		}
	}
	.title{
		&_page{
			padding: 20px 0;
		}
	}
	/*Brands*/
	.brands{
		&.flex{
			justify-content: space-around;
		}
		&__item{
		    width: 300px;
		}
		&__text{
			margin: 0 20px;
    		margin-bottom: 30px;
		}
	}
	/*Info page*/
	.pagebg{
		height: 150px;
	}
	.about{
		&__text{
			padding: 25px 25px;
			width: 100%;
			margin-bottom: 25px;
		}
		&__tabs{
			padding: 0;
			width: 100%;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			.adva{
				&__item{
					padding: 20px 40px;
				}
			}
		}
	}
	/*News*/
	.news{
		padding: 30px 0;
		&__banner{
			margin-bottom: 25px;
		}
		&__desc{
			padding: 0 10px;
    		margin-bottom: 30px;
		}
		&__img{
			&_mb{
				margin-bottom: 35px;
			}
		}
		&__image{
			width: 100%;
    		max-width: 555px;
    		margin-bottom: 20px;
    		margin-right: 0;
    		img{
    			width: 100%;
    		}
		}
		&__text{
			width: 490px;
    		padding: 0 10px;
		}
		&__cont{
			margin-bottom: 30px;
		}
	}
	.similar{
		padding-top: 30px;
		&.flex{
			justify-content: space-around;
		}
		&__item{
			width: 300px;
    		margin-bottom: 20px;
		}
		&__img{
			width: 150px;
		}
		&__text{
			width: 150px;
			padding: 15px 12px;
		}
	}
}
@media screen and (max-width: 410px){
	.newgoods{
		width: 200px;
	}
}



