
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	order: 1;	
    -webkit-order: 1;	
}
.header{
	&__top{
		background: #221e1b;
	}
	&__topnav{
		ul{
			list-style: none;
			justify-content: flex-start;
			li{
				margin-right: 24.5px;
				padding: 7px 0;
				a{
					font: 400 10px/26px 'Roboto';
					color: #ffffff;
					letter-spacing: 0.05em;
					&:hover{
						color: #f8b30e;
					}
				}
			}
		}
	}
	&__main{
		padding: 24.5px 0 35.5px;
	}
	&__cart{
		margin-top: 12px;
	}
	&__cartimg{
		background: #f8b30e;
		width: 44px;
		height: 44px;
		border-radius: 100%;
		border: 2px solid #fff;
		box-shadow: 0px 3px 8px 0px rgba(89, 81, 76, 0.33);
		margin-right: 10px;
		&.flex{
			justify-content: center;
		}
	}
	&__cartinfo{
		p{
			font: 500 12px 'Roboto';
			color: #59514c;
			margin-bottom: 7px;
    		margin-top: -2px;
		}
		span{
			font: 400 11px 'Roboto';
			color: #59514c;
			a{
				color: #f8b30e;
				text-decoration: underline;
				margin-right: 11px;
				display: inline-block;
			}
		}
	}
	&__bott{
		background: #59514c;
		/*padding: 7.5px 0;*/
	}
	&__bottnav{
		ul{
			list-style: none;
			&.flex{
				justify-content: flex-start;
			}
			li{
				margin-right: 40px;
				position: relative;
				&:last-child{
					margin-right: 0;
				}
				a{
					font: 500 12px/60px 'Roboto';
					color: #59514c;
					letter-spacing: 0.06em;
					color: #fff;
					position: relative;
					&.active{
						&::after{
							content: url(../img/y-arrow.png);
							position: absolute;
							right: -12px;
    						top: -23px;
							filter: brightness(0) invert(100%);
							/*transition: filter 0.2s;*/
						}
						&:hover{
							&::after{
								filter: none;
							}
						}
					}	
				}
				&:hover{
					a{
						color: #f8b30e;
					}
					.dropdown{
						display: flex !important;
					}
				}
			}
		}
	}
	&__searchcont{
		width: 390px;
		height: 34px;
		background: #fff;
		border-radius: 30px;
		padding: 0 15px 0 20px;
		input{
			border: 0;
			border-right: 1px solid #59514c;
			width: 206px;
			/*height: 16px;*/
			&::placeholder{
				font: 300 11px 'Roboto';
				font-style: italic;
				color: #aaaaaa;
			}
			&.toggle{
				width: 115px;
			}
		}
		span{
			font: 400 11px/26.41px 'Roboto';
			color: #aaaaaa;
			position: relative;
			margin-right: 5px;
			display: none;
			cursor: pointer;
			&.active{
				color: #59514c;
				display: block;
			}
			&.toggle{
				display: block;
				&:first-child{
					margin-right: 25px;
				}
				/*&:last-child{
					margin-right: 30px;;
				}*/
			}
		}
		img{
			cursor: pointer;
		}
	}
	&__sort{
		position: relative;
		cursor: pointer;
		width: 195px;
		/*&::after{
			content: url(../img/arrow-r.png);
			position: absolute;
			top: -5px;
    		right: 5px;
    		padding: 11px 5px;
    		z-index: 5;
    		transform: rotate(180deg);
		}*/
		img{
			padding: 14px 5px;
		}
	}
	&__more{
		&.active{
			transform: rotate(180deg);
		}
	}
	&__toggle{
		width: auto;
		&::after{
			transform: none;
		}
	}
}
.dropdown{
	position: absolute;
	left: 0;
	top: 60px;
	background: #fff;
	padding: 45px 0;
	width: 600px;
	display: none !important;
    box-shadow: 0px 3px 35px 0px rgba(46, 46, 46, 0.09);
	ul{
		width: 300px;
		border-right: 1px solid #e8e8e8;
		padding-left: 60px;
		&:last-child{
			border-right: 0;
		}
		li{
			a{
				color: #59514c !important;
				font: 400 12px/32px 'Roboto';
				letter-spacing: 0;
				&:hover{
					color: #f8b30e !important;
				}
			}
		}
	}
	&__left{
		width: 300px;
		border-right: 1px solid #e8e8e8;
		padding-left: 80px;
		&_2{
			width: 260px;
			padding-left: 50px;
		}
		h2{
			color: #f9b30e;
			font: 500 18px 'Roboto';
			margin-bottom: 15px;
			&.title2{
				margin-top: 35px;
			}
		}
		a{
			color: #59514c !important;
			font: 400 12px/17px 'Roboto' !important;
			margin-bottom: 20px;
			display: block;
			cursor: pointer;
			&:last-child{
				margin-bottom: 0;
			}
			&:hover{
				color: #f8b30e !important;
			}
		}
		&_2{
			a{
				margin-bottom: 8px;
			}
		}		
	}
	&__right{
		width: 300px;
		padding-left: 95px;
		&_2{
			width: 340px;
			padding-left: 95px;
		}
		h2{
			color: #f9b30e;
			font: 500 18px 'Roboto';
			margin-bottom: 20px;
			&.title3{
				margin-top: 25px;
			}
		}
		a{
			color: #59514c !important;
			font: 400 12px/17px 'Roboto' !important;
			margin-bottom: 15px;
			display: block;
			cursor: pointer;
			&:last-child{
				margin-bottom: 0;
			}
			&:hover{
				color: #f8b30e !important;
			}
		}
		&_2{
			a{
				margin-bottom: 8px;
			}
		}
	}
	&__box{
		width: 70px;
		display: inline-block;
	}
}
.currency{
	margin-left: 12px;
	padding-top: 3px;
	span{
		font: 400 11px/26px 'Roboto';
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		cursor: pointer;
		&.active{
			color: #f8b30e;
		}
	}
}
.callback{
	border: 1px solid #f5b10e;
	border-radius: 40px;
	padding: 6px 9px;
	width: 397px;
	margin-top: 12px;
	margin-right: 51px;
	button{
		font: 400 10px/38px 'Roboto';
		color: #59514c;
		width: 172px;
		background: #fff;
		border: 0;
		border-radius: 40px;
		box-shadow: 0px 3px 21px 0px rgba(46, 46, 46, 0.14);
	}
	&__icon{
		background: #fff;
		width: 44px;
		height: 44px;
		border-radius: 100%;
		border: 2px solid #fff;
		box-shadow: 0px 0px 5px 0px rgba(89, 81, 76, 0.14) inset, 0px 3px 8px 0px rgba(89, 81, 76, 0.33);
		&.flex{
			justify-content: center;
		}
	}
}
.info{
	margin-right: 13px;
	p{
		font: 300 11px 'Roboto';
		color: #aaaaaa;
		margin-bottom: 3px;
	}
	a{
		font: 500 12px 'Roboto';
		color: #59514c;
		display: block;
    	margin-bottom: -3px;
    	margin-left: -4px;
		span{
			font: 500 14px 'Roboto';
			color: #59514c;
		}
		
	}
}
.phones{
	position: relative;
   	cursor: pointer;
   	height: 17px;
   	a{
   		display: block;
   		background: #fff;
   		width: 120px;
   		&.first{
   			position: absolute;
   			left: 0;
   			top: 0;
   		}
   		&.second{
   			position: absolute;
   			left: 0;
   			top: 17px;
   		}
   		&.third{
   			position: absolute;
   			left: 0;
   			top: 34px;
   		}
   	}
   	&::after{
		content: "";
		position: absolute;
		right: -15px;
		top: 6px;
		width: 7px;
		height: 5px;
		background: url(../img/arrow.png) center center no-repeat;
	}
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
	.header{
		&__bottnav{
			width: 560px;
			ul{
				li{
					margin-right: 0;
    				width: 50%;
				}
			}
		}
	}
	.dropdown{
		display: none !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.header{
		&__topnav{
			ul{
				li{
					margin-right: 19.5px;
				}
			}
		}
		&__cartinfo{
			margin-right: 6px;
		}
		&__bott{
			.wrapper{
				&.flex{
					justify-content: space-around;
				}
			}
		}
		&__bottnav{
			&.flex{
				justify-content: space-between;
			}
		}
	}
	.logo{
		img{
			width: 150px;
		}
	}
	.callback{
		width: 370px;
		margin-right: 0;
		button{
			width: 155px;
		}
	}
	.info{
		margin-right: 0;
	}
	.dropdown{
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.header{
		&__top{
			display: none;
		}
		&__bott{
			padding-bottom: 12.5px;
			.wrapper{
				&.flex{
					justify-content: space-around;
				}
			}
		}
		&__bottnav{
			width: 100%;
			ul{
				li{
					width: 100%;
					display: none;
					margin-right: 0;
					&.toggle{
						display: block;
						position: relative;
						&::after{
							content: "";
							position: absolute;
							top: 7px;
							right: 0;
							display: block;
							width: 28px;
							height: 28px;
							background: url(../img/menu.svg) center center no-repeat;
							background-size: 100%;
							filter: brightness(0) invert(1);
						}
					}
				}
			}
		}
		&__main{
			padding: 14.5px 0;
		}
		&__cart{
			margin-top: 12px;
			order: 1;
		}
		&__cartimg{
			width: 38px;
    		height: 38px;
    		margin-right: 5px;
		}
		&__cartinfo{
			p{
				font-size: 11px;
				margin-bottom: 3px;
			}
			span{
				font-size: 10px;
				a{
					margin-right: 5px;
				}
			}
		}
		&__searchcont{
			input{
				width: 50%;
				&.toggle{
					width: 27%;
				}
			}
			span{
				&.toggle{
					&:first-child{
						margin-right: 0;
					}
				}
			}
		}
		&__sort{
			width: 177px;
		}
		&__toggle{
			width: auto;
		}
	}
	.logo{
		img{
			width: 120px;
		}
	}
	.callback{
		order: 2;
		margin-right: 0;
    	width: 100%;
    	max-width: 397px;
    	button{
    		width: 150px;
    	}
    	&__icon{
    		display: none !important;
    	}
	}
	.dropdown{
		display: none !important;
	}
}
