@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');
@font-face {
	font-family: 'Conv_Poppins';
	src: url('../fonts/Poppins-Light.eot');
	src: local('☺'), url('../fonts/Poppins-Light.woff') format('woff'), 
	url('../fonts/Poppins-Light.ttf') format('truetype'), 
	url('../fonts/Poppins-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins';
	src: url('../fonts/Poppins-Regular.eot');
	src: local('☺'), url('../fonts/Poppins-Regular.woff') format('woff'), 
	url('../fonts/Poppins-Regular.ttf') format('truetype'), 
	url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins';
	src: url('../fonts/Poppins-Medium.eot');
	src: local('☺'), url('../fonts/Poppins-Medium.woff') format('woff'), 
	url('../fonts/Poppins-Medium.ttf') format('truetype'), 
	url('../fonts/Poppins-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), 
	url('../fonts/MyriadPro-Regular.ttf') format('truetype'), 
	url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}