@font-face{
	font-family:Os;
	src:url(fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family:Or;
	src:url(fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family:Ob;
	src:url(fonts/OpenSans-Bold.ttf);
}
@font-face{
	font-family:Ol;
	src:url(fonts/OpenSans-Light.ttf);
}
@font-face{
	font-family:Mr;
	src:url(fonts/Montserrat-Regular.otf);
}

body,h1,h2,h3,h4,h5,p,ul,li{
	margin:0;
	padding: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
	.container{
		padding-top: 18px;
		padding-bottom: 25px;
	}
	.btn-success{
		color: white;
		background: #bcda5c;
		border-radius: 20px;
		width: 100px;
		border: 0;
	}
}
.navbar-nav{
	float: right;
	li{
		a{
			font: 14px Os;
			margin-right: 25px;
			color: #a2a2a2;
			padding: 0;
			&:hover{
				background: none;
			}
		}
	}
}
.navmenu{
	padding-top: 15px;
	text-align: right;
}
.login-btn{
	padding-top: 8px;
}
.banner{
	text-align: center;
	box-shadow: 0 0 0 800px rgba(0, 0, 0, .2) inset;
	padding-top: 12%;
	padding-bottom: 12%;
	background: url(images/banner-bg.png) no-repeat;
	-moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    .container{
    	h1{
    		color: white;
    		font: 49px Os;
    		span{
				font: 30px Or;
    		}
    	}
    	button{
    		margin-top: 50px;
    		color: white;
			background: #99c50a;
			border: 0;
			width: 255px;
			height: 70px;
			border-radius: 8px;
			font: 20px Os;
    	}
    }
}
.our_works{
	padding: 95px 0;
	.container{
		img{
			margin-bottom: 50px; 
		}
		text-align: center;
		h1{
			font: 32px Os;
			color: #515151;
			line-height: 1.7em;
		}
		p{
			font: 20px Or;
			color: #a2a2a2;
			margin-top: 45px;
		    line-height: 1.7em;
		}
	}
}
.about_us{
	padding-bottom: 90px;
	padding-top: 60px;
	.container{
		.border-bot{
			border-bottom: 1px solid #e6e6e6;
			padding-bottom: 35px;
			&:hover{
				border-bottom: 1px solid #add136;
			}
			.number{
				text-align: center;
				color: white;
				width: 40px;
				height: 40px;
				border-radius: 22px;
				font: 21px Os;
				background: #5f5f5f;
				float: left;
				padding-top: 6px;
				margin-right: 30px;
				margin-top: 5px;
				&:hover{
					background: #add136;
				}
			}
			h5{
				color: #656565;
				font: 34px Ol;
			}
		}
		h4{
			color: #add136;	
			font: 26px Or;
			margin-bottom: 30px;
		}
		p{
			color: #a2a2a2;
			font: 18px Or;
			line-height: 1.8em;
		}
		.au-box{
			margin-top: 60px;
		}
		.img-center{
			text-align: center;
		}
	}
}
.follow{
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
		.img-center{
			text-align: center;
			padding-top: 8%;
		}
		h5{
			font: 24px Mr;
			color: #515151;
			margin-bottom: 30px;
		}
		p{
			font: 18px Or;
			color: #515151;
			margin-bottom: 20px;
			line-height: 1.7em;
		}
		button{
			font: 15px Os;
			color: white;
			border: 0;
			padding: 15px 25px;
			border-radius: 8px;
		}
		.btn-success{
			background: #add136;
		}
		.btn-primary{
			background: #26a6d1;
		}
		.properties{
			background: #e2f8ff;
			padding: 50px 0;
			img{
				width: 135px;
			}
		}
		.buyers{
			background: #f5f9eb;
			padding: 50px 0;
			img{
				width: 100px;
			}
		}
	}
}
.projects{
	padding-top: 75px;
	h1{
		font: 30px Os;
		color: #515151;
		margin-bottom: 20px;
	}
	p{
		font: 18px Or;
		color: #8f8f8f;
		line-height: 1.8em;
	}
	.pr-title{
		margin-bottom: 65px;
	}
	.pr-button{
		margin-bottom: 65px;
	}
	.btn-default{
		color: #8f8f8f;
		background: #ffffff;
		border: 1px solid #8f8f8f;
		padding: 15px 22px;
		outline: none;
		border-radius: 12px;
	}
	.pr-box{
		padding: 0 30px;
		border-radius: 10px;
	}
	.pr-price{
		background: #26a6d1;
		    border-radius: 6px;
		padding: 8px 6px;
		position: absolute;
		right: 15px;
		bottom: 20px;
		p{
			font: 17px Os;
			color: white;
		}
	}
	.pr-text{
		background: #f9f9f9;
		padding: 25px 20px;
		border: 1px solid #e5e5e5;
		h4{
			font: 18px Ob;
			color: #484848;
			margin-bottom: 15px;
		}
		p{
			font: 14px Or;
			line-height: 1.8em;
		}
	}
	.pr-img{
		position: relative;
		img{
			width: 100%;
		}
	}
	.pr-arrow{
		text-align: right;
		padding-top: 20px;
		border-top: 1px solid #d6d6d6;
		img{
			float: right;
			margin-left: 10px;
			padding-top: 3px;
		}
		a{
			font: 16px Os;
			color: #484848;
		}
	}
}
.testimonials{
	background: url(images/bg-img-2.png) no-repeat;
	background-size: 100%;
	.container{
		text-align: center;
		padding-top: 70px;
		padding-bottom: 70px;
		h2{
			font: 40px Os;
			color: #9ec02d;
			margin-bottom: 40px;
		}
		p{
			font: 20px Or;
			color: #949494;
			margin-bottom: 95px;
		}
		.comment{
			background: white;
			border-radius: 10px;
			padding: 20px 15px;
			h3{
				color: #9ec02d;
				font: 22px Os;
				margin-bottom: 10px;
			}
			p{
				font: 14px Or;
				color: #848484;
				line-height: 1.8em;
				margin-bottom: 0;
			}
		}
	}
}
.partners{
	text-align: center;
	padding: 40px;
	img{
		width: 100%;
	}
}
footer{
	text-align: center;
	padding: 25px;
	border-top: 1px solid #ededed;
	p{
		font: 14px Or;
		color: #848484;
	}
}

@media screen and (max-width:768px){
	header{
		.h-logo{
			text-align: center;
		}
		.navbar-nav{
			text-align: center;
			float: none;
			li{
				margin-bottom: 5px;
				a{
					margin-right: 0;
				}
			}
		}
		.login-btn{
			text-align: center;
		}
	}
	.banner{
		background-size: cover;
		.container{
			h1{
			font: 25px Os;
				span{
					font-size: 18px;
				}
			}
			button{
				margin-top: 20px;
				width: 150px;
				font-size: 14px;
				height: 37px;
			}
		}
	}
	.about_us{
		.border-bot{
			padding-top: 5px;
		}
	}
	.projects{
		.pr-button{
			text-align: center;
		}
	}
	.follow{
		.container-fluid{
			.properties{
				text-align: center;
				.img-center{
					margin-bottom: 25px;
				}
			}
			.buyers{
				text-align: center;
				.img-center{
					margin-bottom: 25px;
				}
			}
		}
	}
	.testimonials{
		background: none;
		.container{
			h2{
				font-size: 28px;
				padding-left: 5px;
				padding-right: 5px
			}
			p{
				font-size: 16px;
				padding-left: 5px;
				padding-right: 5px;
				margin-bottom: 50px;
			}
		}
	}
}

@media screen and (min-width:768px) and (max-width:992px){
	header{
		.container{
			.row{
				.h-logo{
					img{
						width: 100%;
						padding-top: 4%;
					}
				}
				.navbar-nav{
					li a{
						font-size: 13px;
					}
				}
				.login-btn{
					text-align: center;
					padding-top: 12px;
				}
			}
		}
	}
	.banner{
		background-size: cover;
		.container{
			h1{
			font: 35px Os;
				span{
					font-size: 25px;
				}
			}
			button{
				width: 200px;
				font-size: 16px;
				height: 47px;
			}
		}
	}
	.follow{
		.container-fluid{
			.img-center{
				padding-bottom: 10px;
			}
			.buyers{
				.img-center{
					padding-top: 13%;
				}
			}
		}
	}
	.projects{
		.pr-box{
			padding: 0 10px;
		}
	}
}

@media screen and (min-width:992px) and (max-width:1200px){
	header{
		.container{
			.row{
				.navbar-nav{
					li a{
						font-size: 13px;
					}
				}
			}
		}
	}
	.banner{
		background-size: cover;
		.container{
			h1{
			font: 45px Os;
				span{
					font-size: 28px;
				}
			}
			button{
				width: 240px;
				font-size: 18px;
				height: 57px;
			}
		}
	}
	.follow{
		.container-fluid{
			.img-center{
				padding-bottom: 10px;
			}
			.buyers{
				.img-center{
					padding-top: 12%;
				}
			}
		}
	}
	.projects{
		.pr-box{
			padding: 0 10px;
		}
	}
	.testimonials{
		.container{
			.row{
				p{
					margin-bottom: 50px;
				}
			}
		}
	}
}