
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	order: 1;	
    -webkit-order: 1;	
    background-size: cover;
    padding-bottom: 100px;
}
.mainbutt{
	font: 14px RR;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 9.5px 32px;
	margin-right: 12px;
	&:hover{
		background: #f523ad;
		border-color: #f523ad;
	}
}
.header{
	position: relative;
	background: url(../img/banner.jpg) center center no-repeat;
	background-size: cover;
	&__page{
		background-image: url(../img/bp1.jpg);
		/*background: linear-gradient(to right, #3a1439, #761157);*/
		background-position: center center;
		background-size: cover;
		&_2{
			background-image: url(../img/bp2.jpg);
		}
		&_3{
			background-image: url(../img/bp3.jpg);
		}
		&_4{
			background-image: url(../img/bp4.jpg);
		}
		&_5{
			background-image: url(../img/bp5.jpg);
		}
		&_6{
			background-image: url(../img/bp6.jpg);
		}
		&_7{
			background-image: url(../img/bp7.jpg);
		}
	}
	&__down{
		position: absolute;
		left: 50%;
		margin-left: -10.5px;
		bottom: 50px;
		cursor: pointer;
		display: none;
	}
}
.headertop{
	padding: 25px 0;
	box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__icons{
		display: flex;
		justify-content: flex-start;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 41px;
			height: 41px;
			border: 2px solid #fff;
			border-radius: 100%;
			margin-right: 9px;
			&:hover{
				transition: 1s;
				border-style: dashed;
			}
		}
	}
	&__info{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__phone{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-right: 35px;
		i{
			width: 14px;
			height: 16px;
			margin-right: 8px;
			display: inline-block;
			background: url(../img/phone.png) center center no-repeat;
		}
		a{
			color: #fff;
			font: 16px RM;
		}
	}
	&__email{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		i{
			width: 18px;
			height: 14px;
			margin-right: 8px;
			display: inline-block;
			background: url(../img/main.png) center center no-repeat;
		}
		a{
			color: #fff;
			font: 16px RM;
		}
	}
	&__buttons{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__login{
		font: 14px RR;
		color: #fff;
		background: transparent;
		border: 1px solid #fff;
		border-radius: 30px;
		padding: 9.5px 32px;
		margin-right: 12px;
		&:hover{
			background: #f523ad;
			border-color: #f523ad;
		}
	}
	&__register{
		font: 14px RR;
		color: #fff;
		background: transparent;
		border: 1px solid #fff;
		border-radius: 30px;
		padding: 9.5px 32px;
		margin-right: 24px;
		&:hover{
			background: #f523ad;
			border-color: #f523ad;
		}
	}
}
.headerbott{
	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
#myCanvasContainer{
	width: 350px;
	height: 350px;
	background: url('../img/bg.png') center center no-repeat;
	canvas{
		margin-left: -50px;
   	 	margin-top: -50px;
	}
}
.select{
	width: 112px;
    height: 40px;
	border: 1px solid #c7c7c7;
	border-radius: 30px;
	padding-top: 9px;
    list-style: none;
    cursor: pointer;
    display: flex;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    position: relative;
    font: 14px RR;
    color: #fff;
    z-index: 5;
    background: url(../img/arrow1.png) no-repeat;
    background-position: 80px 16px;
	&__item{
		display: none;
		background: transparent;
		z-index: 5;
		padding-left: 20px;
		/*border: 1px solid #c7c7c7;
		border-top: 0;*/
		height: 32px;
		padding-top: 8px;
		img{
			margin-right: 9px;
		}
		&:not(.select__item_init){
			float: left; 
			width: 112px; 
			margin-left: -1px;
			display: none; 
			background: transparent;
		}
		&_init{
			padding-left: 20px;
			height: 20px;
			display: flex;
    		align-items: center;
			img{
				margin-right: 9px;
			}
		}
		&_active{
			display: block;
			order: 2;
		}
		&_show{
			display: block;
		}
	}
}
.select li.select__item_init{
	cursor: pointer;
}
.headernav{
	padding: 25px 0;
	margin-bottom: 20px;
	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		max-width: 203px;
		height: 66px;
		display: inline-block;
		position: relative;
		&:hover{
			.item1{
				transform: rotate(1turn);
			}
			.item2{
				transform: rotate(-1turn);
			}
		}
	}
	&__navigation{
		.toggle{
			display: none !important;
			a{
				display: inline-block;
				vertical-align: middle;
			}
			img{
				max-width: 20px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 140px;
			}
		}
		ul{
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
		}
		li{
			margin-left: 35px;
		}
		a{
			color: #fff;
			text-transform: uppercase;
			font: 15px RM;
			position: relative;
			&:hover{
				&:after{
					opacity: 1;
				    -webkit-transform: translateY(0px);
				    -moz-transform: translateY(0px);
				    transform: translateY(0px);
				}
			}
			&:after{
				position: absolute;
			    top: 100%;
			    left: 0;
			    width: 100%;
			    height: 2px;
			    background: rgba(255,255,255,0.8);
			    content: '';
			    opacity: 0;
			    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
			    transition: opacity 0.3s, transform 0.3s;
			    -webkit-transform: translateY(10px);
			    -moz-transform: translateY(10px);
			    transform: translateY(10px);
			}
		}
	}
}
.navigation_fixed{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(117, 17, 87);
	background: linear-gradient(to right,#3a1439,#791259);
	z-index: 6;
	margin-bottom: 12px;
	padding: 8px 0;
	opacity: 0.9;
	.headernav{
		&__logo{
			height: 52%;
		}
	}
	.logo{
		max-width: 160px;
	}
	.item1{
		max-width: 31px;
		top: 10px;
    	left: 39px;
	}
	.item2{
		top: 3px;
    	left: 32px;
    	max-width: 46px;
	}
}
.logo{
	width: 100%;
}
.item1{
	position: absolute;
	top: 9px;
	left: 46px;
	transition: transform 0.7s linear;
	animation-duration: 1.5s;
}
.item2{
	position: absolute;
	top: 0;
	left: 37px;
	transition: transform 0.7s linear;
	animation-duration: 1.5s;
}
.headerbott{
	&__info{
		max-width: 750px;
		h2{
			font: 48px RB;
			color: #fff;
			text-transform: uppercase;
			line-height: 50px;
			margin-bottom: 10px;
		}
		p{
			font: 18px RL;
			color: #fff;
			line-height: 30px;
			margin-bottom: 10px;
		}
	}
}
.slick-dots{
	text-align: center;
	margin-top: 25px;
	li{
		display: inline-block;
		width: 10px;
    	height: 10px;
    	border-radius: 100%;
    	background: #fff;
    	border: 0;
    	margin: 0 5px;
    	button{
    		width: 10px !important;
    		padding: 0;
		    height: 10px;
		    border: 0;
		    border-radius: 100%;
		    background: #fff;
		    text-indent: 9999px;
    	}
	}
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
	.headernav{
		&__navigation {
			a{
				font-size: 14px;
			}
		}
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	header{
		padding-bottom: 80px;
	}
	.headertop {
		.wrapper{
			flex-wrap: wrap;
    		justify-content: space-around;
		}
		&__buttons{
			margin-top: 15px;
		}
	}
	.headernav{
		.wrapper{
			flex-direction: column;
		}
		&__logo{
			margin-bottom: 10px;
		}
		&__navigation{
			a{
				font-size: 14px;
			}
		}
	}
	.headerbott{
		&__info {
			h2{
				font-size: 38px;
				line-height: 40px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header{
		padding-bottom: 60px;
	}
	.header{
		&__down{
			bottom: 25px;
		}
	}
	.headertop{
		flex-direction: column;
		.wrapper{
			flex-direction: column;
		}
		&__icons{
			margin-bottom: 10px;
		}
		&__info{
			flex-direction: column;
    		margin-bottom: 10px;
		}
		&__phone{
			margin-right: 0;
    		margin-bottom: 10px;
		}
		&__buttons{
			flex-wrap: wrap;
    		justify-content: space-around;
		}
		&__login{
			margin-right: 0;
    		margin-bottom: 10px;
		}
		&__register{
			margin-right: 0;
    		margin-bottom: 10px;
		}
	}
	.headernav{
		margin-bottom: 0;
		.wrapper{
			flex-direction: column;
		}
		&__logo{
			margin-bottom: 15px;
		}
		&__navigation{
			.toggle{
				display: block !important;
			}
			ul{
				flex-direction: column;
			}
			li{
				display: none;
				margin-left: 0;
    			line-height: 25px;
			}
		}
	}
	.headerbott{
		.wrapper{
			flex-direction: column;
		}
		&__info {
			max-width: 360px;
			h2{
				font-size: 22px;
    			line-height: 30px;
			}
			p{
				font-size: 14px;
    			line-height: 20px;
   	 			padding: 0;
			}
		}
	}
	#myCanvasContainer{
		display: none;
	}
}
