@import url('https://fonts.googleapis.com/css?family=Caveat:700&subset=cyrillic');

@font-face {
	font-family: 'Conv_SF-UI-Display-Light';
	src: url('../fonts/SF-UI-Display-Light.eot');
	src: local('☺'), url('../fonts/SF-UI-Display-Light.woff') format('woff'), url('../fonts/SF-UI-Display-Light.ttf') format('truetype'), url('../fonts/SF-UI-Display-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SF-UI-Display-Bold';
	src: url('../fonts/SF-UI-Display-Bold.eot');
	src: local('☺'), url('../fonts/SF-UI-Display-Bold.woff') format('woff'), url('../fonts/SF-UI-Display-Bold.ttf') format('truetype'), url('../fonts/SF-UI-Display-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SF-UI-Display-Regular';
	src: url('../fonts/SF-UI-Display-Regular.eot');
	src: local('☺'), url('../fonts/SF-UI-Display-Regular.woff') format('woff'), url('../fonts/SF-UI-Display-Regular.ttf') format('truetype'), url('../fonts/SF-UI-Display-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SF-UI-Display-Medium';
	src: url('../fonts/SF-UI-Display-Medium.eot');
	src: local('☺'), url('../fonts/SF-UI-Display-Medium.woff') format('woff'), url('../fonts/SF-UI-Display-Medium.ttf') format('truetype'), url('../fonts/SF-UI-Display-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SF-UI-Display-Semibold';
	src: url('../fonts/SF-UI-Display-Semibold.eot');
	src: local('☺'), url('../fonts/SF-UI-Display-Semibold.woff') format('woff'), url('../fonts/SF-UI-Display-Semibold.ttf') format('truetype'), url('../fonts/SF-UI-Display-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_impact';
	src: url('../fonts/impact.eot');
	src: local('☺'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype'), url('../fonts/impact.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



