
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	order: 3;	
    -webkit-order: 3;	
    background-color: #222323;
    padding: 90px 0;
    .wrapper{
    	display: flex;
    	justify-content: space-between;
    }
}
.footer{
	&__left{
		display: flex;
	}
	&__item{
		margin-right: 110px;
		ul{
			list-style: none;
			li{
				p{
					font: 15px "GPL";
					color: #fff;
					line-height: 30px;
					text-transform: uppercase;
				}
				a{
					font: 14px "GPL";
					color: #b7b7b7;
					line-height: 30px;
					&:after{
						display: block;
					    content: attr(title);
					    font-family: "GPM";
					    height: 0;
					    overflow: hidden;
					    visibility: hidden;
					}
					&:hover{
						color: #fabb00;
						font-family: "GPM";
					}
				}
			}
		}
	}
	&__text{
		margin-top: 65px;
		p{
			font: 11px "GPL";
			color: #dfdfdf;
			line-height: 24px;
		}
		a{
			font: 11px "GPL";
			color: #dfdfdf;
			line-height: 24px;
			text-transform: uppercase;
			display: block;
		}
	}
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
	footer{
		padding: 50px 0;
	}
	.footer{
		&__item{
			margin-right: 75px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	footer{
		padding: 40px 0;
	}
	.footer{
		&__item{
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 767px) {
	footer{
		padding: 30px 0;
		.wrapper{
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	.footer{
		&__left{
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
		}
		&__right{
			display: flex;
    		justify-content: space-around;
    		flex-wrap: wrap;
    		align-items: center;
    		width: 100%;
		}
		&__text{
			margin-top: 6px;
		}
		&__item{
			margin-right: 0;
			margin-bottom: 15px;
			&:first-child{
				/*width: 100%;
				display: flex;
				justify-content: center;*/
			}
		}
	}
	.copyright{
		margin-bottom: 0;
	}
}