@font-face {
	font-family: 'UT';
	src: url('../fonts/Uni_Sans_Thin.otf');;
}

@font-face {
	font-family: 'NP';
	src: url('../fonts/Nautilus.otf');
}

@font-face {
	font-family: 'INTRO';
	src: url('../fonts/Intro.otf');
}

@font-face {
	font-family: 'MP';
	src: url('../fonts/MyriadPro-Regular.otf');
}