
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}

/* titles */
/*p{	
	@include font($base-font-size,$base-line-height,$text-color);
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	font-weight: 400;
}*/

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
/*.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}*/


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	order: 2;
    -webkit-order: 2;
    margin-top: 100px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.btn{
	height: 47px;
	font: 16px $h400;
	line-height: 30px;
	color: #303030;
	border: 0;
	background: linear-gradient(to right, #ecab6d, #e9b55a);
	padding: 0 40px;
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: all .3s;
	&:after{
		content: '';
		position: absolute;
	    z-index: -1;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
		background: linear-gradient(to right,#ffaf63,#ce9736);
	    -webkit-transform: scaleX(0);
	    transform: scaleX(0);
	    -webkit-transform-origin: 50%;
	    transform-origin: 50%;
	    -webkit-transition-property: -webkit-transform;
	    transition-property: -webkit-transform;
	    transition-property: transform;
	    transition-property: transform,-webkit-transform;
	    -webkit-transition-duration: .3s;
	    transition-duration: .3s;
	    -webkit-transition-timing-function: ease-out;
	    transition-timing-function: ease-out;
	}
	&:hover{
		&:after{
			-webkit-transform: scaleX(1);
    		transform: scaleX(1);
		}
	}
}
.input{
	width: 265px;
	height: 47px;
	background: #fff;
	border: 1px solid #e0e0e0;
	font: 16px $h300;
	line-height: 30px;
	color: #4b4b4b;
	padding: 0 15px;
	&::placeholder{
		font: 16px $h300;
		line-height: 30px;
		color: #4b4b4b;
	}
}
.textarea{
	width: 265px;
	height: 215px;
	background: #fff;
	border: 1px solid #e0e0e0;
	font: 16px $h300;
	line-height: 30px;
	color: #4b4b4b;
	padding: 11px 15px;
	&::placeholder{
		font: 16px $h300;
		line-height: 30px;
		color: #4b4b4b;
	}
}
.banner{
	padding: 90px 0 130px;
	background: url(../img/banner1.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	&:before{
		content: "";
		box-shadow: 0 0 0 9999px rgba(57,50,47, 0.95) inset;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 50%;
	}
	h1{
		font: 60px $g500;
		line-height: 60px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 75px;
		span{
			font: 30px $h300;
			line-height: 60px;
			color: #e1e4e6;
			text-transform: uppercase;
		}
	}
	h4{
		font: 30px $h300;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 15px;
		span{
			font: 48px $g700;
			color: #fff;
		}
	}
	&__icons{
		width: 650px;
		margin-bottom: 75px;
	}
	&__img{
		margin-bottom: 15px;
		&.flex{
			justify-content: center;
		}
	}
	&__text{
		font: 18px $h300;
		line-height: 21px;
		color: #fff;
		text-align: center;
	}
	&__text2{
		font: 18px $h400;
		line-height: 21px;
		color: #e9ae5a;
		margin-bottom: 35px;
	}
	&__form{
		width: 550px;
		.btn{
			width: 265px;
		}
	}
}
.calc{
	padding: 50px 0;
	background: #fff;
	&__title{
		font: 20px $h400;
		color: #303030;
		margin-bottom: 25px;
	}
	&__mats{
		margin-bottom: 60px;
	}
	&__mat{
		width: 245px;
		background: #f3f3f3;
		cursor: pointer;
		img{
			width: 100%;
		}
		&.active{
			.calc{
				&__select{
					p{
						&:after{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&__select{
		padding: 15px 55px;
		p{
			font: 16px $h400;
			color: #303030;
			position: relative;
			&:before{
				content: "";
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid #aaaaaa;
				position: absolute;
				left: -37px;
				top: 50%;
				margin-top: -10px;
			}
			&:after{
				content: "";
				width: 12px;
				height: 12px;
				background: #e9ae5a;
				border-radius: 100%;
				position: absolute;
				left: -33px;
				top: 3px;
				opacity: 0;
				transition: all 0.3s ease;
			}
		}
	}
	&__types{
		margin-bottom: 50px;
	}
	&__type{
		width: 369px;
		cursor: pointer;
		background: #f3f3f3;
		&:hover{
			.calc{
				&__img{
					&:before{
						opacity: 1;
						transform: translateX(0%) translateY(0%);
					}
				}
				&__text{
					opacity: 1;
				}
			}
		}
		&.active{
			.calc{
				&__select{
					p{
						&:after{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&__img{
		width: 100%;
		height: 461px;
		padding: 38px 45px;
		position: relative;
		overflow: hidden;
		&:before{
			content: "";
			box-shadow: 0 0 0 9999px rgba(57,50,47,0.8) inset;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			transform: translateX(-100%) translateY(-100%);
			opacity: 0;
			transition: all 0.3s ease;
		}
		&_1{
			background: url(../img/const1.jpg) center center no-repeat;
			background-size: cover;
		}
		&_2{
			background: url(../img/const2.jpg) center center no-repeat;
			background-size: cover;
		}
		&_3{
			background: url(../img/const3.jpg) center center no-repeat;
			background-size: cover;
		}
		&_4{
			background: url(../img/const4.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	&__text{
		transition: all 0.3s ease;
		font: 18px $h300;
		line-height: 21px;
		color: #fff;
		opacity: 0;
		position: relative;
    	z-index: 2;
    	text-align: center;
	}
	.btn{
		width: 290px;
		margin: 0 auto;
		display: block;
	}
}
.banner2{
	padding: 60px 0;
	background: url(../img/banner2.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	&__title{
		margin-left: 15px;
		background: #fff;
		padding: 10px 30px;
		font: 66px $g500;
		color: #303030;
		text-transform: uppercase;
		margin-bottom: 30px;
		position: relative;
		&:before{
			content: "";
			width: 15px;
			height: 100%;
			position: absolute;
			left: -15px;
			top: 0;
			background: linear-gradient(to bottom, #aa8369, #3a322f);
		}
	}
	&__left{
		h3{
			font: 45px $h300;
			color: #303030;
			text-transform: uppercase;
			padding-left: 45px;
		}
		h4{
			font: 64px $h400;
			color: #303030;
			text-transform: uppercase;
			padding-left: 45px;
			margin-bottom: 55px;
		}
		p{
			font: 18px $h300;
			color: #303030;
			padding-left: 45px;
			margin: 10px 0;
		}
	}
	&__right{
		position: relative;
		&:before{
			content: "";
			width: 634px;
			height: 448px;
			background: url(../img/leaf1.png);
			background-size: 100% 100%;
			position: absolute;
			left: -155px;
			top: -68px;
			z-index: 1;
		}
		&:after{
			content: "";
			width: 315px;
			height: 199px;
			background: url(../img/leaf2.png);
			background-size: 100% 100%;
			position: absolute;
			right: -145px;
			bottom: -65px;
			z-index: 3;
		}
	}
	&__form{
		margin-right: 65px;
		width: 480px;
		padding: 50px 95px 65px;
		background: #f3f3f3;
		text-align: center;	
		position: relative;
		z-index: 2;
		h3{
			font: 30px $g500;
			line-height: 40px;
			color: #303030;
			text-transform: uppercase;
			margin-bottom: 45px;
		}
		.input{
			margin-bottom: 25px;
		}
		.btn{
			width: 265px;
		}
	}
}
.title{
	font: 35px $g500;
	line-height: 50px;
	color: #303030;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.price{
	padding: 55px 0;
	background: url(../img/banner3.jpg) center center no-repeat;
	background-size: cover;
	&__info{
		width: 930px;
		margin-bottom: 50px;
	}
	&__title{
		background: linear-gradient(to right, #e9a059, #e9b55a);
	}
	&__desc{
		background: #ebebeb;
	}
	&__item{
		background: #fff;
		border-left: 1px solid #ebebeb;
		border-right: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		transition: all 0.3s ease;
		&:hover{
			background: #ebebeb;
		}
	}
	&__col{
		font: 16px $h400;
		color: #303030;
		padding: 12px 0 13px;
		&_title{
			font: 20px $g500;
			color: #303030;
			padding: 14px 0 15px;
		}
		&_desc{
			font: 16px $h500;
			color: #303030;
			padding: 16px 0 17px;
		}
		&_1{
			width: 705px;
			padding-left: 50px;
		}
		&_2{
			width: 223px;
			padding-left: 40px;
		}
		&_last{
			border-left: 1px solid #ebebeb;
		}
	}
	.btn{
		width: 290px;
		position: relative;
		margin-left: 640px;
		&:before{
			content: "";
			width: 43px;
			height: 43px;
			background: url(../img/pdf.png);
			background-size: 100% 100%;
			position: absolute;
			top: -11px;
			right: 0;
		}
	}
}
.doors{
	padding: 60px 0 100px;
	background: url(../img/banner6.jpg) center center no-repeat;
	background-size: cover;
	&__box{
		width: 100%;
		&.flex{
			align-items: stretch;
		}
	}
	&__steps{
		margin-left: 530px;
	}
	&__step{
		width: 430px;
		background: #fff;
		padding: 25px 30px;
		margin-bottom: 40px;
		position: relative;
		&:last-child{
			margin-bottom: 0;
		}
		h3{
			font: 20px $h700;
			color: #303030;
			margin-bottom: 20px;
		}
		p{
			font: 16px $h400;
			line-height: 21px;
			color: #303030;
		}
		&_1{
			position: relative;
			&:before{
				content: "";
				width: 46px;
				height: 195px;
				background: url(../img/arrow2.png);
				background-size: 100% 100%;
				position: absolute;
				left: -46px;
				top: 55px;
			}
		}
		&_2{
			position: relative;
			&:before{
				content: "";
				width: 52px;
				height: 195px;
				background: url(../img/arrow3.png);
				background-size: 100% 100%;
				position: absolute;
				right: -52px;
				top: 55px;
			}
		}
	}
	&__doc{
		padding: 40px 60px 45px;
		background: #fff;
		width: 450px;
		h3{
			font: 30px $g500;
			line-height: 40px;
			color: #303030;
			text-transform: uppercase;
			margin-bottom: 15px;
			padding-left: 15px;
		}
		p{
			font: 19px $h400;
			line-height: 27px;
			color: #303030;
			margin-bottom: 35px;
			padding-left: 15px;
		}
		.btn{
			width: 290px;
			display: block;
			margin: 0 auto;
		}
	}
	&__img{
		display: block;
		margin: 0 auto 40px;
	}
}
.dop{
	padding: 55px 0 50px;
	background: #fff;
	&__box{
		margin-bottom: 50px;
	}
	&__item{
		width: 370px;
		background: #f3f3f3;
	}
	&__text{
		font: 16px $h400;
		color: #303030;
		width: 100%;
		text-align: center;
		padding: 16px 0;
	}
	&__img{
		img{
			max-width: 100%;
		}
	}
	.btn{
		display: block;
		margin: 0 auto;
		width: 290px;
	}
}
.works{
	padding: 30px 0 125px;
	background: #f3f3f3;
	&__slider{
		.slick-slide{
			margin: 0 30px;
			position: relative;
			overflow: hidden;
			&:before{
				content: "";
				box-shadow: 0 0 0 9999px rgba(57,50,47,0.8) inset;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				transform: translateX(-100%) translateY(-100%);
				opacity: 0;
				transition: all 0.3s ease;
			}
			img{
				max-width: 100%;
			}
			&:hover{
				&:before{
					transform: translateX(0%) translateY(0%);
					opacity: 1;
				}
				.works{
					&__text{
						opacity: 1;
					}
				}
			}
		}
		.slick-list{
			margin: 0 -30px;
		}
		.slick-prev, .slick-next{
			width: 31px;
			height: 84px;
			background: #fff;
			position: absolute;
			top: 50%;
			margin-top: -42px;
			text-indent: 9999px;
			border: 0;
			z-index: 2;
			&:before{
				content: "";
				width: 11px;
				height: 20px;
				background: url(../img/arrow.png);
				background-size: 100% 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -10px;
				margin-left: -5.5px;
			}
		}
		.slick-prev{
			left: -15px;
		}
		.slick-next{
			right: -15px;
			&:before{
				transform: rotate(180deg);
			}
		}
		.slick-dots{
			position: absolute;
			bottom: -55px;
			width: 100%;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			li{
				padding: 0;
				border: 0;
				margin: 0 7px;
				button{
					width: 14px;
					height: 14px;
					padding: 0;
					border: 0;
					background: #706c69;
					text-indent: 9999px;
					border-radius: 100%;
				}
				&.slick-active{
					button{
						background: #39322f;
					}
				}
			}
		}
	}
	&__text{
		transition: all 0.3s ease;
		font: 19px $h300;
		line-height: 22px;
		color: #fff;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
    	z-index: 2;
    	padding: 35px;
    	width: 100%;
    	height: 100%;
    	text-align: center;
	}
}
.banner3{
	padding: 60px 0;
	background: url(../img/banner4.jpg) center center no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	&__box{
		width: 705px;
		margin-left: -15px;
		position: relative;
		padding: 40px 80px 50px 40px;
		background: #fff;
		&:before{
			content: "";
			width: 15px;
			height: 100%;
			position: absolute;
			left: -15px;
			top: 0;
			background: linear-gradient(to bottom, #e9b55a, #e9a059);
		}
		h3{
			font: 60px $g500;
			color: #303030;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		h4{
			font: 24px $g500;
			line-height: 30px;
			color: #303030;
			text-transform: uppercase;
			margin-bottom: 50px;
		}
	}
	&__info{
		margin-bottom: 65px;
		padding-right: 30px;
	}
	&__col{
		p{
			font: 20px $h400;
			color: #303030;
			padding-left: 35px;
			position: relative;
			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				content: "";
				width: 16px;
				height: 16px;
				background: url(../img/marker.png);
				background-size: 100% 100%;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -8px;
			}
		}
	}
	&__form{
		.btn{
			width: 265px;
		}
	}
}
.comment{
	padding: 50px 0;
	background: #fff;
	&__box{
		margin-bottom: 50px;
		.slick-list{
			margin: 0 -20px;
		}
		.slick-slide{
			margin: 0 20px;
		}
	}
	&__item{
		width: 500px;
		padding: 20px 20px 35px;
		background: #f8f8f8;
	}
	&__top{
		margin-bottom: 20px;
		&.flex{
			justify-content: flex-start;
		}
	}
	&__img{
		width: 72px;
		height: 72px;
		margin-right: 25px;
		/*img{
			max-width: 100%;
		}*/
		&_1{
			background: url(../img/comm1.jpg) center center no-repeat;
			background-size: cover;
		}
		&_2{
			background: url(../img/comm2.jpg) top center no-repeat;
			background-size: cover;
		}
		&_3{
			background: url(../img/comm3.jpg) center center no-repeat;
			background-size: cover;
		}
		&_4{
			background: url(../img/comm4.jpg) center center no-repeat;
			background-size: cover;
		}
		&_5{
			background: url(../img/comm5.jpg) top center no-repeat;
			background-size: cover;
		}
		&_6{
			background: url(../img/comm6.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	&__info{
		h3{
			font: 18px $h700;
			line-height: 21px;
			color: #191919;
			margin-bottom: 5px;
		}
		a{
			font: 14px $h400;
			line-height: 21px;
			color: #808080;
		}
	}
	&__date{
		&.flex{
			justify-content: flex-start;
		}
		span{
			font: 14px $h400;
			line-height: 21px;
			color: #808080;
		}
	}
	&__text{
		font: 16px $h300;
		line-height: 21px;
		color: #191919;
	}
	.btn{
		width: 290px;
		display: block;
		margin: 0 auto;
	}
}
.contact{
	background: url(../img/banner5.jpg) center center no-repeat;
	background-size: cover;
	padding: 30px 0;
	&__box{
		width: 750px;
		margin-left: 17px;
		position: relative;
		background: #fff;
		padding: 40px;
		&:before{
			content: "";
			width: 17px;
			position: absolute;
			left: -17px;
			height: 100%;
			top: 0;
			background: linear-gradient(to bottom, #e9b55a, #e9a059);
		}
		h2{
			font: 50px $g500;
			line-height: 80px;
			color: #303030;
			text-transform: uppercase;
		}
		h3{
			font: 50px $h400;
			line-height: 80px;
			color: #303030;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p{
			font: 24px $g500;
			line-height: 30px;
			color: #303030;
		}
	}
	&__form{
		width: 290px;
		margin-right: 160px;
		text-align: center;
		h3{
			font: 30px $g500;
			line-height: 40px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 45px;
		}
		.input{
			width: 100%;
			margin-bottom: 35px;
		}
		.btn{
			width: 100%;
		}
	}
}
.modal-cont{
	position: relative;
	/*display: none;*/
	width: 480px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -240px;
	background: #f3f3f3;
	border: 0;
	opacity: 0;
	z-index: -1;
}
.modal{
	&__container{
		padding: 40px 50px 50px;
		text-align: center;
		&.flex{
			align-items: stretch;
		}
		.input{
			width: 265px;
			margin-bottom: 25px;
		}
		.btn{
	    	width: 265px;
	    }
	    &_2{
	    	padding: 40px 80px 50px;
	    }
	}
	&__title{
		font: 700 30px $g500;
		line-height: 40px;
		color: #303030;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
	&-comm{
		width: 670px;
		margin-left: -335px;
		.input{
			width: 100%;
		}
		.textarea{
			width: 100%;
			margin-bottom: 20px;
		}
		.btn{
			width: 100%;
		}
	}
	&__input{
		margin-bottom: 15px;
		input{
			display: none;
		}
		label{
			font: 400 12px $h300;
			line-height: 16px;
		    padding-left: 30px;
		    color: #303030;
		    display: inline-block;
		    position: relative;
		    cursor: pointer;
		    text-align: left;
		    width: 100%;
		    &::before{
		    	content: "";
			    display: inline-block;
			    width: 15px;
			    height: 15px;
			    position: absolute;
			    background-color: #fff;
			    background-image: none;
			    border: 1px solid #cbcbcb;
			    left: 0;
			    top: 3px;
		    }
		    &::after{
		    	content: "";
			    width: 16px;
			    height: 15px;
			    background: url(../img/check.png);
			    background-size: 100% 100%;
			    position: absolute;
			    left: 1px;
    			top: 0px;
    			opacity: 0;
    			transition: all 0.3s ease;
		    }
		    a{
		    	color: #303030;
		    	border-bottom: 1px solid #303030;
		    }
		}
		input:checked + label::after{
			opacity: 1;
		}
		&_2{
			margin-bottom: 30px;
		}
	}
}
.modal-close{
	cursor: pointer;
	position: absolute;
  	right: 13px;
    top: 13px;
  	width: 18px;
  	height: 18px;
  	background: url(../img/close.png);
  	background-size: 100% 100%;
  	/*filter: brightness(0) invert(1);*/
  	transition: all 0.3s ease;
  	/*&:hover{
  		filter: none;
  	}*/
}
.overlay{
	display: none;
	background: #363636;
	position: fixed;
	top: 0;
	left: 0;
  	width: 100%;
  	height: 100%;
  	opacity: 0.65;
  	-moz-opacity:0.65; 
  	filter:alpha(opacity=65);
	z-index: 9998;
	overflow: hidden;
}
.empty{
	border-color: red!important;
}
.thanks{
	width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url(../img/thanks.jpg);
    background-position: center center;
    background-size: cover;
    top: 0;
    .header{
    	&__logo{
    		a{
    			color: #fff;
    			span{
    				color: #bb7b54;
    			}
    		}
    	}
    }
    &.flex{
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    }
    h2{
    	font: 700 40px $g500;
    	color: #fff;
    	margin-top: 40px;
    	margin-bottom: 40px;
    	text-align: center;
    }
    h3{
    	font: 700 20px $h400;
    	color: #fff;
    	margin-bottom: 50px;
    	text-align: center;
    }
    .btn{
    	width: 260px;
    	font-size: 16px;
    	height: 47px;
    }
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1700px) {
	.content{
		margin-top: 100px*$mult;
	}
	.wrapper{
		max-width: 1170px;
	}
	.btn{
		height: 47px*$mult;
		font: 16px*$mult $h400;
		line-height: 30px*$mult;
		padding: 0 40px*$mult;
	}
	.input{
		width: 265px*$mult;
		height: 47px*$mult;
		font: 16px*$mult $h300;
		line-height: 30px*$mult;
		padding: 0 15px*$mult;
		&::placeholder{
			font: 16px*$mult $h300;
			line-height: 30px*$mult;
		}
	}
	.textarea{
		width: 265px*$mult;
		height: 215px*$mult;
		font: 16px*$mult $h300;
		line-height: 30px*$mult;
		padding: 11px*$mult 15px*$mult;
		&::placeholder{
			font: 16px*$mult $h300;
			line-height: 30px*$mult;
		}
	}
	.banner{
		padding: 90px*$mult 0 130px*$mult;
		h1{
			font: 60px*$mult $g500;
			line-height: 60px*$mult;
			margin-bottom: 75px*$mult;
			span{
				font: 30px*$mult $h300;
				line-height: 60px*$mult;
			}
		}
		h4{
			font: 30px*$mult $h300;
			margin-bottom: 15px*$mult;
			span{
				font: 48px*$mult $g700;
			}
		}
		&__icons{
			width: 650px*$mult;
			margin-bottom: 75px*$mult;
		}
		&__img{
			margin-bottom: 15px*$mult;
		}
		&__text{
			font: 18px*$mult $h300;
			line-height: 21px*$mult;
		}
		&__text2{
			font: 18px*$mult $h400;
			line-height: 21px*$mult;
			margin-bottom: 35px*$mult;
		}
		&__form{
			width: 550px*$mult;
			.btn{
				width: 265px*$mult;
			}
		}
	}
	.calc{
		padding: 50px*$mult 0;
		&__title{
			font: 20px*$mult $h400;
			margin-bottom: 25px*$mult;
		}
		&__mats{
			margin-bottom: 60px*$mult;
		}
		&__mat{
			width: 245px*$mult;
		}
		&__select{
			padding: 15px*$mult 55px*$mult;
			p{
				font: 16px*$mult $h400;
				&:before{
					width: 20px*$mult;
					height: 20px*$mult;
					left: -37px*$mult;
					margin-top: -10px*$mult;
				}
				&:after{
					width: 12px*$mult;
					height: 12px*$mult;
					left: -33px*$mult;
					top: 3px*$mult;
				}
			}
		}
		&__types{
			margin-bottom: 50px*$mult;
		}
		&__type{
			width: 369px*$mult;
		}
		&__img{
			height: 461px*$mult;
			padding: 38px*$mult 45px*$mult;
		}
		&__text{
			font: 18px*$mult $h300;
			line-height: 21px*$mult;
		}
		.btn{
			width: 290px*$mult;
		}
	}
	.banner2{
		padding: 60px*$mult 0;
		&__title{
			margin-left: 15px*$mult;
			padding: 10px*$mult 30px*$mult;
			font: 66px*$mult $g500;
			margin-bottom: 30px*$mult;
			&:before{
				width: 15px*$mult;
				left: -15px*$mult;
			}
		}
		&__left{
			h3{
				font: 45px*$mult $h300;
				padding-left: 45px*$mult;
			}
			h4{
				font: 64px*$mult $h400;
				padding-left: 45px*$mult;
				margin-bottom: 55px*$mult;
			}
			p{
				font: 18px*$mult $h300;
				padding-left: 45px*$mult;
				margin: 10px*$mult 0;
			}
		}
		&__right{
			&:before{
				width: 634px*$mult;
				height: 448px*$mult;
				left: -155px*$mult;
				top: -68px*$mult;
			}
			&:after{
				width: 315px*$mult;
				height: 199px*$mult;
				right: -145px*$mult;
				bottom: -65px*$mult;
			}
		}
		&__form{
			margin-right: 65px*$mult;
			width: 480px*$mult;
			padding: 50px*$mult 95px*$mult 65px*$mult;
			h3{
				font: 30px*$mult $g500;
				line-height: 40px*$mult;
				margin-bottom: 45px*$mult;
			}
			.input{
				margin-bottom: 25px*$mult;
			}
			.btn{
				width: 265px*$mult;
			}
		}
	}
	.title{
		font: 35px*$mult $g500;
		line-height: 50px*$mult;
		margin-bottom: 50px*$mult;
	}
	.price{
		padding: 55px*$mult 0;
		&__info{
			width: 930px*$mult;
			margin-bottom: 50px*$mult;
		}
		&__col{
			font: 16px*$mult $h400;
			padding: 12px*$mult 0 13px*$mult;
			&_title{
				font: 20px*$mult $g500;
				padding: 14px*$mult 0 15px*$mult;
			}
			&_desc{
				font: 16px*$mult $h500;
				padding: 16px*$mult 0 17px*$mult;
			}
			&_1{
				width: 527.75px;
				padding-left: 50px*$mult;
			}
			&_2{
				width: 223px*$mult;
				padding-left: 40px*$mult;
			}
		}
		.btn{
			width: 290px*$mult;
			margin-left: 640px*$mult;
			&:before{
				width: 43px*$mult;
				height: 43px*$mult;
				top: -11px*$mult;
			}
		}
	}
	.doors{
		padding: 60px*$mult 0 100px*$mult;
		&__steps{
			margin-left: 530px*$mult;
		}
		&__step{
			width: 430px*$mult;
			padding: 25px*$mult 30px*$mult;
			margin-bottom: 40px*$mult;
			h3{
				font: 20px*$mult $h700;
				margin-bottom: 20px*$mult;
			}
			p{
				font: 16px*$mult $h400;
				line-height: 21px*$mult;
			}
			&_1{
				&:before{
					width: 46px*$mult;
					height: 195px*$mult;
					left: -46px*$mult;
					top: 55px*$mult;
				}
			}
			&_2{
				&:before{
					width: 52px*$mult;
					height: 195px*$mult;
					right: -52px*$mult;
					top: 55px*$mult;
				}
			}
		}
		&__doc{
			padding: 40px*$mult 60px*$mult 45px*$mult;
			width: 450px*$mult;
			h3{
				font: 30px*$mult $g500;
				line-height: 40px*$mult;
				margin-bottom: 15px*$mult;
				padding-left: 15px*$mult;
			}
			p{
				font: 19px*$mult $h400;
				line-height: 27px*$mult;
				margin-bottom: 35px*$mult;
				padding-left: 15px*$mult;
			}
			.btn{
				width: 290px*$mult;
			}
		}
		&__img{
			margin: 0 auto 40px*$mult;
		}
	}
	.dop{
		padding: 55px*$mult 0 50px*$mult;
		&__box{
			margin-bottom: 50px*$mult;
		}
		&__item{
			width: 370px*$mult;
		}
		&__text{
			font: 16px*$mult $h400;
			padding: 16px*$mult 0;
		}
		.btn{
			width: 290px*$mult;
		}
	}
	.works{
		padding: 30px*$mult 0 125px*$mult;
		&__slider{
			.slick-slide{
				margin: 0 30px*$mult;
				&:before{
					content: "";
					box-shadow: 0 0 0 9999px rgba(57,50,47,0.8) inset;
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					transform: translateX(-100%) translateY(-100%);
					opacity: 0;
					transition: all 0.3s ease;
				}
			}
			.slick-list{
				margin: 0 -30px*$mult;
			}
			.slick-prev, .slick-next{
				width: 31px*$mult;
				height: 84px*$mult;
				margin-top: -42px*$mult;
				&:before{
					width: 11px*$mult;
					height: 20px*$mult;
					margin-top: -10px*$mult;
					margin-left: -5.5px*$mult;
				}
			}
			.slick-prev{
				left: -15px*$mult;
			}
			.slick-next{
				right: -15px*$mult;
			}
			.slick-dots{
				bottom: -55px*$mult;
				li{
					margin: 0 7px*$mult;
					button{
						width: 14px*$mult;
						height: 14px*$mult;
					}
				}
			}
		}
		&__text{
			font: 19px*$mult $h300;
			line-height: 22px*$mult;
	    	padding: 35px*$mult;
		}
	}
	.banner3{
		padding: 60px*$mult 0;
		&__box{
			width: 705px*$mult;
			margin-left: -15px*$mult;
			padding: 40px*$mult 80px*$mult 50px*$mult 40px*$mult;
			&:before{
				width: 15px*$mult;
				left: -15px*$mult;
			}
			h3{
				font: 60px*$mult $g500;
				margin-bottom: 20px*$mult;
			}
			h4{
				font: 24px*$mult $g500;
				line-height: 30px*$mult;
				margin-bottom: 50px*$mult;
			}
		}
		&__info{
			margin-bottom: 65px*$mult;
			padding-right: 30px*$mult;
		}
		&__col{
			p{
				font: 20px*$mult $h400;
				padding-left: 35px*$mult;
				margin-bottom: 12px*$mult;
				&:before{
					width: 16px*$mult;
					height: 16px*$mult;
					margin-top: -8px*$mult;
				}
			}
		}
		&__form{
			.btn{
				width: 265px*$mult;
			}
		}
	}
	.comment{
		padding: 50px*$mult 0;
		&__box{
			margin-bottom: 50px*$mult;
			.slick-list{
				margin: 0 -20px*$mult;
			}
			.slick-slide{
				margin: 0 20px*$mult;
			}
		}
		&__item{
			width: 500px*$mult;
			padding: 20px*$mult 20px*$mult 35px*$mult;
		}
		&__top{
			margin-bottom: 20px*$mult;
		}
		&__img{
			width: 72px*$mult;
			height: 72px*$mult;
			margin-right: 25px*$mult;
		}
		&__info{
			h3{
				font: 18px*$mult $h700;
				line-height: 21px*$mult;
				margin-bottom: 5px*$mult;
			}
			a{
				font: 14px*$mult $h400;
				line-height: 21px*$mult;
			}
		}
		&__date{
			img{
				width: 17px*$mult;
			}
			span{
				font: 14px*$mult $h400;
				line-height: 21px*$mult;
			}
		}
		&__text{
			font: 16px*$mult $h300;
			line-height: 21px*$mult;
		}
		.btn{
			width: 290px*$mult;
		}
	}
	.contact{
		padding: 30px*$mult 0;
		&__box{
			width: 750px*$mult;
			margin-left: 17px*$mult;
			padding: 40px*$mult;
			&:before{
				width: 17px*$mult;
				left: -17px*$mult;
			}
			h2{
				font: 50px*$mult $g500;
				line-height: 80px*$mult;
			}
			h3{
				font: 50px*$mult $h400;
				line-height: 80px*$mult;
				margin-bottom: 20*$mult;
			}
			p{
				font: 24px*$mult $g500;
				line-height: 30px*$mult;
			}
		}
		&__form{
			width: 290px*$mult;
			margin-right: 160px*$mult;
			h3{
				font: 30px*$mult $g500;
				line-height: 40px*$mult;
				margin-bottom: 45px*$mult;
			}
			.input{
				margin-bottom: 35px*$mult;
			}
		}
	}
	.modal-cont{
		width: 480px*$mult;
		margin-left: -240px*$mult;
	}
	.modal{
		&__container{
			padding: 40px*$mult 50px*$mult 50px*$mult;
			.input{
				width: 265px*$mult;
				margin-bottom: 25px*$mult;
			}
			.btn{
		    	width: 265px*$mult;
		    }
		    &_2{
		    	padding: 40px*$mult 80px*$mult 50px*$mult;
		    }
		}
		&__title{
			font: 700 30px*$mult $g500;
			line-height: 40px*$mult;
			margin-bottom: 35px*$mult;
		}
		&-comm{
			width: 670px*$mult;
			margin-left: -335px*$mult;
			.input, .btn{
				width: 100%;
			}
			.textarea{
				margin-bottom: 20px*$mult;
			}
		}
		&__input{
			margin-bottom: 15px*$mult;
			label{
				font: 400 12px*$mult $h300;
				line-height: 16px*$mult;
			    padding-left: 30px*$mult;
			    &::before{
				    width: 15px*$mult;
				    height: 15px*$mult;
				    top: 3px*$mult;
			    }
			    &::after{
				    width: 16px*$mult;
				    height: 15px*$mult;
			    }
			}
			&_2{
				margin-bottom: 30px*$mult;
			}
		}
	}
	.modal-close{
	  	right: 13px*$mult;
	    top: 13px*$mult;
	  	width: 18px*$mult;
	  	height: 18px*$mult;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper{
		max-width: 940px;
	}
	/*.banner{
		background: url(../img/banner1.jpg) left center no-repeat;
	}*/
	.banner{
		&:before{
			width: 60%;
		}
	}
	.calc{
		&__mat{
			width: 148.75px;
		}
		&__type{
			width: 225.75px;
		}
		&__img{
			height: 308.75px;
		}
	}
	.banner2{
		background: url(../img/banner2.jpg) -1450px center no-repeat;
		&__title{
			font: 40.5px Conv_Geometria-Medium;
		}
	}
	.doors{
		&__steps{
			margin-left: 283.5px;
		}
		&__step{
			width: 223.5px;
			p{
				br{
					display: none;
				}
			}
		}
	}
	.dop{
		&__item{
			width: 220.5px;
		}
	}
	.contact{
		background: url(../img/banner5.jpg) right center no-repeat;
		&__box{
			width: 485.5px;
		    margin-left: 12.75px;
		    padding: 23px;
			h2{
				font: 33.5px Conv_Geometria-Medium;
    			line-height: 50px;
			}
			h3{
				font: 33.5px Conv_HelveticaNeueCyr-Roman;
    			line-height: 50px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper{
		max-width: 740px;
	}
	/*.banner{
		background: url(../img/banner1.jpg) 0 center no-repeat;
	}*/
	.banner{
		&:before{
			width: 70%;
		}
	}
	.calc{
		&__mat{
			width: 196.75px;
    		margin: 10px 0;
		}
		&__type{
			width: 305.75px;
    		margin: 15px 0;
		}
	}
	.banner2{
		&__left{
			position: relative;
    		z-index: 2;
		}
		&__form{
			margin-right: 0;
		    width: 300px;
		    padding: 37.5px 30px 48.75px;
		}
		&__title{
			font: 38.5px Conv_Geometria-Medium;
		}
	}
	.doors{
		&__doc{
			padding: 30px 43px 33.75px;
    		width: 290.5px;
		}
		&__steps{
			margin-left: 108.5px;
		}
		&__step{
			width: 290.5px;
			p{
				br{
					display: none;
				}
			}
		}
	}
	.dop{
		&__item{
			width: 175.5px;
		}
	}
	.contact{
		background: url(../img/banner5.jpg) -697px center no-repeat;
		&__box{
			width: 421.5px;
		    margin-left: 12.75px;
		    padding: 23px;
			h2{
				font: 29.5px Conv_Geometria-Medium;
    			line-height: 50px;
			}
			h3{
				font: 29.5px Conv_HelveticaNeueCyr-Roman;
    			line-height: 50px;
			}
		}
		&__form{
			width: 217.5px;
    		margin-right: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.content{
		margin-top: 67.5px;
	}
	.wrapper{
		max-width: calc(100% - 30px);
	}
	.title{
		font: 18px Conv_Geometria-Medium;
    	line-height: 30.5px;
    	margin-bottom: 30.5px;
    	br{
    		display: none;
    	}
	}
	.banner{
		padding: 30px 0 50px;
		/*background: url(../img/banner1.jpg) left center no-repeat;*/
		&:before{
			width: 100%;
		}
		h1{
			font: 26px Conv_Geometria-Medium;
    		line-height: 40px;
    		margin-bottom: 30.25px;
    		span{
    			font: 19.5px Conv_HelveticaNeueCyr-Light;
	    		line-height: 35px;
    		}
		}
		&__icons{
			width: 290px;
			margin-bottom: 40px;
		}
		&__form{
			width: 290px;
			.input{
				width: 100%;
				margin-bottom: 20px;
			}
			.btn{
				width: 100%;
			}
		}
	}
	.calc{
		&__mat{
			width: 48%;
			margin-bottom: 2%;
		}
		&__type{
			width: 49%;
    		margin-bottom: 2%;
		}
		&__img{
			height: 194.75px;
			padding: 5px;
		}
		&__text{
			font: 10px Conv_HelveticaNeueCyr-Light;
		}
	}
	.banner2{
		&__title{
			padding: 7.5px 12px;
		    font: 24.5px Conv_Geometria-Medium;
		    margin-bottom: 15.5px;
		}
		&__left{
			margin-bottom: 30px;
			h3{
				font: 23.75px Conv_HelveticaNeueCyr-Light;
    			padding-left: 23.75px;
			}
			h4{
				font: 32px Conv_HelveticaNeueCyr-Roman;
    			padding-left: 23.75px;
    			margin-bottom: 20.25px;
			}
			p{
				padding-left: 23.75px;
			}
		}
		&__right{
			&:before{
				content: none;
			}
		}
		&__form{
			padding: 25.5px 20.25px 37.75px;
			margin-right: 0;
			width: 100%;
			max-width: 360px;
			margin: 0 auto;
			box-shadow: 0 0 11px 1px rgba(0,0,0,0.25);
		}
	}
	.price{
		&__info{
			max-width: 697.5px;
    		width: 100%;
		}
		&__item{
			&.flex{
				align-items: stretch;
			}
		}
		&__col{
			padding-left: 10px;
			&_title{
				font: 13px $g500;
			}
			&_1{
				width: calc(100% - 105px);
				padding-left: 10px;
			}
			&_2{
				width: 105px;
    			padding-left: 0;
    			text-align: center;
			}
		}
		.btn{
			margin-left: 0;
		}
	}
	.doors{
		padding: 45px 0;
		&__steps{
			margin-left: 0;
    		width: 100%;
    		margin-bottom: 30px;
		}
		&__step{
			width: 90%;
    		margin: 0 auto 30px;
		}
		&__doc{
			padding: 30px 39px 33.75px;
    		max-width: 337.5px;
    		width: 100%;
		}
	}
	.dop{
		&__item{
			width: 49%;
    		margin-bottom: 2%;
		}
	}
	.works{
		padding: 22.5px 0 69.75px;
	}
	.banner3{
		&__form{
		    .input{
		    	margin: 10px 0;
		    }
		}
		&__box{
			max-width: 528.75px;
		    width: 100%;
		    margin: 0 auto;
		    margin-right: -5.5px;
		    padding: 20px;
			h3{
				font: 29px Conv_Geometria-Medium;
    			margin-bottom: 10px;
			}
			h4{
				margin-bottom: 20.5px;
			}
		}
		&__info{
			margin-bottom: 21.75px;
		}
	}
	.comment{
		.slick-dots{
			position: absolute;
			bottom: -28.25px;
			width: 100%;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			li{
				padding: 0;
				border: 0;
				margin: 0 7px*$mult;
				button{
					width: 14px*$mult;
					height: 14px*$mult;
					padding: 0;
					border: 0;
					background: #706c69;
					text-indent: 9999px;
					border-radius: 100%;
				}
				&.slick-active{
					button{
						background: #39322f;
					}
				}
			}
		}
	}
	.contact{
		&__box{
			max-width: 562.5px;
		    width: calc(100% - 12.75px);
		    margin-left: 12.75px;
		    padding: 10px;
		    margin-bottom: 30px;
		    h3{
		    	font: 22.5px Conv_HelveticaNeueCyr-Roman;
    			line-height: 30px;
		    }
		    h2{
		    	font: 22.5px Conv_Geometria-Medium;
    			line-height: 30px;
		    }
		}
		&__form{
			width: 100%;
			max-width: 300px;
    		margin: 0 auto;
		}
	}
	.modal{
		&-cont{
			width: 300px;
    		margin-left: -150px;
		}
		&__container{
			&_2{
				padding: 20px 20px 20px;
			}
		}
		&__comm{
			.input{
				margin-bottom: 10px;
			}
			.textarea{
				margin-bottom: 10px;
				height: 99.25px;
			}
		}
	}
	.thanks{
		h2{
			font-size: 30px;
		}
		h3{
			font-size: 16px;
		}
		.btn{
			width: 230px;
		}
	}
}



