$font: 'Montserrat', sans-serif;
$font2: 'Oswald', sans-serif;

//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: 300px;
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
}

/* titles */
/*p{	
	@include font($base-font-size,$base-line-height,$text-color);
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	font-weight: 400;
}*/

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
/*.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}*/


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.content{	
	order: 2;
    -webkit-order: 2;
    margin-top: 69px;
}
.banner{
	background: url(../img/banner.jpg) center center no-repeat;
	background-size: 100%;
	position: relative;
	.wrapper{
		padding: 3.7% 0;
		position: relative;
	}
	&__region{
		position: absolute;
		right: 0;
		top: 12px;
		span{
			font: 400 12px/14.4px $font;
			color: #fff;
			a{
				font: 400 16px/19.2px $font;
				color: #f1cb45;
				border-bottom: 1px solid #f1cb45;
			}
		}
	}
	&__cont{
		&.flex{
			align-items: stretch;
		}
	}
	&__left{
		margin-top: -20px;
		h2{
			font: 700 48px/66px $font;
			color: #fff;
			margin-bottom: 45px;
		}
		p{
			font: 600 18px/25px $font;
			color: #fff;
			margin-bottom: 30px;
		}
		span{
			font: 600 24px/32px $font;
			color: #fff;
		}
	}
	&__right{
		width: 300px;
		padding: 25px;
		background: rgba(255,255,255,0.9);
	}
	&__title{
		font: 500 24px/24px $font;
		color: #393b35;
		text-align: center;
		margin-bottom: 15px;
	}
	&__desc{
		font: 400 16px/23px $font;
		color: #393b35;
		text-align: center;
		margin-bottom: 15px;
		span{
			font: 600 16px/23px $font;
			background: #f1cb45;
		    padding: 0 5px;
		}
	}
	&__form{
		input[type="text"]{
			width: 100%;
			height: 53px;
			border: 1px solid #cecece;
			border-radius: 4px;
			padding: 0 15px;
			text-align: center;
			font: 400 16px/16px $font;
			color: #393b35;
			margin-bottom: 25px;
			background: #fff;
			&::placeholder{
				text-align: center;
				font: 400 16px/16px $font;
				color: #393b35;
			}
		}
	}
	&__input{
		margin-bottom: 20px;
		input{
			display: none;
		}
		label{
			font: 400 12px/15px $font;
			padding-left: 50px;
			color: #393b35;
			display: inline-block;
			position: relative;
			cursor: pointer;
			&::before{
				content: "";
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 1px solid #cecece;
				border-radius: 2px;
				position: absolute;
				background-color: #fff;
				background-image: none;
				left: 0;
				top: 3px;
			}
		}
		input:checked + label::before{
			background-image: url(../img/check.png);
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	&__submit{
		height: 52px;
		width: 100%;
		background: #f2cb46;
		text-shadow: 0px 1px 1px rgba(246, 222, 130, 1);
		border-radius: 5px;
		border: 0;
		border-bottom: 2px solid #d6ab28;
		box-shadow: 0px 3px 3px 0px rgba(1, 1, 1, 0.15);
		color: #484a42;
		font: 600 16px/16px $font;
		transition: 0.3s ease;
    	&:hover{
    		background: #efbf41;
    	}
    	&:disabled{
    		cursor: not-allowed;
    	}
	}
}
.nextblock{
	position: absolute;
	background-position: -10px -624px; 
	width: 34px; 
	height: 34px;
	bottom: -10px;
	cursor: pointer;
	left: 50%;
	margin-left: -17px;
	/*&:hover{
		animation: 0.7s arrow;
	}*/
}
.adva{
	padding-top: 50px;
	padding-bottom: 30px;
	background: #fff;
	.wrapper{
		max-width: 1100px;
		&.flex{
			align-items: flex-start;
		}
	}
	&__item{
		width: 240px;
	}
	&__top{
		padding-bottom: 15px;
		border-bottom: 4px solid #7b879f;
		&.flex{
			justify-content: flex-start;
		}
	}
	&__amount{
		font: 500 42px/42px $font2;
		color: #5b5582;
		margin-right: 19px;
		margin-top: -5px;
    	display: inline-block;
	}
	&__title{
		font: 600 18px/21px $font;
		color: #393b35;
		&_2{
			line-height: 42px;
		}
	}
	&__desc{
		padding-top: 15px;
		font: 400 14px/19px $font;
		color: #393b35;
	}
}
.btn{
	height: 52px;
    width: 250px;
    background: #f1cb45;
    text-shadow: 0 1px 1px #d7ac29;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid #d6ab28;
    -webkit-box-shadow: 0 3px 3px 0 rgba(1,1,1,.15);
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.15);
    color: #484a42;
    font: 600 16px/16px Montserrat,sans-serif;
    transition: 0.3s ease;
    &:hover{
    	background: #efbf41;
    }
    &_2{
    	background: #cc7e57;
    	color: #fff;
    	border-color: #ac6441;
    	&:hover{
    		background: #c17652;
    	}
    }
    
}
.banner2{
	padding: 35px 0 45px;
	background: url(../img/banner2.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	&__title{
		text-align: center;
		font: 600 30px/30px $font;
		color: #fff;
		margin-bottom: 30px;
	}
}
.wwcheck{
	padding-top: 40px;
	background: #fbfbfb;
	&__title{
		text-align: center;
    	font: 600 30px/30px Montserrat,sans-serif;
    	color: #393b35;
    	margin-bottom: 100px;
	}
	.wrapper{
		text-align: center;
		position: relative;
	}
	&__guides{
		position: absolute;
		top: 150px;
		left: 50%;
		margin-left: -483px;
	}
	&__check{
		padding-bottom: 135px;
	}
	&__part{
		position: absolute;
		height: 51px;
		user-select: none;
		cursor: pointer;
		&.flex{
			justify-content: flex-start;
		}
		&_1{
			left: 30px;
			top: 90px;
			i{
				width: 44px;
				height: 41px;
				background-position: -10px -421px;
				/*background: url(../img/part1.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -370px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_2{
			left: 250px;
			top: 90px;
			i{
				width: 16px;
				height: 51px;
				background-position: -10px -1235px;
				/*background: url(../img/part2.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -1174px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_3{
			left: 412px;
			top: 90px;
			i{
				width: 45px;
				height: 39px;
				background-position: -10px -321px;
				/*background: url(../img/part3.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -272px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_4{
			left: 625px;
			top: 90px;
			i{
				width: 49px;
				height: 31px;
				background-position: -10px -41px;
				/*background: url(../img/part4.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -0px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_5{
			left: 820px;
			top: 90px;
			cursor: pointer;
			i{
				width: 43px;
				height: 39px;
				background-position: -10px -627px;
				/*background: url(../img/part5.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -578px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_6{
			left: 995px;
			top: 90px;
			i{
				width: 39px;
				height: 33px;
				background-position: -10px -1033px;
				/*background: url(../img/part6.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -990px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_7{
			left: 980px;
			top: 320px;
			i{
				width: 43px;
				height: 43px;
				background-position: -10px -729px;
				/*background: url(../img/part7.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -676px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_8{
			left: 995px;
			top: 550px;
			i{
				width: 42px;
				height: 41px;
				background-position: -10px -939px;
				/*background: url(../img/part8.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -888px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_9{
			left: 790px;
			top: 550px;
			i{
				width: 43px;
				height: 43px;
				background-position: -10px -835px;
				/*background: url(../img/part9.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -782px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_10{
			left: 600px;
			top: 550px;
			i{
				width: 12px;
				height: 51px;
				background-position: -36px -1235px;
				/*background: url(../img/part10.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -36px -1174px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_11{
			left: 425px;
			top: 550px;
			i{
				width: 43px;
				height: 43px;
				background-position: -10px -525px;
				/*background: url(../img/part11.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -472px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_12{
			left: 230px;
			top: 550px;
			i{
				width: 45px;
				height: 44px;
				background-position: -10px -218px;
				/*background: url(../img/part12.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -164px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_13{
			left: 50px;
			top: 550px;
			i{
				width: 33px;
				height: 39px;
				background-position: -10px -1125px;
				/*background: url(../img/part13.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -1076px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		&_14{
			left: 55px;
			top: 320px;
			i{
				width: 47px;
				height: 31px;
				background-position: -10px -123px;
				/*background: url(../img/part14.png) center center no-repeat;*/
			}
			&.active{
				i{
					background-position: -10px -82px;
					/*background: url(../img/part5-active.png) center center no-repeat;*/
				}	
			}
		}
		i{
			display: inline-block;
			/*background-size: 100%;*/
			transition: 0.2s ease;
		}
		span{
			font: 400 16px/16px Montserrat,sans-serif;
    		color: #393b35;
    		margin-left: 15px;
    		text-align: left;
		}
		&.active{
			span{
				color: #ac6440;
			}
			.wwcheck__info{
				opacity: 1;
				z-index: 2;
			}
		}
	}
	&__info{
		width: 240px;
		background: #f6de82;
		position: absolute;
		top: -85px;
		left: -65px;
		opacity: 0;
		transition: 0.2s ease;
		z-index: -1;
		p{
			font: 400 14px/18px Montserrat,sans-serif;
    		color: #393b35;
    		text-align: left;
    		padding: 10px 19px;
		}
		&::before{
			content: ''; 
    		position: absolute;
			border: 5px solid transparent;	
			border-top: 10px solid #f6de82;
			bottom: -15px;
    		left: 50%;
    		margin-left: -5px;
		}
	}
}
.serv{
	padding-top: 35px;
	padding-bottom: 1px;
	background: #606163;
	&__title{
		margin-bottom: 45px;
	}
	&__cont{
		&.flex{
			align-items: stretch;
		}
	}
	&__item{
		width: 300px;
		background: #fff;
		box-shadow: 0px 0px 15px 0px rgba(1, 1, 1, 0.4);
		margin-bottom: 50px;
	}
	&__info{
		padding: 25px;
		height: calc(100% - 190px);
		&.flex{
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
		p{
			padding-left: 21px;
			font: 400 14px/19.5px $font;
    		color: #393b35;
    		margin-bottom: 20px;
    		position: relative;
    		&::before{
    			content: "";
    			background-position: -32px -668px; 
    			width: 12px; 
    			height: 12px;
    			display: block;
    			position: absolute;
    			left: 0;
    			top: 4px;
    		}
		}
		a{
			font: 400 14px/19.5px $font;
			color: #393b35;
    		display: none;
    		text-decoration: underline;
    		&:hover{
    			color: #ffcb33;
    		}
		}
		span{
			font: 600 24px/20.4px $font;
    		color: #5f7b67;
    		display: block;
    		text-align: center;
    		margin-top: 30px;
    		margin-bottom: 25px;
    		b{
    			font: 700 30px/25.4px $font;
    		}
		}
	}
	&__subtitle{
		text-align: center;
		font: 600 18px/22px $font;
    	color: #393b35;
    	margin-bottom: 20px;
	}
}
.garant{
	padding-top: 35px;
	padding-bottom: 50px;
	&__cont{
		&.flex{
			align-items: stretch;
		}
	}
	&__item{
		width: 315px;
		text-align: center;
		i{
			margin-bottom: 25px;
			width: 154px; 
			height: 153px;
		}
		&_1{
			i{
				background-position: -10px -64px; 
			}
		}
		&_2{
			i{
				background-position: -10px -227px;
			}
		}
		&_3{
			i{
				background-position: -10px -390px; 
			}
		}
	}
	&__subtitle{
		margin-bottom: 30px;
		font: 600 18px/22px $font;
    	color: #393b35;
    	text-align: center;
    	margin-bottom: 15px;
	}
	&__desc{
		font: 400 16px/22px $font;
    	color: #393b35;
    	text-align: center;
    	height: 130px;
	}
	&__title{
		margin-bottom: 50px;
	}
}
.tasks{
	background: #fbfbfb;
	padding-top: 35px;
	.wrapper{
		max-width: 1100px;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__slider{
		width: 100%;
		padding-bottom: 90px;
		position: relative;
		z-index: 2;
		&::before{
			content: "";
			display: block;
			width: 884px;
			height: 78px;
			background: url(../img/shadow.png) center center no-repeat;
			background-size: 100%;
			position: absolute;
			z-index: -1;
			left: 50%;
			margin-left: -442px;
			bottom: 73px;
		}
	}
	&__slide{
		padding: 35px 50px 30px 75px;
		background: #f9eab1;
		&.flex{
			display: flex;
			align-items: flex-start;
		}
	}
	&__left{
		width: 402px;
		.slider-for{
			padding-bottom: 30px;
			&::before{
				content: "";
			    display: block;
			    width: 348px;
			    height: 32px;
			    background: url(../img/shadow-mini.png) center center no-repeat;
			    background-size: 100%;
			    position: absolute;
			    z-index: 0;
			    left: 50%;
			    margin-left: -174px;
			    bottom: 15px;
			}
			.slick-prev, .slick-next{
				width: 37px;
				height: 37px;
				background: rgba(255,255,255,0.4);
				margin-top: -18.5px;
				&:hover{
					background: rgba(255,255,255,0.7);
				}
			}
			.slick-prev{
				left: 0;
			}
			.slick-next{
				right: 0;
			}
		}
		.slider-nav{
			/*.slick-list{
				width: 430px !important;
			}*/
			.slick-slide{
				height: 67px;
				overflow: hidden;
				cursor: pointer;
				position: relative;
				&.slick-current{
					&::after{
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						box-shadow: 0 0 0 9999px rgba(255,255,255,0.5) inset;
					}
				}
				&::after{
					transition: 0.2s ease;
				}
				img{
					height: 100%;
				}
			}
		}
	}
	&__right{
		width: 525px;
	}
	&__name{
		font: 600 18px/15.3px $font;
    	color: #393b35;
    	margin-bottom: 15px;
	}
	&__subtitle{
		font: 400 16px/16px $font;
    	color: #393b35;
    	font-style: italic;
    	margin-bottom: 25px;
	}
	&__text{
		font: 400 16px/24px $font;
    	color: #393b35;
    	margin-bottom: 10px;
    	b{
    		font-weight: 700;
    	}
    	&_2{
    		b{
    			color: #ac6440;
    		}
    	}
    	&_3{
    		b{
    			color: #5f7b67;
    		}
    	}
	}
	&__form{
		width: 525px;
		margin: 30px auto 0;
		input[type="text"]{
			width: 250px;
		    height: 53px;
		    border: 0;
		    border-radius: 4px;
		    padding: 0 15px;
		    text-align: center;
		    font: 400 16px/16px Montserrat,sans-serif;
		    color: #393b35;
		    background: #fff;
		}
	}
	.slick-prev, .slick-next{
		width: 50px;
		height: 50px;
		background: #606163;
		border: 0;
		transition: 0.2s ease-in-out;
		position: absolute;
		z-index: 10;
		&:hover{
			background: #ac6440;
		}
	}
	.slider-nav{
		margin: 0 -15px;
	}
	.slick-prev{
		/*left: -25px;*/
		left: -100px;
    	top: 50%;
    	margin-top: -65px;
	}
	.slick-next{
		/*right: -25px;*/
		right: -100px;
    	top: 50%;
    	margin-top: -65px;
	}
	.slick-dots{
		position: absolute;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		bottom: 35px;
		li{
			width: 12px;
			height: 12px;
			margin: 0 3px;
			button{
				width: 12px;
			    height: 12px;
			    border: 0;
			    border-radius: 100%;
			    padding: 0;
			    text-indent: -9999px;
			    background: #e1e7e4;
			}
			&.slick-active{
				button{
					background: #cc7e57;
				}
			}
		}
	}
}
.comment{
	padding-top: 40px;
	padding-bottom: 50px;
	background: #f4f4f4;
	text-align: center;
	&__slider{
		width: 950px;
		margin: 0 auto 65px;
	}
	&__title{
		margin-bottom: 30px;
	}
	.slick-list{
		margin: 0 -25px;
		padding: 15px 0;
	}
	.slick-slide{
		margin: 0 25px;
		box-shadow: 0px 0px 10px 0px rgba(1, 1, 1, 0.25);
	}
	.slick-prev, .slick-next{
		width: 50px;
		height: 50px;
		background: #606163;
		border: 0;
		transition: 0.2s ease-in-out;
		position: absolute;
		&:hover{
			background: #ac6440;
		}
	}
	.slick-prev{
		left: -100px;
    	top: 50%;
    	margin-top: -25px;
	}
	.slick-next{
		right: -100px;
    	top: 50%;
    	margin-top: -25px;
	}
	.slick-dots{
		position: absolute;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		bottom: -35px;
		li{
			width: 12px;
			height: 12px;
			margin: 0 3px;
			button{
				width: 12px;
			    height: 12px;
			    border: 0;
			    border-radius: 100%;
			    padding: 0;
			    text-indent: -9999px;
			    background: #e1e7e4;
			}
			&.slick-active{
				button{
					background: #cc7e57;
				}
			}
		}
	}
	.btn{
		&_2{
			width: 450px;
		}
	}
}
.prev, .next{
	width: 18px; 
	height: 12px;
}
.next{
	background-position: -139px -574px; 
}
.prev{
	background-position: -139px -596px;
}
.banner3{
	padding: 50px 0;
	background: url(../img/banner3.jpg) center center no-repeat;
	background-size: cover;
	.wrapper{
		&.flex{
			align-items: flex-start;
		}
	}
	&__left{
		padding-left: 100px;
		width: 800px;
		padding-top: 10px;
		p{
			font: 600 30px/30px Montserrat,sans-serif;
	    	color: #fff;
	    	text-align: center;
	    	margin-bottom: 40px;
		}
		h2{
			font: 600 36px/36px Montserrat,sans-serif;
	    	color: #fff;
	    	text-align: center;
	    	margin-bottom: 15px;
		}
		h3{
			font: 800 48px/48px Montserrat,sans-serif;
	    	color: #fff;
	    	text-align: center;
	    	margin-bottom: 50px;
		}
	}
	&__right{
		width: 300px;
    	padding: 25px;
    	background: rgba(255,255,255,.9);
	}
	&__textarea{
		width: 100%;
	    height: 88px;
	    border: 1px solid #cecece;
	    border-radius: 4px;
	    padding: 15px;
	    text-align: center;
	    font: 400 16px/16px Montserrat,sans-serif;
	    color: #393b35;
	    margin-bottom: 25px;
	    background: #fff;
	    &::placeholder{
	    	font: 400 16px/16px Montserrat,sans-serif;
	    	color: #393b35;
	    }
	}
}
.totop{
	background-position: -10px -624px; 
	width: 34px; 
	height: 34px;
	position: fixed;
	right: 25px;
	bottom: 100px;
	transform: rotate(180deg);
	cursor: pointer;
	z-index: 9000;
	opacity: 0;
	transition: 0.3s ease;
	&_visible{
		opacity: 1;
	}
	&:hover{
		animation: 0.7s arrow;
	}
}
.map{
	position: relative;
	&__item{
		width: 300px;
		position: absolute;
		left: 50%;
		margin-left: -500px;
		top: 50%;
		margin-top: -72.5px;
	}
	&__top{
		background: #f1cb45;
		text-align: center;
		padding: 12.5px 0;
		i{
			background-position: -10px -32px; 
			width: 156px; 
			height: 22px;
		}
	}
	&__bott{
		background: #484a42;
		padding: 27px 0;
		padding-left: 15px;
		p{
			color: #fff;
			font: 400 14px/16.4px Montserrat,sans-serif;
			padding-left: 25px;
			position: relative;
			&:first-child{
				margin-bottom: 10px;
				&::before{
					content: "";
					display: inline-block;
					position: absolute;
					top: 0;
					left: 2px;
					background-position: -10px -668px; 
					width: 12px; 
					height: 17px;
				}
			}
			&:last-child{
				&::before{
					content: "";
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					background-position: -139px -618px; 
					width: 16px; 
					height: 15px;
				}
			}
		}
	}
}
/*Modal*/
.modal-form{
	display: none;
	width: 300px;
	height: 546px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -150px;
	margin-top: -273px;
	background: #ffffff;
	z-index: 9999;
	max-height: 90vh;
	&-2{
		width: 100%;
    	height: 100vh;
    	position: fixed;
    	background-image: url(../img/thx.jpg);
    	background-position: center;
    	background-size: cover;
    	z-index: 9999;
    	-webkit-transform-origin: 50% 0;
	    transform-origin: 50% 0;
	    -webkit-perspective-origin: 50% 100%;
	    perspective-origin: 50% 100%;
	    -webkit-transition: -webkit-transform .3s ease;
	    top: 0;
	    -webkit-transform: perspective(900px) rotateX(-90deg);
	    transform: perspective(900px) rotateX(-90deg);
	    transition: -webkit-transform .3s ease;
	    transition: transform .3s ease;
	    transition: transform .3s ease,-webkit-transform .3s ease;
	    &.flex{
	    	flex-direction: column;
	    	align-items: center;
	    	justify-content: center;
	    }
	    img{
	    	margin-bottom: 40px;
	    }
	    h2{
	    	color: #fff;
			font: 700 42px/62px Montserrat,sans-serif;
			margin-bottom: 35px;
			text-align: center;
	    }
	    p{
	    	color: #fff;
			font: 600 24px/34px Montserrat,sans-serif;
			margin-bottom: 75px;
			text-align: center;
	    }
	}
}
.modal-close{
	cursor: pointer;
	position: absolute;
  	right: -15px;
  	top: -15px;
}
.modal{
	&_active{
		opacity: 1;
    	top: 0;
    	transform: perspective(900px) rotateX(0);
	}
	&-garant{
		display: none;
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -350px;
		width: 700px;
		padding: 30px;
		background: #ffffff;
		z-index: 9999;
		max-height: 95vh;
		overflow: auto;
		.modal-close{
			right: 10px;
  			top: 10px;
		}
		h2{
			font: 400 28px/38px Montserrat,sans-serif;
			color: #000;
			margin-bottom: 15px;
		}
		h3{
			font: 400 22px/32px Montserrat,sans-serif;
			color: #000;
			margin: 15px 0;
		}
		h4{
			font: 400 18px/24px Montserrat,sans-serif;
			color: #000;
			margin: 10px 0;
		}
		p{
			font: 400 12px/1.42857143 Montserrat,sans-serif;
			color: #000;
		}
	}
}
.overlay{
	display: none;
	background: #363636;
	position: fixed;
	top: 0;
	left: 0;
  	width: 100%;
  	height: 100%;
  	opacity: 0.75;
  	-moz-opacity:0.75; 
  	filter:alpha(opacity=75);
	z-index: 9998;
	overflow: hidden;
}
  /*Modal end*/
.phone{
	&_empty{
		border-color: red !important;
	}
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (min-width: 1900px){
	.banner{
		.wrapper{
			padding: 8.7% 0;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper{
		max-width: 980px;
	}
	.banner{
		&__left{
			margin-top: -5px;
			h2{
				font: 700 35px/45px Montserrat,sans-serif;
				margin-bottom: 30px;
			}
			p{
				font: 600 16px/22px Montserrat,sans-serif;
				margin-bottom: 20px;
			}
		}
		&__right{
			padding: 20px;
			width: 280px;
		}
		&__title{
			font: 500 22px/22px Montserrat,sans-serif;
			margin-bottom: 10px;
		}
		&__desc{
			font: 400 14px/21px Montserrat,sans-serif;
			margin-bottom: 10px;
		}
		&__form{
			input[type="text"]{
				height: 45px;
				margin-bottom: 15px;
				font: 400 14px/14px Montserrat,sans-serif;
				&::placeholder{
					font: 400 14px/14px Montserrat,sans-serif;
				}
			}
		}
		&__input{
			margin-bottom: 15px;
		}
		&__submit{
			height: 45px;
			font: 600 14px/14px Montserrat,sans-serif;
		}
		&__region{
			top: 2%;
			span{
				a{
					font: 400 14px/16.2px Montserrat,sans-serif;
				}
			}
		}
	}
	.adva{
		.wrapper{
			max-width: 980px;
		}
		&__item{
			width: 220px;
		}
		&__amount{
			font: 500 38px/40px Oswald,sans-serif;
		}
		&__title{
			font: 600 16px/19px Montserrat,sans-serif;
		}
		&__desc{
			font: 400 13px/18px Montserrat,sans-serif;
		}
	}
	.banner2{
		&__title{
			font: 600 28px/28px Montserrat,sans-serif;
		}
	}
	.btn{
		height: 45px;
		font: 600 14px/14px Montserrat,sans-serif;
		width: 220px;
	}
	.wwcheck{
		&__title{
			font: 600 28px/28px Montserrat,sans-serif;
		}
		&__check{
			width: 600px;
		}
		&__guides{
			width: 800px;
			margin-left: -400px;
		}
		&__part{
			&_1{
				left: 0;
			}
			&_2{
			    left: 190px;
			}
			&_3{
				left: 342px;
			}
			&_4{
			    left: 545px;
			}
			&_5{
				left: 710px;
			}
			&_6{
				left: 845px;
			}
			&_7{
				top: 287px;
				left: 820px;
			}
			&_8{
				top: 490px;
				left: 845px;
			}
			&_9{
				top: 490px;
				left: 665px;
			}
			&_10{
				top: 490px;
				left: 520px;
			}
			&_11{
				top: 490px;
				left: 342px;
			}
			&_12{
				top: 490px;
				left: 160px;
			}
			&_13{
				top: 490px;
				left: 0;
			}
			&_14{
				left: 30px;
    			top: 287px;
			}
		}
	}
	.garant{
		&__title{
			margin-bottom: 60px;
		}
	}
	.tasks{
		&__title{
			margin-bottom: 60px;
		}
		.slick-prev{
			left: -25px;
		}
		.slick-next{
			right: -25px;
		}
	}
	.serv{
		&__bott{
			width: 100%;
			text-align: center;
		}
	}
	.tasks{
		.wrapper{
		    max-width: 920px;
		}
		&__right{
			width: 355px;
		}
		&__text{
			br{
				display: none;
			}
		}
		&__form{
			width: 470px;
			input[type="text"]{
				width: 220px;
    			height: 45px;
			}
		}
	}
	.comment{
		&__title{
			margin-bottom: 60px;
		}
		&__slider{
			width: 750px;
		}
		.btn{
			&_2{
				width: 410px;
			}
		}
	}
	.totop{
		bottom: 45px;
	}
	.banner3{
		&__left{
			padding-left: 35px;
    		width: 675px;
			p{
				font: 600 28px/28px Montserrat,sans-serif;
				margin-bottom: 30px;
			}
			h2{
				font: 600 34px/34px Montserrat,sans-serif;
			}
			h3{
				font: 800 46px/46px Montserrat,sans-serif;
				margin-bottom: 40px;
			}
		}
		&__right{
			padding: 20px;
			width: 280px;
		}
	}
	.map{
		&__item{
			margin-left: -490px;
		}
	}
	.modal-form{
		width: 280px;
		height: 480px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper{
		max-width: 750px;
	}
	.content{
		margin-top: 115px;
	}
	.banner{
		background-size: auto 100%;
		.wrapper{
			padding: 4.7% 0;
		}
		&__left{
			width: 430px;
			margin-top: -5px;
			h2{
				font: 700 30px/45px Montserrat,sans-serif;
    			margin-bottom: 20px;
			}
			p{
				font: 600 16px/22px Montserrat,sans-serif;
				margin-bottom: 20px;
			}
		}
		&__right{
			padding: 20px;
			width: 280px;
		}
		&__title{
			font: 500 22px/22px Montserrat,sans-serif;
			margin-bottom: 10px;
		}
		&__desc{
			font: 400 14px/21px Montserrat,sans-serif;
			margin-bottom: 10px;
		}
		&__form{
			input[type="text"]{
				height: 45px;
				margin-bottom: 15px;
				font: 400 14px/14px Montserrat,sans-serif;
				&::placeholder{
					font: 400 14px/14px Montserrat,sans-serif;
				}
			}
		}
		&__input{
			margin-bottom: 15px;
		}
		&__submit{
			height: 45px;
			font: 600 14px/14px Montserrat,sans-serif;
		}
		&__region{
			top: 2%;
			span{
				a{
					font: 400 14px/16.2px Montserrat,sans-serif;
				}
			}
		}
	}
	.adva{
		padding-top: 30px;
    	padding-bottom: 20px;
		.wrapper{
		    max-width: 750px;
		}
		&__item{
			width: 170px;
		}
		&__amount{
		    font: 500 30px/34px Oswald,sans-serif;
			margin-right: 10px;
			margin-top: 0;
		}
		&__top{
			padding-bottom: 10px;
		}
		&__title{
			font: 600 13px/16px Montserrat,sans-serif;
		}
		&__desc{
			padding-top: 10px;
			font: 400 10px/15px Montserrat,sans-serif;
		}
	}
	.banner2{
		&__title{
			font: 600 27px/27px Montserrat,sans-serif;
			margin-bottom: 25px;
		}
	}
	.btn{
		height: 45px;
    	width: 220px;
	}
	.wwcheck{
		padding-top: 30px;
		&__check{
			width: 450px;
		}
		&__guides{
			width: 600px;
			margin-left: -300px;
		}
		&__part{
			i{
				background-size: 120%;
			}
			&_1{
				left: 0;
				i{
					width: 34px;
    				height: 33px;
    				background-position: -2px -244px;
				}
				&.active{
					i{
					    background-position: -2px -214px;
					}
				}
			}
			&_2{
				left: 152px;
				i{
					width: 36px;
				    height: 37px;
				    background-position: 17px -770px;
				    margin-left: -15px;
				}
				&.active{
					i{
					    background-position: 17px -732px;
					}
				}
			}
			&_3{
				left: 250px;
				i{
					width: 39px;
					background-position: -2px -211px;
				}
				&.active{
					i{
					    background-position: -2px -177px;
					}
				}
			}
			&_4{
				left: 405px;
				i{
					width: 43px;
					background-position: -4px -26px;
				}
				&.active{
					i{
					    background-position: -4px 4px;
					}
				}
			}
			&_5{
				left: 521px;
				i{
					width: 37px;
					height: 33px;
    				background-position: -2px -398px;
				}
				&.active{
					i{
					    background-position: -2px -367px;
					}
				}
			}
			&_6{
			    left: 635px;
				i{
					width: 36px;
					height: 29px;
    				background-position: 0px -642px;
				}
				&.active{
					i{
					    background-position: 0 -615px;
					}
				}
			}
			&_7{
			    left: 617px;
    			top: 246px;
				i{
					width: 36px;
					height: 37px;
    				background-position: -2px -451px;
				}
				&.active{
					i{
					    background-position: -2px -418px;
					}
				}
			}
			&_8{
			    left: 637px;
    			top: 400px;
				i{
					width: 36px;
					height: 34px;
    				background-position: -3px -584px;
				}
				&.active{
					i{
					    background-position: -3px -552px;
					}
				}
			}
			&_9{
			    left: 495px;
			    top: 400px;
				i{
					width: 36px;
					height: 36px;
    				background-position: -2px -518px;
				}
				&.active{
					i{
					    background-position: -2px -485px;
					}
				}
			}
			&_10{
			    left: 395px;
			    top: 400px;
				i{
					width: 36px;
    				height: 37px;
    				background-position: -22px -770px;
				}
				&.active{
					i{
					    background-position: -22px -732px;
					}
				}
				span{
					margin-left: -15px !important;
				}
			}
			&_11{
			    left: 272px;
			    top: 400px;
				i{
					width: 36px;
				    height: 36px;
    				background-position: -2px -324px;
				}
				&.active{
					i{
					    background-position: -2px -290px;
					}
				}
			}
			&_12{
			    left: 150px;
			    top: 400px;
				i{
					width: 36px;
					height: 34px;
    				background-position: -2px -135px;
				}
				&.active{
					i{
					    background-position: -2px -100px;
					}
				}
			}
			&_13{
			    left: 15px;
			    top: 400px;
				i{
					width: 34px;
					height: 33px;
    				background-position: 1px -660px;
				}
				&.active{
					i{
					    background-position: 1px -631px;
					}
				}
			}
			&_14{
			    left: 30px;
			    top: 246px;
				i{
					width: 40px;
					background-position: -4px -80px;
				}
				&.active{
					i{
					    background-position: -4px -51px;
					}
				}
			}
			span{
				margin-left: 10px;
				font-size: 14px;
			}
		}
	}
	.serv{
		&__cont{
			justify-content: space-around;
		}
		&__bott{
			width: 100%;
			text-align: center;
		}
	}
	.totop{
		bottom: 25px;
	}
	.garant{
		&__title{
			margin-bottom: 40px;
		}
		&__item{
			width: 220px;
			i{
				background-size: 110%;
				width: 100px;
    			height: 100px;
			}
			&_1{
				i{
					background-position: -4px -37px;
				}
			}
			&_2{
				i{
				    background-position: -4px -138px;
				}
			}
			&_3{
				i{
				    background-position: -4px -239px;
				}
			}
		}
		&__subtitle{
			font: 600 16px/20px Montserrat,sans-serif;
			margin-bottom: 10px;
		}
		&__desc{
			font: 400 11px/19px Montserrat,sans-serif;
		    height: 110px;
		}
	}
	.tasks{
		padding-top: 25px;
		&__title{
			margin-bottom: 35px;
		}
		.wrapper{
			max-width: 720px;
		}
		&__slide{
			padding: 35px 25px 30px 30px;;
		}
		&__left{
			width: 350px;
			.slider-for{
				&::before{
					width: 290px;
					margin-left: -145px;
				}
				.slick-prev, .slick-next{
					margin-top: -30.5px;
				}
			}
		}
		&__right{
			width: 290px;
		}
		&__form{
			width: 490px;
			input[type="text"]{
				height: 45px;
    			width: 220px;
			}
		}
		.slick-prev{
			left: -25px;
		}
		.slick-next{
			right: -25px;
		}
	}
	.comment{
		&__slider{
			width: 560px;
		}
	}
	.banner3{
		&__left{
			padding-left: 35px;
    		width: 430px;
			p{
				font: 600 23px/27px Montserrat,sans-serif;
    			margin-bottom: 20px;
			}
			h2{
				font: 600 27px/27px Montserrat,sans-serif;
			}
			h3{
			    font: 800 35px/35px Montserrat,sans-serif;
    			margin-bottom: 30px;
			}
		}
		&__right{
			padding: 20px;
			width: 280px;
		}
	}
	.map{
		&__item{
			margin-left: -370px;
		}
	}
}

@media screen and (max-width: 767px) {
	.totop{
		bottom: 25px;
	}
	.content{
		margin-top: 80px;
	}
	.wrapper{
		max-width: 95%;
	}
	.banner{
		background-size: auto 100%;
		&__cont{
			&.flex{
				justify-content: center;
			}
		}
		&__left{
			margin-top: 0;
		    margin-bottom: 25px;
		    width: 100%;
		    text-align: center;
			h2{
				font: 700 21px/28px Montserrat,sans-serif;
				margin-bottom: 20px;
				br{
					display: none;
				}
			}
			p{
				font: 600 13px/20px Montserrat,sans-serif;
				margin-bottom: 20px;
				br{
					display: none;
				}
			}
			span{
				font: 600 18px/22px Montserrat,sans-serif;
				br{
					display: none;
				}
			}
		}
		.wrapper{
			padding: 10.7% 0;
		}
		&__right{
		    width: 100%;
		    max-width: 500px;
		}
		&__region{
			top: 1%;
		}
	}
	.adva{
		padding-bottom: 60px;
		.wrapper{
			&.flex{
				justify-content: space-around;
			}
			min-width: auto;
			max-width: 510px;
			.slick-list{
				margin: 0 -15px;
			}
			.slick-slide{
				margin: 0 15px;
			}
			.slick-dots{
				position: absolute;
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				bottom: -35px;
				li{
					width: 12px;
					height: 12px;
					margin: 0 3px;
					button{
						width: 12px;
					    height: 12px;
					    border: 0;
					    border-radius: 100%;
					    padding: 0;
					    text-indent: -9999px;
					    background: #e1e7e4;
					}
					&.slick-active{
						button{
							background: #cc7e57;
						}
					}
				}
			}
		}
		&__item{
			margin-bottom: 30px;
		}
	}
	.banner2{
		&__title{
			font: 600 20px/25px Montserrat,sans-serif;
			margin-bottom: 20px;
		}
	}
	.wwcheck{
		padding-top: 30px;
		.wrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}
		&__title{
			font: 600 20px/20px Montserrat,sans-serif;
			margin-bottom: 0;
		}
		&__check{
			max-width: 699px;
    		width: 100%;
    		padding-bottom: 0;
		}
		&__guides{
			display: none;
		}
		&__part{
			position: relative;
    		width: 175px;
    		margin-bottom: 15px;
    		left: 0;
    		top: 0;
			&_1{
				i{
					margin: 0 5.5px;
				}
			}
			&_2{
				i{
					margin: 0 19.5px;
				}
			}
			&_3{
				i{
					margin: 0 5px;
				}
			}
			&_4{
				i{
					margin: 0 3px;
				}
			}
			&_5{
				i{
					margin: 0 6px;
				}
			}
			&_6{
				i{
					margin: 0 8px;
				}
			}
			&_7{
				i{
					margin: 0 6px;
				}
			}
			&_8{
				i{
					margin: 0 6.5px;
				}
			}
			&_9{
				i{
					margin: 0 6px;
				}
			}
			&_10{
				i{
					margin: 0 21.5px;
				}
			}
			&_11{
				i{
					margin: 0 6px;
				}
			}
			&_12{
				i{
					margin: 0 5px;
				}
			}
			&_13{
				i{
					margin: 0 11px;
				}
			}
			&_14{
				i{
					margin: 0 4px;
				}
			}
		}
	}
	.serv{
		padding-top: 20px;
		&__cont{
			&.flex{
				justify-content: space-around;
			}
		}
		&__top{
			width: 100%;
			p{
				display: none;
			}
			a{
				display: block;
				text-align: center;
			}
		}
	}
	.garant{
		padding-bottom: 0;
		&__title{
			margin-bottom: 30px;
		}
		&__cont{
			padding-bottom: 50px;
			&.flex{
				justify-content: space-around;
			}
			.slick-dots{
				position: absolute;
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				bottom: 35px;
				li{
					width: 12px;
					height: 12px;
					margin: 0 3px;
					button{
						width: 12px;
					    height: 12px;
					    border: 0;
					    border-radius: 100%;
					    padding: 0;
					    text-indent: -9999px;
					    background: #e1e7e4;
					}
					&.slick-active{
						button{
							background: #cc7e57;
						}
					}
				}
			}
		}
		&__item{
			margin-bottom: 30px;
		}

	}
	.tasks{
		padding-top: 30px;
		.wrapper{
			max-width: 95%;
		}
		&__title{
			margin-bottom: 30px;
		}
		&__slider{
			&::before{
				display: none;
			}
		}
		&__slide{
			padding: 10px;
			&.flex{
				justify-content: space-around;
			}
		}
		&__left{
			margin-bottom: 30px;
			max-width: 402px;
    		width: 100%;
    		.slider-for{
    			padding-bottom: 20px;
    			&::before{
    				left: 10%;
    				width: 80%;
    				margin-left: 0;
    			}
    		}
    		.slider-nav{
    			.slick-slide{
    				height: 40px;
    			}
    		}
		}
		&__form{
			&.flex{
				justify-content: space-around;
			}
			input[type=text]{
				height: 52px;
			}
			input{
				margin: 5px 0;
			}
		}
	}
	.comment{
		&__slider{
			width: 450px;
		}
		.slick-prev, .slick-next{
			width: 35px;
			height: 35px;
		}
		.slick-prev{
			left: -50px;
		}
		.slick-next{
			right: -50px;
		}
		.btn{
			&_2{
				width: 100%;
    			max-width: 450px;
			}
		}
	}
	.banner3{
		padding: 30px 0;
		.wrapper{
			&.flex{
				justify-content: space-around;
			}
		}
		&__left{
			padding-left: 0;
    		width: 100%;
    		p{
    			font: 600 24px/24px Montserrat,sans-serif;
    			margin-bottom: 30px;
    		}
    		h2{
    			margin-bottom: 10px;
    		}
    		h3{
    			font: 800 35px/35px Montserrat,sans-serif;
    			margin-bottom: 30px;
    		}
		}
	}
	.map{
		&__item{
			width: 190px;
			left: 3%;
			margin-left: 0;
		}
	}
	.modal{
		&-garant{
			width: 90%;
			margin-left: 0;
			left: 5%;
		}
	}
	.modal-form{
		max-height: 95vh;
		overflow: auto;
		margin-top: 0;
		top: 2%;
		&-2{
			overflow: auto;
			img{
				margin-bottom: 15px;
			}
			h2{
				font: 700 18px/30px Montserrat,sans-serif;
				margin-bottom: 20px;
			}
			p{
				font: 600 18px/26px Montserrat,sans-serif;
    			margin-bottom: 20px;
			}
		}
	}
}
@media screen and (max-width: 559px){
	.comment{
		&__slider{
			width: 200px;
		}
	}
	.adva{
		.wrapper{
			min-width: auto;
			max-width: 240px;
		}
	}
}


