$font: 'Montserrat', sans-serif;
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	order: 3;	
    -webkit-order: 3;	
}
.footer{
	&__top{
		background: #f4f4f4;
		padding: 28px 0;
	}
	&__logo{
		background-position: -10px -553px; 
		width: 119px; 
		height: 61px;
	}
	&__center{
		text-align: center;
		a{
			font: 400 12px/14.4px Montserrat,sans-serif;
	    	color: #393b35;
		}
	}
	&__soc{
		margin-bottom: 20px;
	}
	&__icon{
		&_1{
			background-position: -54px -665px; 
			width: 31px; 
			height: 31px;
		}
		&_2{
			background-position: -54px -624px; 
			width: 31px; 
			height: 31px;
		}
		&_3{
			background-position: -95px -624px; 
			width: 31px; 
			height: 31px;
		}
		&:hover{
			animation: 0.2s icons;
		}
	}
	&__phone{
		margin-bottom: 5px;
		i{
			background-position: -95px -665px; 
			width: 15px; 
			height: 17px;
		}
		a{
			color: #484a42;
			font-size: 22px;
			line-height: 22px;
			font-weight: 400;
			pointer-events: none;
		}
		&:hover{
			i{
				animation: 0.3s phone;
			}
		}
	}
	&__mail{
		text-align: right;
		i{
			background-position: -139px -553px; 
			width: 18px; 
			height: 11px;
			margin-right: 5px;
		}
		a{
			font: 400 14px/14px Montserrat,sans-serif;
	    	color: #484a42;
	    	&:hover{
	    		color: #ffcb33;
	    	}
		}
		&:hover{
			i{
				animation: 0.5s email;
			}
		}
	}
	&__bott{
		background: #dddddd;
		padding: 20px 0;
		p{
			font: 400 14px/16.8px Montserrat,sans-serif;
	    	color: #484a42;
			a{
				border-bottom: 1px solid #484a42;
				color: #484a42;
				&:hover{
	    			color: #ffcb33;
	    			border-bottom: 1px solid #ffcb33;
	    		}
			}
		}
	}
}
#map{
	width: 100%;
	height: 305px;
}

@keyframes icons{
	0%, 50%{
		transform: rotate(10deg);
	}
	25%, 100%{
		transform: rotate(-10deg);
	}
}
@keyframes phone{
	0%, 50%{
		transform: rotate(15deg);
	}
	25%, 100%{
		transform: rotate(-15deg);
	}
}
@keyframes arrow{
	0%, 50%{
		transform: rotate(180deg) translateY(5px);
	}
	25%, 100%{
		transform: rotate(180deg) translateY(-5px);
	}
}
@keyframes email{
	0%, 50%{
		transform: translateX(5px);
	}
	25%, 100%{
		transform: translateX(-5px);
	}
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.footer{
		&__top{
			.wrapper{
				&.flex{
					justify-content: space-around;
				}
			}
		}
		&__center{
			margin: 15px 0;
			width: 100%;
		}
		&__phone{
			a{
				pointer-events: auto;
			}
			&.flex{
				justify-content: center;
			}
		}
		&__mail{
			text-align: center;
		}
		&__right{
			width: 100%;
		}
	}
}