$font: 'Montserrat', sans-serif;
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	order: 1;	
    -webkit-order: 1;	
}
.logo, .footer__logo, 
.footer__icon, .footer__mail i, 
.header__phone i, 
.serv__info p::before, 
.garant__item i, .prev, 
.next,
.totop,
.map__top i,
.map__bott p::before,
.nextblock{
	display: inline-block; 
	background: url('../img/sprite.png') no-repeat; 
	overflow: hidden; 
	text-indent: -9999px; 
	text-align: left;
}
.header{
	background: #484a42;
	border-bottom: 2px solid #393b35;
	padding: 14.5px 0;
	width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -69px;
    z-index: 9995;
    transition: 0.7s;
    &_load{
    	top: 0;
    }
    &_active{
    	position: fixed;
    	top: 0;
    }
	&__nav{
		ul{
			list-style: none;
			li{
				padding: 0 10px;
				border-right: 1px solid #636658;
				border-left: 1px solid #393b35;
				&:first-child{
					border-left: 0;
				}
				&:last-child{
					border-right: 0;
				}
				&.flex{
					justify-content: flex-start;
				}
				a{
					font: 500 14px/36px $font;
					color: #fff;
					&:hover{
						color: #f1cb45;
					}
				}
			}
		}
	}
	&__info{

	}
	&__phone{
		margin-bottom: 5px;
		&.flex{
			justify-content: flex-end;
		}
		i{
			background-position: -136px -643px; 
			width: 16px; 
			height: 19px;
			margin-right: 8px;
		}
		a{
			font: 600 18px/18px $font;
			color: #fff;
		}
		&:hover{
			i{
				animation: 0.5s phone;
			}
		}
	}
	&__worktime{
		span{
			font: 300 12px/14.4px $font;
			color: #fff;
		}
	}
}
.logo{
	background-position: -10px -0px; 
	width: 157px; 
	height: 22px;
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
	.header{
		&__nav{
			ul{
				li{
					a{
						font: 500 12px/31px Montserrat,sans-serif;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
