$font1: 'TT Norms Regular';
$font2: 'TT Norms Medium';
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: 290px;
	max-width: 1620px;
	margin: 0 auto;
	position: relative;
}

/* titles */
/*p{	
	@include font($base-font-size,$base-line-height,$text-color);
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	font-weight: 400;
}*/

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
/*.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}*/


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.content{	
	order: 2;
    -webkit-order: 2;
}
.banner{
	padding: 155px 0 125px;
	background: url(../img/banner.jpg) center center no-repeat;
	background-size: cover;
	&__left{
		h3{
			font: 48px $font2;
			color: #fff;
			margin-bottom: 25px;
		}
		p{
			font: 25px/40px $font1;
			color: #fff;
			span{
				font-size: 30px;
				color: #ffc90c;
			}
		}
	}
	&__right{
		width: 570px;
		border-radius: 3px;
		box-shadow: 0 0 0 999px rgba(255,255,255,0.85) inset;
		margin-right: 75px;
		.slick-prev,
		.slick-next{
			background: none;
			border: 0;
			text-indent: 9999px;
			position: absolute;
			width: 28px;
			height: 47px;
			padding: 0;
			z-index: 3;
    		top: 50%;
    		margin-top: -23.5px;
		}
		.slick-prev{
			background: url(../img/prev.png);
			background-size: 100% 100%;
			left: -75px;
		}
		.slick-next{
			background: url(../img/prev.png);
			transform: rotate(180deg);
			background-size: 100% 100%;
			right: -75px;
		}
		.slick-dots{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			position: absolute;
			bottom: -50px;
			li{
				padding: 0;
				width: 14px;
				height: 14px;
				margin: 0 13px;
				button{
					padding: 0;
					background: none;
					border: 0;
					border-radius: 100%;
					width: 14px;
					height: 14px;
					text-indent: 999px;
					background: #fff;
				}
				&.slick-active{
					button{
						background: #f2b94b;
					}
				}
			}		
		}
	}
	&__slide{
		width: 100%;
		padding: 40px 50px 50px 50px;
		h3{
			font: 30px $font2;
			color: #000;
			margin-bottom: 32px;
			span{
				font-size: 35px;
			}
		}
	}
	&__list{
		margin-bottom: 10px;
		&.flex{
			justify-content: flex-start;
		}
		i{
			color: #f29f4a;
			font-size: 21px;
		}
		span{
			font: 21px $font1;
			color: #000;
			margin-left: 10px;
		}
	}
	&__more{
		margin-top: 60px;
		p{
			font: 47px $font2;
			color: #000;
			span{
				font-size: 35px;
			}
		}
	}
}
.btn{
	width: 200px;
	height: 55px;
	border-radius: 3px;
	box-shadow: 0px 19px 32px 0px rgba(0, 0, 0, 0.16);
	transition: all 0.3s ease-in-out;
	background: url(../img/pattern.png);
	background-size: 100% 100%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	&:hover{
		box-shadow: 0 19px 32px 0 rgba(0,0,0,.16), 0 0 0 999px rgba(255,255,255,0.2) inset;
	}
	&.flex{
		justify-content: center;
	}
	span{
		font: 21px $font1;
		color: #000;
		margin-right: 20px;
	}
	img{
		width: 10px;
		transform: rotate(180deg);
	}
}
.adva{
	background: #e5e2e3;
	padding: 40px;
	.wrapper{
		&.flex{
			align-items: stretch;
		}
	}
	&__item{
		width: 25%;
		border-right: 1px solid #000;
		&:last-child{
			border-right: 0;
		}
		&.flex{
			justify-content: center;
		}
		span{
			font: 18px/24px $font1;
			color: #000;
			margin-left: 15px;
		}
	}
}
.servs{
	padding-top: 115px;
	margin-bottom: 85px;
	&__tabs{
		margin-bottom: 70px;
		&.flex{
			align-items: flex-start;
		}
	}
	&__tab{
		width: 395px;
		border-radius: 7px;
		background: #fff;
		box-shadow: 0px 35px 225px 25px rgba(0, 0, 0, 0.05);
		padding: 25px 40px 45px;
		cursor: pointer;
		user-select: none;
		transition: all 0.3s ease-in-out;
		&:hover{
			opacity: 0.8;
		}
		&.active{
			padding-bottom: 100px;
			box-shadow: 0 0 0 0;
			background: transparent;
			position: relative;
			&:before{
				content: "";
				width: 465px;
				height: 350px;
				background: url(../img/tab.png);
				background-size: 100% 100%;
				position: absolute;
				z-index: -1;
				left: -35px;
				top: 0;
			}
			.tabs{
				&__icon{
					img{
						filter: brightness(0);
					}
				}
				/*&__text{
					color: #fff;
				}*/
			}
		}
	}
	&__slider{
		position: absolute;
		opacity: 0;
		z-index: -1;
		width: 100%;
		&.active{
			position: relative;
			opacity: 1;
			z-index: 1;
		}
		.slick-list{
			margin: 0 -5px;
			overflow: visible;
		}
		.slick-slide{
			margin: 0 5px;
			opacity: 0;
			transition: all 0.5s ease-in-out;
			&.slick-active{
				opacity: 1;
			}
		}
		.slick-prev, .slick-next{
			width: 62px;
			height: 62px;
			background: #fff;
			border-radius: 100%;
			box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.2); 
			border: 0;
			position: absolute;
			top: 50%;
			margin-top: -31px;
			z-index: 3;
			transition: all 0.3s ease-in-out;
			&:hover{
				opacity: 0.9;
			}
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -13.5px;
				margin-left: -8px;
			}
		}
		.slick-prev{
			left: -32px;
		}
		.slick-next{
			right: -32px;
			img{
				transform: rotate(180deg);
			}
		}
	}
	&__slide{
		height: 585px;
		border-radius: 6px;
		overflow: hidden;
		position: relative;
		box-shadow: 0px 41px 68px 0px rgba(0, 0, 0, 0.07);
		&_1{
			background: url(../img/slide1.jpg) center center no-repeat;
			background-size: cover;
		}
		&_2{
			background: url(../img/slide2.jpg) center center no-repeat;
			background-size: cover;
		}
		&:hover{
			.servs{
				&__info{
					transform: translateY(0);
				}
			}
		}
	}
	&__info{
		padding: 35px 55px;
		background: #fff;
		width: 100%;
    	position: absolute;
   		bottom: 0;
   		transform: translateY(360px);
   		transition: all 0.3s ease-in-out;
		h2{
			font: 30px $font2;
			color: #000;
			margin-bottom: 30px;
		}
	}
	&__list{
		margin-bottom: 7px;
		&.flex{
			justify-content: flex-start;
			align-items: flex-start;
		}
		i{
			color: #f29f4a;
    		font-size: 21px;
    		margin-right: 15px;
    		margin-top: 6px;
		}
		span{
			font: 21px $font1;
    		color: #000;
    		line-height: 33px;
		}
	}
	&__more{
		margin-top: 40px;
		padding: 0 40px;
		width: 420px;
		height: 65px;
		border-radius: 3px;
		background: url(../img/pattern.png);
		background-size: 100% 100%;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		span{
			font: 25px $font1;
    		color: #fff;
		}
		img{
			width: 16px;
			transform: rotate(180deg);
		}
		&:hover{
			box-shadow: 0 0 0 999px rgba(255,255,255,.2) inset;
		}
	}
}
.tabs{
	&__icon{
		width: 100%;
		height: 66px;
		margin-bottom: 20px;
	}
	&__text{
		font: 30px $font1;
		color: #000;
	}
}
.whywe{
	margin-bottom: 110px;
	.title{
		margin-bottom: 65px;
	}
	&__img{
		position: absolute;
		right: 50px;
		top: 0;
	}
	&__item{
		h3{
			font: 30px $font2;
			color: #000;
			margin-bottom: 25px;
			text-transform: uppercase;
		}
		p{
			font: 20px/30px $font1;
			color: #000;
		}
		&_1{
			margin-bottom: 80px;
		}
		&_2{
			width: 930px;
			margin-right: 0;
			margin-left: auto;
			margin-bottom: 75px;
		}
		&_3{
			margin-bottom: 70px;
		}
	}
	&__list{
		margin: 30px 0 40px;
		&.flex{
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
	&__col{
		margin-right: 45px;
		&:last-child{
			margin-right: 0;
		}
		span{
			font: 22px/30px $font2;
			color: #000;
			display: block;
			padding-left: 35px;
			position: relative;
			&:before{
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 100%;
				background: #13e0ff;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -3px;
			}
		}
	}
	&__more{
		width: 390px;
		height: 65px;
		background: url(../img/pattern.png);
		background-size: 100% 100%;
		border-radius: 3px;
		border: 0;
		font: 24px $font1;
		color: #fff;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		&:hover{
			box-shadow: 0 0 0 999px rgba(255,255,255,.2) inset;
		}
	}
}
.title{
	font: 48px $font2;
	color: #000;
	margin-bottom: 30px;
}
.news{
	padding-bottom: 140px;
	&__slider{
		.slick-list{
			margin: 0 -29px;
		}
		.slick-slide{
			margin: 0 29px;
		}
		.slick-prev, .slick-next{
			width: 62px;
			height: 62px;
			background: #fff;
			border-radius: 100%;
			box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.2); 
			border: 0;
			position: absolute;
			top: 15%;
			/*margin-top: -31px;*/
			z-index: 3;
			transition: all 0.3s ease-in-out;
			&:hover{
				opacity: 0.9;
			}
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -13.5px;
				margin-left: -8px;
			}
		}
		.slick-prev{
			left: -32px;
		}
		.slick-next{
			right: -32px;
			img{
				transform: rotate(180deg);
			}
		}
	}
	&__item{
		img{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	&__info{
		padding-left: 25px;
		border-left: 1px solid #8ecdf6;
		h3{
			font: 24px/30px $font2;
			color: #000;
			margin-bottom: 15px;
		}
		p{
			font: 16px $font1;
			color: #474747;
			margin-bottom: 24px;
			min-height: 95px;
		}
	}
	&__more{
		width: 32px;
		height: 32px;
		border: 3px solid #dcdcdc;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		img{
			width: auto;
			margin: 0;
			transition: all 0.3s ease-in-out;
		}
		&.flex{
			justify-content: center;
		}
		&:hover{
			background: #dcdcdc;
			img{
				filter: brightness(0);
			}
		}
	}
}
.banner2{
	width: 100%;
}




@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (min-width: 1201px) and (max-width: 1650px) {
	.wrapper{
		max-width: 1170px;
	}
	.banner{
		&__left{
			h3{
				margin-bottom: 20px;
				font-size: 40px;
			}
			p{
				font: 22px/36px "TT Norms Regular";
				span{
					font-size: 27px;
				}
			}
		}
		&__right{
			margin-right: 50px;
			width: 500px;
		}
		&__list{
			span{
				font-size: 19px;
			}
		}
	}
	.adva{
		&__item{
			img{
				transform: scale(0.8);
			}
			span{
				font: 16px/22px "TT Norms Regular";
			}
		}
	}
	.servs{
		padding-top: 85px;
    	margin-bottom: 65px;
		&__tab{
			width: 280px;
			box-shadow: 0 22px 149px 19px rgba(0,0,0,.05);
    		padding: 20px 30px 35px;
    		&.active{
    			padding-bottom: 83px;
    			&:before{
    				width: 330px;
    				height: 300px;
    				left: -25px;
    			}
    		}
		}
		&__tabs{
			margin-bottom: 50px;
		}
		&__slide{
			height: 475px;
		}
		&__info{
			padding: 25px 40px;
			transform: translateY(300px);
			h2{
				font: 25px "TT Norms Medium";
				margin-bottom: 20px;
			}
		}
		&__list{
			i{
				font-size: 17px;
			    margin-right: 9px;
			    margin-top: 4px;

			}
			span{
				line-height: 27px;
				font-size: 17px;
			}
		}
		&__more{
			width: 304px;
    		height: 55px;
    		span{
    			font-size: 23px;
    		}
		}
	}
	.title{
		font-size: 38px;
		margin-bottom: 45px;
	}
	.tabs{
		&__text{
			font-size: 23px;
		}
	}
	.whywe{
		margin-bottom: 65px;
		user-select: none;
		&__img{
			width: 1000px;
			right: 50px;
    		top: 71px;
		}
		&__item{
			h3{
				font-size: 25px;
				margin-bottom: 15px;
			}
			p{
				font: 16px/26px "TT Norms Regular";
			}
			&_2{
				width: 735px;
				margin-bottom: 85px;
			}
		}
		&__list{
			margin: 15px 0 10px;
		}
		&__col{
			span{
				font: 17px/24px "TT Norms Medium";
			}
		}
		&__more{
			width: 340px;
		    height: 50px;
		    font-size: 20px;
		}
	}
	.news{
		&__slider{
			.slick-list{
				margin: 0 -15px;
			}
			.slick-slide{
				margin: 0 15px;
			}
		}
		&__info{
			p{
				font-size: 15px;
			}
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper{
		max-width: 940px;
	}
	.banner{
		&__left{
			h3{
				margin-bottom: 15px;
				font-size: 32px;
			}
			p{
				font: 20px/30px "TT Norms Regular";
				span{
					font-size: 23px;
				}
			}
		}
		&__right{
			margin-right: 50px;
			width: 400px;
			.slick-next, .slick-prev{
				width: 20px;
    			height: 38px;
    			margin-top: -19px;
			}
			.slick-prev{
				left: -40px;
			}
			.slick-next{
				right: -40px;
			}
		}
		&__slide{
			padding: 20px 30px 30px 30px;
			h3{
				font-size: 27px;
				margin-bottom: 20px;
				span{
					font-size: 30px;
				}
			}
		}
		&__list{
			i{
				font-size: 16px;
			}
			span{
				font-size: 16px;
			}
		}
		&__more{
			margin-top: 30px;
			p{
				font-size: 33px;
				span{
					font-size: 26px;
				}
			}
		}
	}
	.btn{
		width: 190px;
    	height: 40px;
	}
	.adva{
		&__item{
			&.flex{
				flex-direction: column;
			}
			img{
				transform: scale(0.8);
			}
			span{
				font: 16px/22px "TT Norms Regular";
				text-align: center;
   	 			margin-left: 0;
			}
		}
	}
	.servs{
		padding-top: 45px;
    	margin-bottom: 35px;
		&__tab{
			width: 230px;
			box-shadow: 0 18px 130px 15px rgba(0,0,0,.05);
    		padding: 15px 20px 25px;
    		&.active{
    			padding-bottom: 83px;
    			&:before{
    				width: 270px;
				    height: 270px;
				    left: -20px;
    			}
    		}
		}
		&__tabs{
			margin-bottom: 30px;
		}
		&__slide{
			height: 475px;
		}
		&__info{
			padding: 20px;
			transform: translateY(287px);
			h2{
				font: 21px "TT Norms Medium";
				margin-bottom: 15px;
			}
		}
		&__list{
			i{
				font-size: 15px;
			    margin-right: 9px;
			    margin-top: 7px;

			}
			span{
				line-height: 27px;
				font-size: 15px;
			}
		}
		&__more{
			width: 267px;
    		height: 47px;
    		span{
    			font-size: 21px;
    		}
    		img{
    			width: 12px;
    		}
		}
	}
	.title{
		font-size: 32px;
		margin-bottom: 45px;
	}
	.tabs{
		&__text{
			font-size: 21px;
		}
	}
	.whywe{
		margin-bottom: 65px;
		user-select: none;
		.title{
			margin-bottom: 35px;
		}
		&__img{
			width: 850px;
		    right: 25px;
		    top: 54px;
		}
		&__item{
			h3{
				font-size: 20px;
				margin-bottom: 15px;
			}
			p{
				font: 13px/22px "TT Norms Regular";
			}
			&_2{
				width: 600px;
				margin-bottom: 85px;
			}
		}
		&__list{
			margin: 15px 0 10px;
		}
		&__col{
			margin-right: 25px;
			&:last-child{
				margin-right: 0;
			}
			span{
				font: 14px/21px "TT Norms Medium";
			}
		}
		&__more{
			width: 300px;
		    height: 45px;
		    font-size: 18px;
		}
	}
	.news{
		padding-bottom: 70px;
		&__slider{
			.slick-list{
				margin: 0 -15px;
			}
			.slick-slide{
				margin: 0 15px;
			}
		}
		&__info{
			p{
				font-size: 15px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper{
		max-width: 740px;
	}
	.banner{
		padding: 100px 0;
		.wrapper{
			justify-content: center;
		}
		&__left{
			margin-bottom: 30px;
			h3{
				margin-bottom: 20px;
				font-size: 40px;
			}
			p{
				font: 22px/36px "TT Norms Regular";
				span{
					font-size: 27px;
				}
			}
		}
		&__right{
			margin-right: 0;
			width: 500px;
		}
		&__list{
			span{
				font-size: 19px;
			}
		}
	}
	.adva{
		&__item{
			img{
				transform: scale(0.8);
			}
			span{
				text-align: center;
				font: 16px/22px "TT Norms Regular";
			}
		}
	}
	.servs{
		padding-top: 35px;
    	margin-bottom: 25px;
		&__tab{
			width: 180px;
			box-shadow: 0 22px 149px 19px rgba(0,0,0,.05);
    		padding: 15px 20px 20px;
    		&.active{
    			padding-bottom: 83px;
    			&:before{
    				width: 212px;
				    height: 245px;
				    left: -16px;
    			}
    		}
		}
		&__tabs{
			margin-bottom: 10px;
		}
		&__slide{
			height: 475px;
		}
		&__info{
			padding: 25px 30px;
			transform: translateY(300px);
			h2{
				font: 25px "TT Norms Medium";
				margin-bottom: 20px;
			}
		}
		&__list{
			i{
				font-size: 17px;
			    margin-right: 9px;
			    margin-top: 4px;

			}
			span{
				line-height: 27px;
				font-size: 17px;
			}
		}
		&__more{
			width: 304px;
    		height: 55px;
    		span{
    			font-size: 23px;
    		}
		}
	}
	.title{
		font-size: 38px;
		margin-bottom: 45px;
	}
	.tabs{
		&__text{
			font-size: 17px;
		}
	}
	.whywe{
		margin-bottom: 65px;
		user-select: none;
		&__img{
			display: none;
		}
		&__item{
			h3{
				font-size: 25px;
				margin-bottom: 15px;
			}
			p{
				font: 13px/24px "TT Norms Regular";
				br{
					display: none;
				}
			}
			&_1{
				margin-bottom: 40px;
				width: 70%;
				position: relative;
				&:after{
					content: "";
				    width: 300px;
				    height: 300px;
				    background: url(../img/why1.png);
				    background-size: 100% 100%;
				    position: absolute;
				    right: -260px;
				    top: -45px;
				}
			}
			&_2{
				width: 735px;
				margin-bottom: 40px;
				width: 70%;
				position: relative;
				&:before{
					content: "";
				    width: 300px;
				    height: 300px;
				    background: url(../img/why2.png);
				    background-size: 100% 100%;
				    position: absolute;
				    left: -260px;
				    top: 30px;
				}
			}
			&_3{
				margin-bottom: 40px;
				width: 70%;
				position: relative;
				&:after{
					content: "";
				    width: 300px;
				    height: 300px;
				    background: url(../img/why3.png);
				    background-size: 100% 100%;
				    position: absolute;
				    right: -260px;
				    top: -7px;
				}
			}
		}
		&__list{
			margin: 15px 0 10px;
		}
		&__col{
			margin-right: 20px;
			span{
				font: 14px/19px "TT Norms Medium";
				padding-left: 15px;
			}
		}
		&__more{
			width: 340px;
		    height: 50px;
		    font-size: 20px;
		}
	}
	.news{
		padding-bottom: 60px;
		&__slider{
			.slick-list{
				margin: 0 -15px;
			}
			.slick-slide{
				margin: 0 15px;
			}
		}
		&__info{
			p{
				font-size: 15px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.wrapper{
		max-width: calc(100% - 30px);
	}
	.banner{
		padding: 50px 0 100px;
		margin-top: 96px;
		&__left{
			margin-bottom: 25px;
			h3{
				font-size: 30px;
			}
			p{
				font: 22px/30px "TT Norms Regular";
				span{
					font-size: 25px;
				}
			}
		}
		&__right{
			width: 100%;
    		max-width: 400px;
    		margin-right: 0;
		}
		&__slide{
			padding: 20px;
			h3{
				font-size: 25px;
				margin-bottom: 20px;
				span{
					font-size: 25px;
				}
			}
		}
		&__list{
			span{
				width: calc(100% - 40px);
			}
		}
		&__more{
			margin-top: 20px;
			p{
				font-size: 30px;
				span{
					font-size: 25px;
				}
			}
		}
	}
	.btn{
		width: 165px;
    	height: 50px;
    	span{
    		font-size: 19px;
    	}
	}
	.adva{
		padding: 20px 0;
		&__item{
			width: 100%;
			border: 0;
			&.flex{
				display: flex !important;
				flex-direction: column;
			}
			span{
				text-align: center;
				margin-left: 0;
			}
		}
	}
	.servs{
		padding-top: 30px;
    	margin-bottom: 25px;
    	&__tabs{
    		margin-bottom: 20px;
    		&.flex{
    			align-items: stretch;
    		}
    	}
    	&__tab{
    		width: 49%;
    		padding: 20px 0;
    		margin-bottom: 1%;
    		&.active{
    			padding: 20px 0;
    			background: linear-gradient(to bottom, #fec33d, #ed953c);
    			&:before{
    				content: none;
    			}
    		}
    	}
    	&__info{
    		padding: 15px;
    		transform: translateY(84%);
    		h2{
    			font-size: 23px;
    			margin-bottom: 15px;
    		}
    	}
    	&__list{
    		span{
    			width: calc(100% - 40px);
    			line-height: 26px;
    			font-size: 16px;
    			br{
    				display: none;
    			}
    		}
    	}
    	&__slide{
    		height: 470px;
    	}
    	&__more{
    		width: 100%;
    		height: 50px;
    		padding: 0 20px;
    		span{
    			font-size: 20px;
    		}
    		img{
    			width: 11px;
    		}
    	}
	}
	.tabs{
		&__icon{
		    margin-bottom: 0;
		    &.flex{
		    	justify-content: center;
		    }
		}
		&__text{
			font: 20px "TT Norms Regular";
    		text-align: center;
		}
	}
	.title{
		font-size: 34px;
	}
	.whywe{
		margin-bottom: 40px;
		.title{
			margin-bottom: 35px;
		}
		&__img{
			display: none;
		}
		&__item{
			margin-bottom: 20px;
			h3{
				font-size: 23px;
			}
			p{
				font-size: 18px;
				line-height: 28px;
				br{
					display: none;
				}
			}
			&_1{
				position: relative;
				padding-top: 280px;
				&:before{
					content: "";
					width: 400px;
					height: 400px;
					position: absolute;
					top: -55px;
					left: 50%;
					margin-left: -200px;
					background: url(../img/why1.png);
					background-size: 100% 100%;
				}
			}
			&_2{
				position: relative;
				padding-top: 280px;
				width: 100%;
				&:before{
					content: "";
					width: 400px;
					height: 400px;
					position: absolute;
					top: -55px;
					left: 50%;
					margin-left: -200px;
					background: url(../img/why2.png);
					background-size: 100% 100%;
				}
			}
			&_3{
				position: relative;
				padding-top: 280px;
				&:before{
					content: "";
					width: 400px;
					height: 400px;
					position: absolute;
					top: -55px;
					left: 50%;
					margin-left: -200px;
					background: url(../img/why3.png);
					background-size: 100% 100%;
				}
			}
		}
		&__list{
			margin: 20px 0;
		}
		&__col{
			margin: 15px 0;
			span{
				padding-left: 25px;
				font: 18px/27px "TT Norms Medium";
			}
		}
		&__more{
			width: 100%;
    		max-width: 350px;
    		font-size: 21px;
		}
	}
	.news{
		padding-bottom: 40px;
	}
}



