
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}

/* titles */
/*p{	
	@include font($base-font-size,$base-line-height,$text-color);
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	font-weight: 400;
}*/

/* text position */
/*.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}*/


/* loader */
/*.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}*/


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	order: 2;
    -webkit-order: 2;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.btn{
	position: relative;
	text-transform: uppercase;
	width: 205px;
	height: 66px;
	border: 2px solid #db8c6a;
	padding: 0 30px;
	transform: perspective(1px) translateZ(0);
	transition: all 0.5s ease;
	span{
		display: block;
		font: 700 14px $font;
		color: #282828;
		position: relative;
		text-align: left;
		&:after{
			content: "";
			width: 14px;
			height: 12px;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -6px;
			background: url(../img/arrow.png);
			background-size: 100% 100%;
		}
	}
	&:before{
		content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: #db8c6a;
	    -webkit-transform: scaleX(0);
	    transform: scaleX(0);
	    -webkit-transform-origin: 0 50%;
	    transform-origin: 0 50%;
	    -webkit-transition-property: transform;
	    transition-property: transform;
	    -webkit-transition-duration: 0.5s;
	    transition-duration: 0.5s;
	    -webkit-transition-timing-function: ease-out;
	    transition-timing-function: ease-out;
	}
	&:hover{
		span{
			color: #fff;
			&:after{
				filter: brightness(0) invert(1);
			}
		}
		&:before{
			transform: scaleX(1);
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
	&_2{
		width: 225px;
		border-color: #e8e8e8;
		&:before{
			background: #e8e8e8;;
		}
		&:hover{
			span{
				color: #282828;
				&:after{
					filter: none;
				}
			}
		}
	}
	&_3, &_4{
		min-width: 120px;
		width: 48%;
		height: 42px;
		border-width: 1px;
		padding: 0;
		border-radius: 0;
		span{
			font: 300 14px $font;
			text-align: center;
			&:after{
				content: none;
			}
		}
	}
	&_4{
		border-color: #e8e8e8;
		&:before{
			background: #e8e8e8;;
		}
		&:hover{
			span{
				color: #282828;
				&:after{
					filter: none;
				}
			}
		}
	}
	&:focus{
		box-shadow: 0 0 0 0;
	}
}
.title{
	font: 400 30px $font;
	color: #161616;
	margin-bottom: 30px;
}
.banner{
	&__slider{
		position: relative;
	}
	&__slide{
		padding: 100px 0;
		background: url(../img/banner.jpg) center center no-repeat;
		background-size: cover;
	}
	&__title{
		font: 300 48px/54px $font;
		color: #000;
		margin-bottom: 25px;
		b{
			font-weight: 700;
		}
	}
	&__desc{
		font: 400 16px/30px $font;
		color: #000;
		margin-bottom: 55px;
	}
	&__control{
		width: 65px;
		height: 65px;
		box-shadow: 0 0 0 999px rgba(0,0,0,0.25) inset;
		top: auto;
		bottom: 100px;
		opacity: 1 !important;
		transition: all 0.3s ease;
		&:hover{
			box-shadow: 0 0 0 999px rgba(0,0,0,0.75) inset;
		}
		&.carousel-control-prev{
			left: auto;
			right: 50%;
    		margin-right: -490px;
			img{
				transform: rotate(180deg);
			}
		}
		&.carousel-control-next{
			right: 50%;
    		margin-right: -555px;
		}
	}
}
.brands{
	padding: 75px 0 45px;
	background: #fff;
	&__slider{
		.slick-slide{
			margin: 0 15px;
		}
		.slick-list{
			margin: 0 -15px;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
		}
		.slick-prev, .slick-next{
			width: 40px;
			height: 38px;
			text-indent: 9999px;
			background: url(../img/arrow.png) center center no-repeat;
			border: 0;
			position: absolute;
			top: -68px;
			right: 50%;
			z-index: 2;
		}
		.slick-prev{
			margin-right: -527px;
			transform: rotate(180deg);
		}
		.slick-next{
			margin-right: -567px;
		}
	}
	&__slide{
		height: 265px;
		background: #f4f3f2;
		transition: all 0.3s ease;
		&:hover{
			background: #fff;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
		}
	}
}
.about{
	padding: 65px 0 50px;
	&__box{
		height: 100%;
		padding-bottom: 15px;
	}
	&__text{
		margin-bottom: 20px;
		p{
			font: 400 14px/24px $font;
			color: #4a4a4a;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__contr{
		&.carousel-control-next{
			bottom: 0;
			right: 0;
			margin: 0;
		}
		&.carousel-control-prev{
			bottom: 0;
			right: 65px;
			margin: 0;
		}
	}
}
.guar{
	padding: 50px 0 55px;
	.title{
		margin-bottom: 50px;
	}
	&__banner{
		width: 100%;
	}
	&__item{
		position: relative;
		top: -41px;
		span{
			font: 300 48px $font;
			color: #fff;
			display: inline-block;
			margin-bottom: 30px;
			line-height: 48px;
		}
		h4{
			font: 400 18px $font;
			color: #161616;
			margin-bottom: 20px;
		}
		p{
			font: 400 14px/24px $font;
			color: #4a4a4a;
		}
	}
}
.sert{
	padding: 55px 0 5px;
	background: #fff;
	&__slider{
		.slick-slide{
			margin: 0 15px;
		}
		.slick-list{
			margin: 0 -15px;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
		}
		.slick-prev, .slick-next{
			width: 40px;
			height: 38px;
			text-indent: 9999px;
			background: url(../img/arrow.png) center center no-repeat;
			border: 0;
			position: absolute;
			top: -68px;
			right: 50%;
			z-index: 2;
		}
		.slick-prev{
			margin-right: -527px;
			transform: rotate(180deg);
		}
		.slick-next{
			margin-right: -567px;
		}
	}
	&__slide{
		height: 335px;
		background: #f4f3f2;
		transition: all 0.3s ease;
		&:hover{
			background: #fff;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
		}
	}
}
.consult{
	position: relative;
	&__box{
		background: #fff;
		position: relative;
		z-index: 3;
		top: 60px;
		padding: 60px 55px;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	}
	&__info{
		width: 380px;
		padding-top: 15px;
		h3{
			font: 400 30px/36px $font;
			color: #000;
			margin-bottom: 18px;
		}
		p{
			font: 400 14px/18px $font;
			color: #000;
			a{
				color: #db8c6a;
				text-decoration: underline;
			}
		}
	}
	&__form{
		width: 445px;
		input{
			width: 210px;
			height: 65px;
			border: 0;
			border-bottom: 1px solid #131313;
			border-radius: 0;
			color: #000;
			font: 400 14px/30px $font;
			transition: all 0.3s ease;
			&::placeholder{
				color: #6b6b6b;
				font: 400 14px/30px $font;
			}
			&:focus{
				padding-left: 10px;
			}
		}
		.btn{
			margin-top: 30px;
		}
	}
}
.pagebanner{
	padding: 170px 0;
	&_1{
		background: url(../img/qna-banner.jpg) center center no-repeat;
		background-size: cover;
	}
	&_2{
		background: url(../img/access-banner.jpg) center center no-repeat;
		background-size: cover;
	}
	&_3{
		background: url(../img/contact-banner.jpg) center center no-repeat;
		background-size: cover;
	}
	&_4{
		background: url(../img/producer-banner.jpg) center center no-repeat;
		background-size: cover;
	}
	&_5{
		background: url(../img/equipment-banner.jpg) center center no-repeat;
		background-size: cover;
	}
	&__title{
		font: 300 48px $font;
		color: #fff;
		margin-bottom: 15px;
	}
}
.breadcrumbs{
	&__link{
		font: 400 14px $font;
		color: #fff;
		display: inline-block;
		&:hover{
			color: #db8c6a;
		}
	}
	&__sep{
		font: 400 14px $font;
		color: #fff;
		display: inline-block;
		margin: 0 3px;
	}
}
/*Qna page*/
.qna{
	padding: 55px 0 35px;
	background: #fff;
	&__item{
		width: 100%;
		border-bottom: 1px solid #e8e8e8;
		cursor: pointer;
		&.active{
			.qna{
				&__title{
					color: #db8c6a;
				}
				&__more{
					border-color: #db8c6a;
					span{
						&.minus{
							display: inline-block;
						}
						&.plus{
							display: none;
						}
					}
				}
			}
		}
		&:hover{
			.qna{
				&__title{
					color: #db8c6a;
				}
			}
		}
	}
	&__title{
		width: 100%;
		padding: 18px 0;
		transition: all 0.3s ease;
		h3{
			font: 400 16px $font;
			color: #393939;
			max-width: 85%;
		}
	}
	&__more{
		width: 32px;
		height: 32px;
		border: 1px solid #e9e9e9;
		border-radius: 100%;
		transition: all 0.3s ease;
		span{
			font: 400 14px $font;
			color: #151515;
			&.minus{
				display: none;
			}
		}
	}
	&__text{
		padding: 25px 0;
		border-top: 1px solid #e8e8e8;
		display: none;
		p{
			font: 400 14px/24px $font;
			color: #6b6b6b;
		}
	}
}
/*Qna page end*/
/*accessories page*/
.accessories{
	padding: 50px 0 20px;
	background: #fff;
	&__box{
		margin-bottom: 15px;
	}
	&__item{
		margin-bottom: 40px;
		display: none;
		&:hover{
			.accessories{
				&__img{
					box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
					&:before{
						opacity: 0;
					}
				}
			}
		}
		&.active{
			display: block;
		}
	}
	&__img{
		width: 100%;
		height: 282px;
		margin-bottom: 35px;
		position: relative;
		transition: all 0.3s ease;
		&:before{
			content: "";
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			box-shadow: 0 0 0 9999px rgba(0,0,0,0.03) inset;
			z-index: 2;
			transition: all 0.3s ease;
		}
		/*&:hover{
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
			&:before{
				opacity: 0;
			}
		}*/
		img{
			max-width: 100%;
		}
	}
	&__info{
		h3{
			font: 400 18px $font;
			color: #161616;
			margin-bottom: 15px;
		}
		p{
			font: 400 14px/24px $font;
			color: #6b6b6b;
			margin-bottom: 15px;
		}
	}
	&__price{
		display: block;
		font: 700 18px $font;
		color: #db8c6a;
		margin-bottom: 15px;
	}
	&__btns{
		width: 100%;
	}
	.btn{
		&_2{
			display: block;
			margin: 0 auto;
		}
	}
}
/*accessories page end*/
/*contact*/
.contact{
	padding: 60px 0 45px;
	.title{
		margin-bottom: 50px;
	}
	&__item{
		width: 50%;
		min-width: 210px;
		p{
			font: 400 14px/24px $font;
			color: #393939;
			a{
				font: 400 14px/24px $font;
				color: #393939;
				&:hover{
					color: #db8c6a;
				}
			}
		}
	}
	&__email{
		display: block;
		font: 400 16px $font;
		color: #393939;
		margin-bottom: 25px;
		text-decoration: underline;
		&:hover{
			color: #db8c6a;
		}
	}
	&__map{
		width: 100%;
		height: 280px;
	}
	.btn{
		padding: 0 20px;
		width: 210px;
		margin-top: 50px;
	}
}
/*contact end*/
/*producer page*/
.producer{
	padding: 60px 0 50px;
	&__slider{
		margin-bottom: 100px;
		.slick-slide{
			margin: 0 15px;
		}
		.slick-list{
			margin: 0 -15px;
			padding-top: 15px;
		}
		.slick-prev, .slick-next{
			width: 40px;
			height: 38px;
			text-indent: 9999px;
			background: url(../img/arrow.png) center center no-repeat;
			border: 0;
			position: absolute;
			top: -68px;
			right: 50%;
			z-index: 2;
		}
		.slick-prev{
			margin-right: -527px;
			transform: rotate(180deg);
		}
		.slick-next{
			margin-right: -567px;
		}
	}
	&__img{
		width: 100%;
		height: 375px;
	}
	&__info{
		padding-top: 20px;
	}
	&__text{
		p{
			font: 400 14px/24px $font;
			color: #4a4a4a;
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__contr{
		width: 65px;
		height: 65px;
		box-shadow: 0 0 0 999px rgba(0,0,0,0.25) inset;
		top: auto;
		bottom: 0;
		opacity: 1 !important;
		transition: all 0.3s ease;
		&:hover{
			box-shadow: 0 0 0 999px rgba(0,0,0,0.75) inset;
		}
		&.carousel-control-prev{
			left: auto;
			right: 65px;
			img{
				transform: rotate(180deg);
			}
		}
		&.carousel-control-next{
			right: 0;
		}
	}
}
/*producer page end*/
/*equipment page*/
.equipment{
	padding: 60px 0 50px;
	&__slider{
		margin-bottom: 40px;
		.slick-slide{
			margin: 0 15px;
		}
		.slick-list{
			margin: 0 -15px;
			padding-top: 15px;
		}
		.slick-prev, .slick-next{
			width: 40px;
			height: 38px;
			text-indent: 9999px;
			background: url(../img/arrow.png) center center no-repeat;
			border: 0;
			position: absolute;
			top: -68px;
			right: 50%;
			z-index: 2;
		}
		.slick-prev{
			margin-right: -527px;
			transform: rotate(180deg);
		}
		.slick-next{
			margin-right: -567px;
		}
	}
	&__img{
		width: 100%;
		height: 375px;
	}
	&__item{
		margin-bottom: 0;
	}
	&__image{
		img{
			width: 100%;
		}
	}
	&__info{
		.title{
			margin-bottom: 10px;
		}
	}
	&__char{
		padding: 22px 0;
		border-bottom: 1px solid #e8e8e8;
		p{
			font: 400 14px $font;
			color: #7d7d7d;
		}
		span{
			display: block;
			font: 400 14px $font;
			color: #151515;
		}
	}
	&__desc{
		padding-top: 40px;
		p{
			font: 400 14px/24px $font;
			color: #7d7d7d;
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.purpose{
	margin-bottom: 70px;
	&__img{
		img{
			position: relative;
			left: -18px;
		}
	}
	&__item{
		h3{
			font: 400 18px $font;
			color: #161616;
			margin-bottom: 15px;
		}
		p{
			font: 400 14px/24px $font;
			color: #6b6b6b;
		}
	}
}
/*equipment page end*/
/*Modal*/
.modal{
	&-cont{
		position: relative;
		width: 555px;
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -277.5px;
		background: #fff;
		border: 0;
		opacity: 0;
		z-index: -1;
		background: #fff;
	}
	&-close{
		cursor: pointer;
		position: absolute;
	  	right: 25px;
	    top: 20px;
	  	width: 9px;
	  	height: 9px;
	  	background: url(../img/close.png);
	  	background-size: 100% 100%;
	}
	&__container{
		padding: 50px 55px 65px 55px;
	}
	&__info{
		width: 100%;
		margin-bottom: 15px;
		h3{
			font: 400 30px/36px $font;
			color: #000;
			margin-bottom: 18px;
		}
		p{
			font: 400 14px/18px $font;
			color: #000;
			a{
				color: #db8c6a;
				text-decoration: underline;
			}
		}
	}
	&__form{
		width: 100%;
		input{
			width: 210px;
			height: 65px;
			border: 0;
			border-bottom: 1px solid #131313;
			border-radius: 0;
			color: #000;
			font: 400 14px/30px $font;
			transition: all 0.3s ease;
			&::placeholder{
				color: #6b6b6b;
				font: 400 14px/30px $font;
			}
			&:focus{
				padding-left: 10px;
			}
		}
		.btn{
			margin-top: 30px;
			padding: 0 20px;
		}
	}
}
.overlay{
	display: none;
	background: #363636;
	position: fixed;
	top: 0;
	left: 0;
  	width: 100%;
  	height: 100%;
  	opacity: 0.8;
  	-moz-opacity:0.8; 
  	filter:alpha(opacity=8);
	z-index: 9998;
	overflow: hidden;
}
/*Modal end*/


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media (max-width: 1199.98px) {
	.btn{
		&_3,&_4{
			min-width: 100px;
		}
	}
	.consult{
		&__info{
			h3{
				font: 400 26px/36px "Roboto", sans-serif;
			}
		}
	}
	.banner{
		&__control{
			&.carousel-control-prev{
				margin-right: -400px;
			}
			&.carousel-control-next{
				margin-right: -465px;
			}
		}
	}
	.brands{
		&__slider{
			.slick-prev{
				margin-right: -435px;
			}
			.slick-next{
				margin-right: -475px;
			}
		}
	}
	.about{
		&__contr{
			&.carousel-control-next{
				bottom: 0;
			    right: 0;
			    margin: 0;
			}
			&.carousel-control-prev{
				bottom: 0;
			    right: 65px;
			    margin: 0;
			}
		}
	}
	.sert{
		&__slider{
			.slick-prev{
				margin-right: -435px;
			}
			.slick-next{
				margin-right: -475px;
			}
		}
	}
	.consult{
		&__info{
			width: 360px;
		}
	}
	/*Producer page*/
	.producer{
		&__slider{
			margin-bottom: 50px;
			.slick-prev{
				margin-right: -435px;
			}
			.slick-next{
				margin-right: -475px;
			}
		}
	}
	/*Producer page end*/
	/*equipment page*/
	.equipment{
		&__slider{
			margin-bottom: 50px;
			.slick-prev{
				margin-right: -435px;
			}
			.slick-next{
				margin-right: -475px;
			}
		}
	}
	/*equipment page end*/
}

@media (max-width: 991.98px) {
	.banner{
		&__control{
			&.carousel-control-prev{
				margin-right: -285px;
			}
			&.carousel-control-next{
				margin-right: -350px;
			}
		}
	}
	.brands{
		&__slider{
			.slick-prev{
				margin-right: -315px;
			}
			.slick-next{
				margin-right: -355px;
			}
		}
	}
	.guar{
		&__item{
			span{
				color: #f4f3f2;
			}
		}
	}
	.about{
		&__contr{
			&.carousel-control-next{
				bottom: 0;
			    right: 0;
			    margin: 0;
			}
			&.carousel-control-prev{
				bottom: 0;
			    right: 65px;
			    margin: 0;
			}
		}
	}
	.sert{
		&__slider{
			.slick-prev{
				margin-right: -315px;
			}
			.slick-next{
				margin-right: -355px;
			}
		}
	}
	.consult{
		&__box{
			padding: 40px 55px;
		}
		&__info{
			width: 100%;
			padding-top: 0;
		}
		&__form{
			width: 100%;
			input{
				width: 250px;
			}
		}
	}
	/*Producer page*/
	.producer{
		&__slider{
			.slick-prev{
				margin-right: -315px;
			}
			.slick-next{
				margin-right: -355px;
			}
		}
	}
	/*Producer page end*/
	/*equipment page*/
	.equipment{
		padding: 60px 0 0;
		&__slider{
			.slick-prev{
				margin-right: -315px;
			}
			.slick-next{
				margin-right: -355px;
			}
		}
		&__image{
			margin-bottom: 30px;
		}
	}
	/*equipment page end*/
}

@media (max-width: 767.98px) {
	.content{
		padding-top: 66px;
	}
	.title{
		font-size: 22px;
		margin-bottom: 20px;
	}
	.banner{
		&__slide{
			padding: 50px 0;
			box-shadow: 0 0 0 9999px rgba(255,255,255,0.2) inset;
		}
		&__title{
			font: 300 24px/35px "Roboto", sans-serif;
		}
		&__desc{
			margin-bottom: 25px;
		}
		&__control{
			display: none !important;
		}
	}
	.brands{
		padding: 35px 0 25px;
		&__slider{
			.slick-prev, .slick-next{
				display: none;
			}
		}
	}
	.about{
		padding: 20px 0 20px;
		&__contr{
			display: flex !important;
			&.carousel-control-next{
				bottom: 0;
			    right: 0;
			    margin: 0;
			}
			&.carousel-control-prev{
				bottom: 0;
			    right: 65px;
			    margin: 0;
			}
		}
	}
	.guar{
		padding: 20px 0 0;
		.title{
			margin-bottom: 30px;
		}
	}
	.sert{
		padding: 0 0 5px;
	}
	.consult{
		&__box{
			padding: 20px;
		}
		&__info{
			h3{
				font: 400 20px/28px "Roboto", sans-serif;
			}
		}
	}
	.pagebanner{
		padding: 50px 0;
		&__title{
			font-size: 30px;
		}
	}
	/*qna page*/
	.qna{
		padding: 35px 0 0;
	}
	/*qna page end*/
	/*Contact page*/
	.contact{
		padding: 30px 0 0;
		.title{
			margin-bottom: 25px;
		}
		.btn{
			margin-top: 25px;
		}
	}
	/*Contact page end*/
	/*Producer page*/
	.producer{
		padding: 30px 0 0;
		&__slider{
			margin-bottom: 20px;
			.slick-prev, .slick-next{
				display: none;
			}
		}
	}
	/*Producer page end*/
	/*equipment page*/
	.equipment{
		padding: 30px 0 0;
		&__slider{
			margin-bottom: 20px;
			.slick-prev, .slick-next{
				display: none;
			}
		}
		&__char{
			p{
				width: 60%;
			}
			span{
				width: 40%;
			}
		}
	}
	.purpose{
		margin-bottom: 30px;
		&__item{
			margin-bottom: 20px;
		}
	}
	/*equipment page end*/
	.modal{
		&-cont{
			width: 300px;
			margin-left: -150px;
		}
		&__container{
			padding: 20px 20px 30px;
		}
		&__info{
			margin-bottom: 0;
			h3{
				font: 400 25px/28px "Roboto", sans-serif;
				margin-bottom: 10px;
			}
		}
		&__form{
			input{
				height: 55px;
			}
			.btn{
				height: 55px;
			}
		}
	}
}

@media (max-width: 575.98px) {

}



