
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	order: 3;	
    -webkit-order: 3;	
}
.footer{
	padding: 3.8% 0 0;
	.connectform{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3%;
		&__h2{
			margin-bottom: 4%;
		}
	}
}
.socials{
	text-align: center;
	padding: 2% 0 3%;
	background: url(../img/fbg.png) top center no-repeat;
	a{
		display: inline-block;
		width: 3.125%;
		margin: 0 1%;
	}
	img{
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.footer{
		padding: 9.8% 0 0;
		.connectform{
			margin-bottom: 12.6%;
			text-align: center;
		}
	}
	.socials{
		padding: 10% 0 7.4%;
		a{
			width: 12.5%;
			margin: 0 4%
		}
	}
}